// Font path
// --------------------------
@font-face {

  font-family: '#{$io-font-family}';
  src: url('#{$io-font-path}/#{$io-font-file}.eot?v=#{$io-version}');
  src: url('#{$io-font-path}/#{$io-font-file}.eot?#iefix&v=#{$io-version}') format('embedded-opentype'),

    url('#{$io-font-path}/#{$io-font-file}.woff?v=#{$io-version}') format('woff'),
    url('#{$io-font-path}/#{$io-font-file}.ttf?v=#{$io-version}') format('truetype'),
    url('#{$io-font-path}/#{$io-font-file}.svg?v=#{$io-version}##{$io-font-file}') format('svg');
  font-weight: normal;
  font-style: normal;
}
