// Variables
// --------------------------
$io-font-path:        ".";
$io-font-file:        "open-iconic";
$io-font-family:      "Open iconic";
$io-css-prefix:       io;
$io-version:          "1.1.1";

$io-var-account-login: "\e000";
$io-var-account-logout: "\e001";
$io-var-action-redo: "\e002";
$io-var-action-undo: "\e003";
$io-var-align-center: "\e004";
$io-var-align-left: "\e005";
$io-var-align-right: "\e006";
$io-var-aperture: "\e007";
$io-var-arrow-bottom: "\e008";
$io-var-arrow-circle-bottom: "\e009";
$io-var-arrow-circle-left: "\e00a";
$io-var-arrow-circle-right: "\e00b";
$io-var-arrow-circle-top: "\e00c";
$io-var-arrow-left: "\e00d";
$io-var-arrow-right: "\e00e";
$io-var-arrow-thick-bottom: "\e00f";
$io-var-arrow-thick-left: "\e010";
$io-var-arrow-thick-right: "\e011";
$io-var-arrow-thick-top: "\e012";
$io-var-arrow-top: "\e013";
$io-var-audio-spectrum: "\e014";
$io-var-audio: "\e015";
$io-var-badge: "\e016";
$io-var-ban: "\e017";
$io-var-bar-chart: "\e018";
$io-var-basket: "\e019";
$io-var-battery-empty: "\e01a";
$io-var-battery-full: "\e01b";
$io-var-beaker: "\e01c";
$io-var-bell: "\e01d";
$io-var-bluetooth: "\e01e";
$io-var-bold: "\e01f";
$io-var-bolt: "\e020";
$io-var-book: "\e021";
$io-var-bookmark: "\e022";
$io-var-box: "\e023";
$io-var-briefcase: "\e024";
$io-var-british-pound: "\e025";
$io-var-browser: "\e026";
$io-var-brush: "\e027";
$io-var-bug: "\e028";
$io-var-bullhorn: "\e029";
$io-var-calculator: "\e02a";
$io-var-calendar: "\e02b";
$io-var-camera-slr: "\e02c";
$io-var-caret-bottom: "\e02d";
$io-var-caret-left: "\e02e";
$io-var-caret-right: "\e02f";
$io-var-caret-top: "\e030";
$io-var-cart: "\e031";
$io-var-chat: "\e032";
$io-var-check: "\e033";
$io-var-chevron-bottom: "\e034";
$io-var-chevron-left: "\e035";
$io-var-chevron-right: "\e036";
$io-var-chevron-top: "\e037";
$io-var-circle-check: "\e038";
$io-var-circle-x: "\e039";
$io-var-clipboard: "\e03a";
$io-var-clock: "\e03b";
$io-var-cloud-download: "\e03c";
$io-var-cloud-upload: "\e03d";
$io-var-cloud: "\e03e";
$io-var-cloudy: "\e03f";
$io-var-code: "\e040";
$io-var-cog: "\e041";
$io-var-collapse-down: "\e042";
$io-var-collapse-left: "\e043";
$io-var-collapse-right: "\e044";
$io-var-collapse-up: "\e045";
$io-var-command: "\e046";
$io-var-comment-square: "\e047";
$io-var-compass: "\e048";
$io-var-contrast: "\e049";
$io-var-copywriting: "\e04a";
$io-var-credit-card: "\e04b";
$io-var-crop: "\e04c";
$io-var-dashboard: "\e04d";
$io-var-data-transfer-download: "\e04e";
$io-var-data-transfer-upload: "\e04f";
$io-var-delete: "\e050";
$io-var-dial: "\e051";
$io-var-document: "\e052";
$io-var-dollar: "\e053";
$io-var-double-quote-sans-left: "\e054";
$io-var-double-quote-sans-right: "\e055";
$io-var-double-quote-serif-left: "\e056";
$io-var-double-quote-serif-right: "\e057";
$io-var-droplet: "\e058";
$io-var-eject: "\e059";
$io-var-elevator: "\e05a";
$io-var-ellipses: "\e05b";
$io-var-envelope-closed: "\e05c";
$io-var-envelope-open: "\e05d";
$io-var-euro: "\e05e";
$io-var-excerpt: "\e05f";
$io-var-expand-down: "\e060";
$io-var-expand-left: "\e061";
$io-var-expand-right: "\e062";
$io-var-expand-up: "\e063";
$io-var-external-link: "\e064";
$io-var-eye: "\e065";
$io-var-eyedropper: "\e066";
$io-var-file: "\e067";
$io-var-fire: "\e068";
$io-var-flag: "\e069";
$io-var-flash: "\e06a";
$io-var-folder: "\e06b";
$io-var-fork: "\e06c";
$io-var-fullscreen-enter: "\e06d";
$io-var-fullscreen-exit: "\e06e";
$io-var-globe: "\e06f";
$io-var-graph: "\e070";
$io-var-grid-four-up: "\e071";
$io-var-grid-three-up: "\e072";
$io-var-grid-two-up: "\e073";
$io-var-hard-drive: "\e074";
$io-var-header: "\e075";
$io-var-headphones: "\e076";
$io-var-heart: "\e077";
$io-var-home: "\e078";
$io-var-image: "\e079";
$io-var-inbox: "\e07a";
$io-var-infinity: "\e07b";
$io-var-info: "\e07c";
$io-var-italic: "\e07d";
$io-var-justify-center: "\e07e";
$io-var-justify-left: "\e07f";
$io-var-justify-right: "\e080";
$io-var-key: "\e081";
$io-var-laptop: "\e082";
$io-var-layers: "\e083";
$io-var-lightbulb: "\e084";
$io-var-link-broken: "\e085";
$io-var-link-intact: "\e086";
$io-var-list-rich: "\e087";
$io-var-list: "\e088";
$io-var-location: "\e089";
$io-var-lock-locked: "\e08a";
$io-var-lock-unlocked: "\e08b";
$io-var-loop-circular: "\e08c";
$io-var-loop-square: "\e08d";
$io-var-loop: "\e08e";
$io-var-magnifying-glass: "\e08f";
$io-var-map-marker: "\e090";
$io-var-map: "\e091";
$io-var-media-pause: "\e092";
$io-var-media-play: "\e093";
$io-var-media-record: "\e094";
$io-var-media-skip-backward: "\e095";
$io-var-media-skip-forward: "\e096";
$io-var-media-step-backward: "\e097";
$io-var-media-step-forward: "\e098";
$io-var-media-stop: "\e099";
$io-var-medical-cross: "\e09a";
$io-var-menu: "\e09b";
$io-var-microphone: "\e09c";
$io-var-minus: "\e09d";
$io-var-monitor: "\e09e";
$io-var-moon: "\e09f";
$io-var-move: "\e0a0";
$io-var-musical-note: "\e0a1";
$io-var-paperclip: "\e0a2";
$io-var-pencil: "\e0a3";
$io-var-people: "\e0a4";
$io-var-person: "\e0a5";
$io-var-phone: "\e0a6";
$io-var-pie-chart: "\e0a7";
$io-var-pin: "\e0a8";
$io-var-play-circle: "\e0a9";
$io-var-plus: "\e0aa";
$io-var-power-standby: "\e0ab";
$io-var-print: "\e0ac";
$io-var-project: "\e0ad";
$io-var-pulse: "\e0ae";
$io-var-puzzle-piece: "\e0af";
$io-var-question-mark: "\e0b0";
$io-var-rain: "\e0b1";
$io-var-random: "\e0b2";
$io-var-reload: "\e0b3";
$io-var-resize-both: "\e0b4";
$io-var-resize-height: "\e0b5";
$io-var-resize-width: "\e0b6";
$io-var-rss-alt: "\e0b7";
$io-var-rss: "\e0b8";
$io-var-script: "\e0b9";
$io-var-share-boxed: "\e0ba";
$io-var-share: "\e0bb";
$io-var-shield: "\e0bc";
$io-var-signal: "\e0bd";
$io-var-signpost: "\e0be";
$io-var-sort-ascending: "\e0bf";
$io-var-sort-descending: "\e0c0";
$io-var-spreadsheet: "\e0c1";
$io-var-star: "\e0c2";
$io-var-sun: "\e0c3";
$io-var-tablet: "\e0c4";
$io-var-tag: "\e0c5";
$io-var-tags: "\e0c6";
$io-var-target: "\e0c7";
$io-var-task: "\e0c8";
$io-var-terminal: "\e0c9";
$io-var-text: "\e0ca";
$io-var-thumb-down: "\e0cb";
$io-var-thumb-up: "\e0cc";
$io-var-timer: "\e0cd";
$io-var-transfer: "\e0ce";
$io-var-trash: "\e0cf";
$io-var-underline: "\e0d0";
$io-var-vertical-align-bottom: "\e0d1";
$io-var-vertical-align-center: "\e0d2";
$io-var-vertical-align-top: "\e0d3";
$io-var-video: "\e0d4";
$io-var-volume-high: "\e0d5";
$io-var-volume-low: "\e0d6";
$io-var-volume-off: "\e0d7";
$io-var-warning: "\e0d8";
$io-var-wifi: "\e0d9";
$io-var-wrench: "\e0da";
$io-var-x: "\e0db";
$io-var-yen: "\e0dc";
$io-var-zoom-in: "\e0dd";
$io-var-zoom-out: "\e0de";
