// Name:            Divider
//
// Component:       `divider`
//
// Modifiers:       `divider-vertical'
//                  `divider-horizontal`
//                  `divider-inverted`
//                  `divider-fitted`
//                  `divider-clearing`
//                  `divider-section`
//
// Markup:
// <div class="divider"></div>
//
// ========================================================================

// Variables
// ========================================================================
$divider-color: rgba($color-black, (80/100)) !default;
$divider-dark-border: $divider-color-base !default; // before : rgba(0, 0, 0, 0.1) !default;
$divider-light-border: rgba($color-white, (80/100)) !default;
$divider-inverse-color: $color-white !default;
$divider-inverse-direction-color: rgba($divider-inverse-color, (90/100)) !default;
$divider-inverse-dark-border: rgba(0, 0, 0, .15) !default;
$divider-inverse-light-border: rgba($color-white, (15/100)) !default;

//z-index
$divider-z-index: $zindex-base !default; // 2

// Component: Divider
// ========================================================================

.divider {
  @include box-sizing(border-box);
  @include user-select(none);
  height: 0;
  margin: 1rem 0;
  line-height: 1;
  border-top: 1px solid $divider-dark-border;
  border-bottom: 1px solid $divider-light-border;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  // Icon
  > .icon {
    margin: 0;
    font-size: 1rem;
    vertical-align: middle;
  }
}

// Direction Modifier
// ========================================================================

.divider-vertical, .divider-horizontal {
  position: absolute;
  height: 0;
  margin: 0;
  font-size: .875rem;
  font-weight: $font-weight-bold;
  color: $divider-color;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
}

// Modifier: `divider-vertical`
// -------------------------

.divider-vertical {
  position: absolute;
  top: 50%;
  left: 50%;
  // z-index: 2;
  z-index: $divider-z-index;
  width: 6%;
  height: 50%;
  padding: 0;
  margin: 0 0 0 -3%;
  line-height: 0;

  &::before, &::after {
    position: absolute;
    left: 50%;
    z-index: $divider-z-index + 1;
    width: 0;
    height: 80%;
    content: " ";
    border-right: 1px solid $divider-light-border;
    border-left: 1px solid $divider-dark-border;
  }

  &::before {
    top: -100%;
  }

  &::after {
    top: auto;
    bottom: 0;
  }
}

// Modifier: `divider-horizontal`
// -------------------------

.divider-horizontal {
  position: relative;
  top: 0;
  left: 0;
  height: auto;
  padding: 0;
  margin: 1rem 1.5rem;
  line-height: 1;

  &::before, &::after {
    position: absolute;
    top: 50%;
    top: 50%;
    // z-index: 3;
    z-index: $divider-z-index + 1;
    width: 50%;
    height: 0;
    content: " ";
    border-top: 1px solid $divider-dark-border;
    border-bottom: 1px solid $divider-light-border;
  }

  &::before {
    left: 0;
    margin-left: -1.5rem;
  }

  &::after {
    right: 0;
    left: auto;
    margin-right: -1.5rem;
  }
}

// Modifier: `divider-inverted`
// ========================================================================

.divider-inverted {
  color: $divider-inverse-color;

  &.divider-vertical, &.divider-horizontal {
    color: $divider-inverse-direction-color;
  }

  &, &::before, &::after {
    border-top-color: $divider-inverse-dark-border;
    border-right-color: $divider-inverse-light-border;
    border-bottom-color: $divider-inverse-light-border;
    border-left-color: $divider-inverse-dark-border;
  }
}

// Modifier: `divider-fitted`
// ========================================================================

.divider-fitted {
  margin: 0;
}

// Modifier: `divider-clearing`
// ========================================================================

.divider-clearing {
  clear: both;
}

// Modifier: `divider-section`
// ========================================================================

.divider-section {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
