// // Name:            Widget
// //
// // Component:       `widget`
// // ========================================================================

// // Variables
// // ========================================================================

// $widget-shadow:                    0 1px 1px rgba(0, 0, 0, .05) !default;

// $widget-article-bg:                $inverse !default;

// $widget-title-color:               $title-color !default;
// $widget-title-font-size:           22px !default;
// $widget-title-padding:             12px 20px !default;

// $widget-meta-color:                $prompt-color !default;
// $widget-meta-font-size:            $font-size-sm !default;

// $widget-actions-link-color:        $gray-400 !default;
// $widget-actions-link-hover-color:  $gray-300 !default;

// $widget-posts-horizontal-border:   $border-color-base !default;

// $widget-posts-hasBg-bg:            $bg-color-base !default;

// $widget-padding-horizontal:        25px !default;
// $widget-padding-vertical:          30px !default;

// $widget-margin-bottom:             $grid-gutter-width !default;

// // Component: Widget
// // ========================================================================

// .widget {
//   position: relative;
//   background-color: $widget-article-bg;
//   margin-bottom: $widget-margin-bottom;
//   position: relative;

//   .cover {
//     width: 100%;
//   }

//   [class*="blocks-"] > li > & {
//     margin-bottom: 0;
//   }
// }

// // Modifier: `widget-shadow`
// // -------------------------

// .widget-shadow {
//   box-shadow: $widget-shadow;
// }

// // Modifier: `widget-radius`
// // -------------------------

// .widget {
//   border-radius: $border-radius;

//   .widget-header {
//     border-radius: $border-radius $border-radius 0 0;

//     &:last-child {
//       border-radius: inherit;
//     }
//   }

//   .widget-body:last-child {
//     border-radius: 0 0 $border-radius $border-radius;

//     .widget-body-footer {
//       border-radius: 0 0 $border-radius $border-radius;
//     }
//   }

//   .widget-footer {
//     border-radius: 0 0 $border-radius $border-radius;

//     &:first-child {
//       border-radiu: inherit;
//     }
//   }
// }

// // Component: Widget body
// // ========================================================================

// .widget-body {
//   position: relative;
//   padding: $widget-padding-vertical $widget-padding-horizontal;

//   &-footer {
//     margin-top: $widget-padding-vertical;

//     @include clearfix();
//   }
// }

// // Strucutes
// // ========================================================================

// .widget-content {
//   ul {
//     margin: 0;
//     padding: 0;
//   }

//   li {
//     list-style: none;
//   }
// }

// .widget-title {
//   margin-top: 0;
//   color: $widget-title-color;

//   div & {
//     font-size: $widget-title-font-size;
//   }

//   text-transform: capitalize;

//   .overlay-panel & {
//     color: $inverse;
//   }

//   .widget > & {
//     padding: $widget-title-padding;
//   }
// }

// .widget-metas {
//   color: $widget-meta-color;
//   font-size: $widget-meta-font-size;

//   &.type-link {
//     > a {
//       position: relative;
//       display: inline-block;
//       padding: 3px 5px;
//       color: $gray-400;

//       &:first-child {
//         padding-left: 0;
//       }

//       &:hover {
//         color: $gray-300;
//       }

//       + a:before {
//         position: absolute;
//         top: 10px;
//         left: -2px;
//         content: '';
//         width: 3px;
//         height: 3px;
//         background-color: $gray-400;
//         border-radius: 50%;
//       }
//     }
//   }
// }

// .widget-time {
//   .overlay-background & {
//     opacity: 0.8;
//     color: $inverse;
//   }
// }

// .widget-category {
//   font-size: 16px;
// }

// // Widget Actions
// // ========================================================================

// .widget-actions {
//   margin-top: 10px;
//   text-align: right;

//   a {
//     display: inline-block;
//     margin-right: 10px;
//     vertical-align: middle;
//     color: $widget-actions-link-color;

//     &.icon, & .icon {
//       text-decoration: none;

//       & + span {
//         margin-left: 2px;
//       }
//     }

//     &.active, &:hover, &:focus {
//       text-decoration: none;
//       color: $widget-actions-link-hover-color;
//     }

//     &:last-child {
//       margin-right: 0;
//     }
//   }
// }

// .widget-actions-sidebar {
//   width: 60px;
//   position: absolute;
//   top: 20px;
//   left: 20px;

//   a {
//     display: inline-block;
//     width: 100%;
//     height: 60px;
//     text-align: center;
//     border-right: 1px solid $widget-posts-horizontal-border;
//     margin-right: 0;

//     &:before {
//       display: inline-block;
//       content: '';
//       height: 100%;
//       vertical-align: middle;
//     }

//     + a {
//       border-top: 1px solid $widget-posts-horizontal-border;
//     }
//   }

//   + .widget-content {
//     margin-left: 80px;
//   }
// }

// // Widget Watermark
// // ========================================================================

// .widget-watermark {
//   position: absolute;
//   opacity: 0.1;
//   right: 0;
//   bottom: 0;
//   line-height: 1;

//   &.darker {
//     color: black;
//   }

//   &.lighter {
//     color: white;
//   }
// }

// // Widget divider
// // ========================================================================

// .widget-divider {
//   &:after {
//     width: 20px;
//     height: 2px;
//     content: "";
//     display: block;
//     margin: 15px auto;
//     background-color: $inverse;
//   }
// }

// // Widget Two Column
// // ========================================================================
// $widget-left-width-percent: 40% !default;
// $widget-left-mobile-height: 320px !default;

// .widget-left {
//   position: absolute;
//   width: $widget-left-width-percent;
//   height: 100%;
//   top: 0;
//   left: 0;

//   + .widget-body {
//     margin-left: $widget-left-width-percent;
//     width: (100% - $widget-left-width-percent);
//   }

//   @include media-breakpoint-down(sm) {
//     position: relative;
//     width: 100%;
//     height: $widget-left-mobile-height;

//     + .widget-body {
//       margin-left: 0;
//       width: 100%;
//     }
//   }
// }
