// Font path
// --------------------------
@font-face {

  font-family: '#{$entypo-font-family}';
  src: url('#{$entypo-font-path}/#{$entypo-font-file}.eot?v=#{$entypo-version}');
  src: url('#{$entypo-font-path}/#{$entypo-font-file}.eot?#iefix&v=#{$entypo-version}') format('embedded-opentype'),

    url('#{$entypo-font-path}/#{$entypo-font-file}.woff?v=#{$entypo-version}') format('woff'),
    url('#{$entypo-font-path}/#{$entypo-font-file}.ttf?v=#{$entypo-version}') format('truetype'),
    url('#{$entypo-font-path}/#{$entypo-font-file}.svg?v=#{$entypo-version}##{$entypo-font-file}') format('svg');
  font-weight: normal;
  font-style: normal;
}
