APP_NAME=ProxyPanel
APP_ENV=local
APP_KEY=
APP_DEBUG=
APP_DEMO=
APP_URL=http://localhost
APP_TIMEZONE=Asia/Shanghai
APP_LOCALE=zh-CN
APP_FALLBACK_LOCALE=en
LOG_CHANNEL=daily

# 数据库
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=ProxyPanel
DB_USERNAME=root
DB_PASSWORD=root
DB_STRICT=false

BROADCAST_DRIVER=redis
CACHE_DRIVER=redis
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis
SESSION_LIFETIME=120
SESSION_CONNECTION=session

# Redis 设置
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp #或使用 mailgun

# 发信方信息
MAIL_FROM_ADDRESS=admin@proxypanel.ml
MAIL_FROM_NAME=ProxyPanel

# SMTP设置
MAIL_HOST=smtp.exmail.qq.com
MAIL_PORT=465
MAIL_ENCRYPTION=ssl
MAIL_USERNAME=admin@proxypanel.ml
MAIL_PASSWORD=password

# Mailgun设置
MAILGUN_DOMAIN=
MAILGUN_SECRET=

REDIRECT_HTTPS=true
BAIDU_APP_AK =

