/node_modules
/public/upload
/public/storage
/public/hot
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/storage/logs
/storage/app/public
/storage/*.key
/vendor
/.idea
/.vagrant
/.vscode
Homestead.json
Homestead.yaml
npm-debug.log
.DS_Store
.phpstorm.meta.php
yarn-error.log
.env
.phpunit.result.cache
