$use-font-family: "Raleway";
$use-font-family-url: "http://fonts.googleapis.com/css?family=Raleway:300, 400, 500, 700, 400italic";
$font-family-base: $font-family-sans-serif;
$font-weight-override: false;
$font-weight-base: $font-weight-normal;
$headings-font-weight: $font-weight-medium;
