// $use-font-family:      "Source Sans Pro";
// $use-font-family-url:  "http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,400italic";
// $font-family-base:     $font-family-sans-serif;

// $font-weight-override: true;
// $font-weight-light:    300;
// $font-weight-normal:   400;
// $font-weight-medium:   500;
// $font-weight-bold:     700;

// $font-weight-base:     $font-weight-normal;
// $headings-font-weight: $font-weight-normal;
$use-font-family: "Source Sans Pro";
$use-font-family-url: "http://fonts.googleapis.com/css?family=Source+Sans+Pro:200, 300, 400, 600, 300italic";
$font-family-base: $font-family-sans-serif;
$font-weight-override: true;
$font-weight-light: 200;
$font-weight-normal: 300;
$font-weight-medium: 400;
$font-weight-bold: 600;
$font-weight-base: $font-weight-normal;
$headings-font-weight: $font-weight-medium;
