// Font path
// --------------------------
@font-face {

  font-family: '#{$owi-font-family}';
  src: url('#{$owi-font-path}/#{$owi-font-file}.eot?v=#{$owi-version}');
  src: url('#{$owi-font-path}/#{$owi-font-file}.eot?#iefix&v=#{$owi-version}') format('embedded-opentype'),
    url('#{$owi-font-path}/#{$owi-font-file}.woff2?v=#{$owi-version}') format('woff2'),
    url('#{$owi-font-path}/#{$owi-font-file}.woff?v=#{$owi-version}') format('woff'),
    url('#{$owi-font-path}/#{$owi-font-file}.ttf?v=#{$owi-version}') format('truetype'),
    url('#{$owi-font-path}/#{$owi-font-file}.svg?v=#{$owi-version}##{$owi-font-file}') format('svg');
  font-weight: normal;
  font-style: normal;
}
