<!DOCTYPE html>
<html lang="zh">
	<head>
		<title>逗比云监控</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootstrap-theme.min.css">
		<link href="//fonts.cat.net/css?family=Molengo"rel="stylesheet">
		<link rel="stylesheet" href="css/light.css">
		<style>
			body {
				padding-top: 70px;
				padding-bottom: 30px;
			}
		</style>
	</head>
	<body>
		<div role="navigation" class="navbar navbar-inverse navbar-fixed-top navbar-top">
			<div class="navbar-inner">
				<div class="container">
					<div class="navbar-header">
						<a href="#" class="navbar-brand">逗比云监控</a>
					</div>
				</div>
			</div>
		</div>
		
		<div class="container announcement">
		<p>逗比云监控演示 / 自建<a target="_blank" href="https://doub.io/sszhfx/">免费SS节点</a> 监控站 —— <a target="_blank" href="https://doub.io">逗比根据地</a></p>
		</div>
		
		<div class="container content">
			<div id="loading-notice">
				<div class="progress progress-striped center-block active" style="width: 50%;">
					<div class="progress-bar progress-bar-warning" style="width: 99%;">加载中...</div>
				</div>
				<div style="text-align: center;">
					如果出现此消息，请确保您已启用JavaScript ! <br />否则云监控主服务(服务端) 未启动或已关闭.
				</div>
				<br />
			</div>
			<table class="table table-striped table-condensed table-hover">
				<thead>
				<tr>
					<th id="status4" class="center-block">IPv4</th>
					<th id="name">节点名</th>
					<th id="type">虚拟化</th>
					<th id="location">位置</th>
					<th id="uptime">在线时间</th>
					<th id="load">负载</th>
					<th id="network">网络(B/s) ↓|↑</th>
					<th id="traffic">流量(B) ↓|↑</th>
					<th id="cpu">CPU</th>
					<th id="ram">内存</th>
					<th id="hdd">硬盘</th>
				</tr>
				</thead>
				<tbody id="servers">
				<!-- Servers here \o/ -->
				</tbody>
			</table>
			<br />
			<div id="updated" style="margin-left: 5px;">Updating...</div>
		</div>

		<div class="container">
			<p style="text-align: center; font-size: 10px;">
				<a href="https://github.com/ToyoDAdoubi/ServerStatus-Toyo">ServerStatus-Toyo</a> 基于 <a href="https://github.com/tenyue/ServerStatus">ServerStatus中文版</a>
			</p>
		</div>
		<script src="js/jquery-1.10.2.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/serverstatus.js"></script>
	</body>
</html>
