@mixin badge-styles-variant($color, $hover-color) {
  &[href] {
    &:hover, &:focus {
      background-color: $hover-color;
    }
  }

  &.badge-outline {
    color: $color;
    background-color: transparent;
    border-color: $color;
  }
}
