@mixin font-weight-light() {
  font-weight: $font-weight-light;
}

@mixin font-weight-normal() {
  font-weight: $font-weight-normal;
}

@mixin font-weight-medium() {
  font-weight: $font-weight-medium;
}

@mixin font-weight-bold() {
  font-weight: $font-weight-bold;
}
