$font-size-root: 14px !default;

@function pxtorem($px) {
  $base: null !default;

  @if unit($font-size-root) == "px" {
    $base: $font-size-root;
  } @else if unit($font-size-root) == "%" {
    $base: ($font-size-root / 100%) * 16px;
  } @else if unit($font-size-root) == "" {
    $base: $font-size-root * 16px;
  }

  @return (floor(ceil(($px / $base) * 1000)) / 1000) * 1rem;
}

@function remtopx($rem) {
  $base: null !default;

  @if unit($font-size-root) == "px" {
    $base: $font-size-root;
  } @else if unit($font-size-root) == "%" {
    $base: ($font-size-root / 100%) * 16px;
  } @else if unit($font-size-root) == "" {
    $base: $font-size-root * 16px;
  }

  @return ($rem / 1rem) * $base;
}
