// Tables

@mixin table-row-variants($state, $background, $color) {
  // Exact selectors below required to override `.table-striped` and prevent
  // inheritance to nested tables.
  .table-#{$state} {
    &, > th, > td {
      color: $color;
      background-color: $background;
    }

    a {
      color: $color;
    }
  }

  // Hover states for `.table-hover`
  // Note: this is not available for cells or rows within `thead` or `tfoot`.
  .table-hover {
    // $hover-color: ;
    $hover-background: darken($background, 5%);

    .table-#{$state} {
      @include hover {
        background-color: $hover-background;

        > td, > th {
          color: $color;
          background-color: $hover-background;
        }
      }
    }
  }
}
