// Variables
// --------------------------
$wi-font-path:        ".";
$wi-font-file:        "weather-icons";
$wi-font-family:      "Weather icons";
$wi-css-prefix:       wi;
$wi-version:          "1.3.2";

$wi-var-day-sunny: "\f00d";
$wi-var-day-cloudy: "\f002";
$wi-var-day-cloudy-gusts: "\f000";
$wi-var-day-cloudy-windy: "\f001";
$wi-var-day-fog: "\f003";
$wi-var-day-hail: "\f004";
$wi-var-day-haze: "\f0b6";
$wi-var-day-lightning: "\f005";
$wi-var-day-rain: "\f008";
$wi-var-day-rain-mix: "\f006";
$wi-var-day-rain-wind: "\f007";
$wi-var-day-showers: "\f009";
$wi-var-day-sleet: "\f0b2";
$wi-var-day-sleet-storm: "\f068";
$wi-var-day-snow: "\f00a";
$wi-var-day-snow-thunderstorm: "\f06b";
$wi-var-day-snow-wind: "\f065";
$wi-var-day-sprinkle: "\f00b";
$wi-var-day-storm-showers: "\f00e";
$wi-var-day-sunny-overcast: "\f00c";
$wi-var-day-thunderstorm: "\f010";
$wi-var-day-windy: "\f085";
$wi-var-solar-eclipse: "\f06e";
$wi-var-hot: "\f072";
$wi-var-day-cloudy-high: "\f07d";
$wi-var-day-light-wind: "\f0c4";
$wi-var-night-clear: "\f02e";
$wi-var-night-alt-cloudy: "\f086";
$wi-var-night-alt-cloudy-gusts: "\f022";
$wi-var-night-alt-cloudy-windy: "\f023";
$wi-var-night-alt-hail: "\f024";
$wi-var-night-alt-lightning: "\f025";
$wi-var-night-alt-rain: "\f028";
$wi-var-night-alt-rain-mix: "\f026";
$wi-var-night-alt-rain-wind: "\f027";
$wi-var-night-alt-showers: "\f029";
$wi-var-night-alt-sleet: "\f0b4";
$wi-var-night-alt-sleet-storm: "\f06a";
$wi-var-night-alt-snow: "\f02a";
$wi-var-night-alt-snow-thunderstorm: "\f06d";
$wi-var-night-alt-snow-wind: "\f067";
$wi-var-night-alt-sprinkle: "\f02b";
$wi-var-night-alt-storm-showers: "\f02c";
$wi-var-night-alt-thunderstorm: "\f02d";
$wi-var-night-cloudy: "\f031";
$wi-var-night-cloudy-gusts: "\f02f";
$wi-var-night-cloudy-windy: "\f030";
$wi-var-night-fog: "\f04a";
$wi-var-night-hail: "\f032";
$wi-var-night-lightning: "\f033";
$wi-var-night-partly-cloudy: "\f083";
$wi-var-night-rain: "\f036";
$wi-var-night-rain-mix: "\f034";
$wi-var-night-rain-wind: "\f035";
$wi-var-night-showers: "\f037";
$wi-var-night-sleet: "\f0b3";
$wi-var-night-sleet-storm: "\f069";
$wi-var-night-snow: "\f038";
$wi-var-night-snow-thunderstorm: "\f06c";
$wi-var-night-snow-wind: "\f066";
$wi-var-night-sprinkle: "\f039";
$wi-var-night-storm-showers: "\f03a";
$wi-var-night-thunderstorm: "\f03b";
$wi-var-lunar-eclipse: "\f070";
$wi-var-stars: "\f077";
$wi-var-storm-showers: "\f01d";
$wi-var-thunderstorm: "\f01e";
$wi-var-night-alt-cloudy-high: "\f07e";
$wi-var-night-cloudy-high: "\f080";
$wi-var-night-alt-partly-cloudy: "\f081";
$wi-var-cloud: "\f041";
$wi-var-cloudy: "\f013";
$wi-var-cloudy-gusts: "\f011";
$wi-var-cloudy-windy: "\f012";
$wi-var-fog: "\f014";
$wi-var-hail: "\f015";
$wi-var-rain: "\f019";
$wi-var-rain-mix: "\f017";
$wi-var-rain-wind: "\f018";
$wi-var-showers: "\f01a";
$wi-var-sleet: "\f0b5";
$wi-var-snow: "\f01b";
$wi-var-sprinkle: "\f01c";
$wi-var-snow-wind: "\f064";
$wi-var-smog: "\f074";
$wi-var-smoke: "\f062";
$wi-var-lightning: "\f016";
$wi-var-raindrops: "\f04e";
$wi-var-raindrop: "\f078";
$wi-var-dust: "\f063";
$wi-var-snowflake-cold: "\f076";
$wi-var-windy: "\f021";
$wi-var-strong-wind: "\f050";
$wi-var-sandstorm: "\f082";
$wi-var-earthquake: "\f0c6";
$wi-var-fire: "\f0c7";
$wi-var-flood: "\f07c";
$wi-var-meteor: "\f071";
$wi-var-tsunami: "\f0c5";
$wi-var-volcano: "\f0c8";
$wi-var-hurricane: "\f073";
$wi-var-tornado: "\f056";
$wi-var-small-craft-advisory: "\f0cc";
$wi-var-gale-warning: "\f0cd";
$wi-var-storm-warning: "\f0ce";
$wi-var-hurricane-warning: "\f0cf";
$wi-var-wind-direction: "\f0b1";
$wi-var-alien: "\f075";
$wi-var-celsius: "\f03c";
$wi-var-fahrenheit: "\f045";
$wi-var-degrees: "\f042";
$wi-var-thermometer: "\f055";
$wi-var-thermometer-exterior: "\f053";
$wi-var-thermometer-internal: "\f054";
$wi-var-cloud-down: "\f03d";
$wi-var-cloud-up: "\f040";
$wi-var-cloud-refresh: "\f03e";
$wi-var-horizon: "\f047";
$wi-var-horizon-alt: "\f046";
$wi-var-sunrise: "\f051";
$wi-var-sunset: "\f052";
$wi-var-moonrise: "\f0c9";
$wi-var-moonset: "\f0ca";
$wi-var-refresh: "\f04c";
$wi-var-refresh-alt: "\f04b";
$wi-var-umbrella: "\f084";
$wi-var-barometer: "\f079";
$wi-var-humidity: "\f07a";
$wi-var-na: "\f07b";
$wi-var-train: "\f0cb";
$wi-var-moon-new: "\f095";
$wi-var-moon-waxing-crescent-1: "\f096";
$wi-var-moon-waxing-crescent-2: "\f097";
$wi-var-moon-waxing-crescent-3: "\f098";
$wi-var-moon-waxing-crescent-4: "\f099";
$wi-var-moon-waxing-crescent-5: "\f09a";
$wi-var-moon-waxing-crescent-6: "\f09b";
$wi-var-moon-first-quarter: "\f09c";
$wi-var-moon-waxing-gibbous-1: "\f09d";
$wi-var-moon-waxing-gibbous-2: "\f09e";
$wi-var-moon-waxing-gibbous-3: "\f09f";
$wi-var-moon-waxing-gibbous-4: "\f0a0";
$wi-var-moon-waxing-gibbous-5: "\f0a1";
$wi-var-moon-waxing-gibbous-6: "\f0a2";
$wi-var-moon-full: "\f0a3";
$wi-var-moon-waning-gibbous-1: "\f0a4";
$wi-var-moon-waning-gibbous-2: "\f0a5";
$wi-var-moon-waning-gibbous-3: "\f0a6";
$wi-var-moon-waning-gibbous-4: "\f0a7";
$wi-var-moon-waning-gibbous-5: "\f0a8";
$wi-var-moon-waning-gibbous-6: "\f0a9";
$wi-var-moon-third-quarter: "\f0aa";
$wi-var-moon-waning-crescent-1: "\f0ab";
$wi-var-moon-waning-crescent-2: "\f0ac";
$wi-var-moon-waning-crescent-3: "\f0ad";
$wi-var-moon-waning-crescent-4: "\f0ae";
$wi-var-moon-waning-crescent-5: "\f0af";
$wi-var-moon-waning-crescent-6: "\f0b0";
$wi-var-moon-alt-new: "\f0eb";
$wi-var-moon-alt-waxing-crescent-1: "\f0d0";
$wi-var-moon-alt-waxing-crescent-2: "\f0d1";
$wi-var-moon-alt-waxing-crescent-3: "\f0d2";
$wi-var-moon-alt-waxing-crescent-4: "\f0d3";
$wi-var-moon-alt-waxing-crescent-5: "\f0d4";
$wi-var-moon-alt-waxing-crescent-6: "\f0d5";
$wi-var-moon-alt-first-quarter: "\f0d6";
$wi-var-moon-alt-waxing-gibbous-1: "\f0d7";
$wi-var-moon-alt-waxing-gibbous-2: "\f0d8";
$wi-var-moon-alt-waxing-gibbous-3: "\f0d9";
$wi-var-moon-alt-waxing-gibbous-4: "\f0da";
$wi-var-moon-alt-waxing-gibbous-5: "\f0db";
$wi-var-moon-alt-waxing-gibbous-6: "\f0dc";
$wi-var-moon-alt-full: "\f0dd";
$wi-var-moon-alt-waning-gibbous-1: "\f0de";
$wi-var-moon-alt-waning-gibbous-2: "\f0df";
$wi-var-moon-alt-waning-gibbous-3: "\f0e0";
$wi-var-moon-alt-waning-gibbous-4: "\f0e1";
$wi-var-moon-alt-waning-gibbous-5: "\f0e2";
$wi-var-moon-alt-waning-gibbous-6: "\f0e3";
$wi-var-moon-alt-third-quarter: "\f0e4";
$wi-var-moon-alt-waning-crescent-1: "\f0e5";
$wi-var-moon-alt-waning-crescent-2: "\f0e6";
$wi-var-moon-alt-waning-crescent-3: "\f0e7";
$wi-var-moon-alt-waning-crescent-4: "\f0e8";
$wi-var-moon-alt-waning-crescent-5: "\f0e9";
$wi-var-moon-alt-waning-crescent-6: "\f0ea";
$wi-var-time-1: "\f08a";
$wi-var-time-2: "\f08b";
$wi-var-time-3: "\f08c";
$wi-var-time-4: "\f08d";
$wi-var-time-5: "\f08e";
$wi-var-time-6: "\f08f";
$wi-var-time-7: "\f090";
$wi-var-time-8: "\f091";
$wi-var-time-9: "\f092";
$wi-var-time-10: "\f093";
$wi-var-time-11: "\f094";
$wi-var-time-12: "\f089";
$wi-var-direction-up: "\f058";
$wi-var-direction-up-right: "\f057";
$wi-var-direction-right: "\f04d";
$wi-var-direction-down-right: "\f088";
$wi-var-direction-down: "\f044";
$wi-var-direction-down-left: "\f043";
$wi-var-direction-left: "\f048";
$wi-var-direction-up-left: "\f087";
$wi-var-wind-beaufort-0: "\f0b7";
$wi-var-wind-beaufort-1: "\f0b8";
$wi-var-wind-beaufort-2: "\f0b9";
$wi-var-wind-beaufort-3: "\f0ba";
$wi-var-wind-beaufort-4: "\f0bb";
$wi-var-wind-beaufort-5: "\f0bc";
$wi-var-wind-beaufort-6: "\f0bd";
$wi-var-wind-beaufort-7: "\f0be";
$wi-var-wind-beaufort-8: "\f0bf";
$wi-var-wind-beaufort-9: "\f0c0";
$wi-var-wind-beaufort-10: "\f0c1";
$wi-var-wind-beaufort-11: "\f0c2";
$wi-var-wind-beaufort-12: "\f0c3";
