.page-locked:before {
  background-image: url("../../images/lockscreen.jpg"); }

.page-locked .avatar {
  margin-bottom: 15px; }

.page-locked .locked-user {
  margin-bottom: 35px; }

.page-locked form {
  width: 300px;
  margin: 22px auto; }
