// Core Class Definition
// -------------------------
[class^="#{$ti-css-prefix}-"], [class*=" #{$ti-css-prefix}-"] {
  display: inline-block;
  font: normal normal normal 14px/1 '#{$ti-font-family}';
  //font-size: inherit;
  speak: none;
  text-rendering: auto;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0); // ensures no half-pixel rendering in firefox
}
