// Icons
// -------------------------
.#{$ti-css-prefix}-arrow-up:before {
	content: $ti-var-arrow-up;
}
.#{$ti-css-prefix}-arrow-right:before {
	content: $ti-var-arrow-right;
}
.#{$ti-css-prefix}-arrow-left:before {
	content: $ti-var-arrow-left;
}
.#{$ti-css-prefix}-arrow-down:before {
	content: $ti-var-arrow-down;
}
.#{$ti-css-prefix}-arrows-vertical:before {
	content: $ti-var-arrows-vertical;
}
.#{$ti-css-prefix}-arrows-horizontal:before {
	content: $ti-var-arrows-horizontal;
}
.#{$ti-css-prefix}-angle-up:before {
	content: $ti-var-angle-up;
}
.#{$ti-css-prefix}-angle-right:before {
	content: $ti-var-angle-right;
}
.#{$ti-css-prefix}-angle-left:before {
	content: $ti-var-angle-left;
}
.#{$ti-css-prefix}-angle-down:before {
	content: $ti-var-angle-down;
}
.#{$ti-css-prefix}-angle-double-up:before {
	content: $ti-var-angle-double-up;
}
.#{$ti-css-prefix}-angle-double-right:before {
	content: $ti-var-angle-double-right;
}
.#{$ti-css-prefix}-angle-double-left:before {
	content: $ti-var-angle-double-left;
}
.#{$ti-css-prefix}-angle-double-down:before {
	content: $ti-var-angle-double-down;
}
.#{$ti-css-prefix}-move:before {
	content: $ti-var-move;
}
.#{$ti-css-prefix}-fullscreen:before {
	content: $ti-var-fullscreen;
}
.#{$ti-css-prefix}-arrow-top-right:before {
	content: $ti-var-arrow-top-right;
}
.#{$ti-css-prefix}-arrow-top-left:before {
	content: $ti-var-arrow-top-left;
}
.#{$ti-css-prefix}-arrow-circle-up:before {
	content: $ti-var-arrow-circle-up;
}
.#{$ti-css-prefix}-arrow-circle-right:before {
	content: $ti-var-arrow-circle-right;
}
.#{$ti-css-prefix}-arrow-circle-left:before {
	content: $ti-var-arrow-circle-left;
}
.#{$ti-css-prefix}-arrow-circle-down:before {
	content: $ti-var-arrow-circle-down;
}
.#{$ti-css-prefix}-arrows-corner:before {
	content: $ti-var-arrows-corner;
}
.#{$ti-css-prefix}-split-v:before {
	content: $ti-var-split-v;
}
.#{$ti-css-prefix}-split-v-alt:before {
	content: $ti-var-split-v-alt;
}
.#{$ti-css-prefix}-split-h:before {
	content: $ti-var-split-h;
}
.#{$ti-css-prefix}-hand-point-up:before {
	content: $ti-var-hand-point-up;
}
.#{$ti-css-prefix}-hand-point-right:before {
	content: $ti-var-hand-point-right;
}
.#{$ti-css-prefix}-hand-point-left:before {
	content: $ti-var-hand-point-left;
}
.#{$ti-css-prefix}-hand-point-down:before {
	content: $ti-var-hand-point-down;
}
.#{$ti-css-prefix}-back-right:before {
	content: $ti-var-back-right;
}
.#{$ti-css-prefix}-back-left:before {
	content: $ti-var-back-left;
}
.#{$ti-css-prefix}-exchange-vertical:before {
	content: $ti-var-exchange-vertical;
}
.#{$ti-css-prefix}-wand:before {
	content: $ti-var-wand;
}
.#{$ti-css-prefix}-save:before {
	content: $ti-var-save;
}
.#{$ti-css-prefix}-save-alt:before {
	content: $ti-var-save-alt;
}
.#{$ti-css-prefix}-direction:before {
	content: $ti-var-direction;
}
.#{$ti-css-prefix}-direction-alt:before {
	content: $ti-var-direction-alt;
}
.#{$ti-css-prefix}-user:before {
	content: $ti-var-user;
}
.#{$ti-css-prefix}-link:before {
	content: $ti-var-link;
}
.#{$ti-css-prefix}-unlink:before {
	content: $ti-var-unlink;
}
.#{$ti-css-prefix}-trash:before {
	content: $ti-var-trash;
}
.#{$ti-css-prefix}-target:before {
	content: $ti-var-target;
}
.#{$ti-css-prefix}-tag:before {
	content: $ti-var-tag;
}
.#{$ti-css-prefix}-desktop:before {
	content: $ti-var-desktop;
}
.#{$ti-css-prefix}-tablet:before {
	content: $ti-var-tablet;
}
.#{$ti-css-prefix}-mobile:before {
	content: $ti-var-mobile;
}
.#{$ti-css-prefix}-email:before {
	content: $ti-var-email;
}
.#{$ti-css-prefix}-star:before {
	content: $ti-var-star;
}
.#{$ti-css-prefix}-spray:before {
	content: $ti-var-spray;
}
.#{$ti-css-prefix}-signal:before {
	content: $ti-var-signal;
}
.#{$ti-css-prefix}-shopping-cart:before {
	content: $ti-var-shopping-cart;
}
.#{$ti-css-prefix}-shopping-cart-full:before {
	content: $ti-var-shopping-cart-full;
}
.#{$ti-css-prefix}-settings:before {
	content: $ti-var-settings;
}
.#{$ti-css-prefix}-search:before {
	content: $ti-var-search;
}
.#{$ti-css-prefix}-zoom-in:before {
	content: $ti-var-zoom-in;
}
.#{$ti-css-prefix}-zoom-out:before {
	content: $ti-var-zoom-out;
}
.#{$ti-css-prefix}-cut:before {
	content: $ti-var-cut;
}
.#{$ti-css-prefix}-ruler:before {
	content: $ti-var-ruler;
}
.#{$ti-css-prefix}-ruler-alt-2:before {
	content: $ti-var-ruler-alt-2;
}
.#{$ti-css-prefix}-ruler-pencil:before {
	content: $ti-var-ruler-pencil;
}
.#{$ti-css-prefix}-ruler-alt:before {
	content: $ti-var-ruler-alt;
}
.#{$ti-css-prefix}-bookmark:before {
	content: $ti-var-bookmark;
}
.#{$ti-css-prefix}-bookmark-alt:before {
	content: $ti-var-bookmark-alt;
}
.#{$ti-css-prefix}-reload:before {
	content: $ti-var-reload;
}
.#{$ti-css-prefix}-plus:before {
	content: $ti-var-plus;
}
.#{$ti-css-prefix}-minus:before {
	content: $ti-var-minus;
}
.#{$ti-css-prefix}-close:before {
	content: $ti-var-close;
}
.#{$ti-css-prefix}-pin:before {
	content: $ti-var-pin;
}
.#{$ti-css-prefix}-pencil:before {
	content: $ti-var-pencil;
}
.#{$ti-css-prefix}-pencil-alt:before {
	content: $ti-var-pencil-alt;
}
.#{$ti-css-prefix}-paint-roller:before {
	content: $ti-var-paint-roller;
}
.#{$ti-css-prefix}-paint-bucket:before {
	content: $ti-var-paint-bucket;
}
.#{$ti-css-prefix}-na:before {
	content: $ti-var-na;
}
.#{$ti-css-prefix}-medall:before {
	content: $ti-var-medall;
}
.#{$ti-css-prefix}-medall-alt:before {
	content: $ti-var-medall-alt;
}
.#{$ti-css-prefix}-marker:before {
	content: $ti-var-marker;
}
.#{$ti-css-prefix}-marker-alt:before {
	content: $ti-var-marker-alt;
}
.#{$ti-css-prefix}-lock:before {
	content: $ti-var-lock;
}
.#{$ti-css-prefix}-unlock:before {
	content: $ti-var-unlock;
}
.#{$ti-css-prefix}-location-arrow:before {
	content: $ti-var-location-arrow;
}
.#{$ti-css-prefix}-layout:before {
	content: $ti-var-layout;
}
.#{$ti-css-prefix}-layers:before {
	content: $ti-var-layers;
}
.#{$ti-css-prefix}-layers-alt:before {
	content: $ti-var-layers-alt;
}
.#{$ti-css-prefix}-key:before {
	content: $ti-var-key;
}
.#{$ti-css-prefix}-image:before {
	content: $ti-var-image;
}
.#{$ti-css-prefix}-heart:before {
	content: $ti-var-heart;
}
.#{$ti-css-prefix}-heart-broken:before {
	content: $ti-var-heart-broken;
}
.#{$ti-css-prefix}-hand-stop:before {
	content: $ti-var-hand-stop;
}
.#{$ti-css-prefix}-hand-open:before {
	content: $ti-var-hand-open;
}
.#{$ti-css-prefix}-hand-drag:before {
	content: $ti-var-hand-drag;
}
.#{$ti-css-prefix}-flag:before {
	content: $ti-var-flag;
}
.#{$ti-css-prefix}-flag-alt:before {
	content: $ti-var-flag-alt;
}
.#{$ti-css-prefix}-flag-alt-2:before {
	content: $ti-var-flag-alt-2;
}
.#{$ti-css-prefix}-eye:before {
	content: $ti-var-eye;
}
.#{$ti-css-prefix}-import:before {
	content: $ti-var-import;
}
.#{$ti-css-prefix}-export:before {
	content: $ti-var-export;
}
.#{$ti-css-prefix}-cup:before {
	content: $ti-var-cup;
}
.#{$ti-css-prefix}-crown:before {
	content: $ti-var-crown;
}
.#{$ti-css-prefix}-comments:before {
	content: $ti-var-comments;
}
.#{$ti-css-prefix}-comment:before {
	content: $ti-var-comment;
}
.#{$ti-css-prefix}-comment-alt:before {
	content: $ti-var-comment-alt;
}
.#{$ti-css-prefix}-thought:before {
	content: $ti-var-thought;
}
.#{$ti-css-prefix}-clip:before {
	content: $ti-var-clip;
}
.#{$ti-css-prefix}-check:before {
	content: $ti-var-check;
}
.#{$ti-css-prefix}-check-box:before {
	content: $ti-var-check-box;
}
.#{$ti-css-prefix}-camera:before {
	content: $ti-var-camera;
}
.#{$ti-css-prefix}-announcement:before {
	content: $ti-var-announcement;
}
.#{$ti-css-prefix}-brush:before {
	content: $ti-var-brush;
}
.#{$ti-css-prefix}-brush-alt:before {
	content: $ti-var-brush-alt;
}
.#{$ti-css-prefix}-palette:before {
	content: $ti-var-palette;
}
.#{$ti-css-prefix}-briefcase:before {
	content: $ti-var-briefcase;
}
.#{$ti-css-prefix}-bolt:before {
	content: $ti-var-bolt;
}
.#{$ti-css-prefix}-bolt-alt:before {
	content: $ti-var-bolt-alt;
}
.#{$ti-css-prefix}-blackboard:before {
	content: $ti-var-blackboard;
}
.#{$ti-css-prefix}-bag:before {
	content: $ti-var-bag;
}
.#{$ti-css-prefix}-world:before {
	content: $ti-var-world;
}
.#{$ti-css-prefix}-wheelchair:before {
	content: $ti-var-wheelchair;
}
.#{$ti-css-prefix}-car:before {
	content: $ti-var-car;
}
.#{$ti-css-prefix}-truck:before {
	content: $ti-var-truck;
}
.#{$ti-css-prefix}-timer:before {
	content: $ti-var-timer;
}
.#{$ti-css-prefix}-ticket:before {
	content: $ti-var-ticket;
}
.#{$ti-css-prefix}-thumb-up:before {
	content: $ti-var-thumb-up;
}
.#{$ti-css-prefix}-thumb-down:before {
	content: $ti-var-thumb-down;
}
.#{$ti-css-prefix}-stats-up:before {
	content: $ti-var-stats-up;
}
.#{$ti-css-prefix}-stats-down:before {
	content: $ti-var-stats-down;
}
.#{$ti-css-prefix}-shine:before {
	content: $ti-var-shine;
}
.#{$ti-css-prefix}-shift-right:before {
	content: $ti-var-shift-right;
}
.#{$ti-css-prefix}-shift-left:before {
	content: $ti-var-shift-left;
}
.#{$ti-css-prefix}-shift-right-alt:before {
	content: $ti-var-shift-right-alt;
}
.#{$ti-css-prefix}-shift-left-alt:before {
	content: $ti-var-shift-left-alt;
}
.#{$ti-css-prefix}-shield:before {
	content: $ti-var-shield;
}
.#{$ti-css-prefix}-notepad:before {
	content: $ti-var-notepad;
}
.#{$ti-css-prefix}-server:before {
	content: $ti-var-server;
}
.#{$ti-css-prefix}-pulse:before {
	content: $ti-var-pulse;
}
.#{$ti-css-prefix}-printer:before {
	content: $ti-var-printer;
}
.#{$ti-css-prefix}-power-off:before {
	content: $ti-var-power-off;
}
.#{$ti-css-prefix}-plug:before {
	content: $ti-var-plug;
}
.#{$ti-css-prefix}-pie-chart:before {
	content: $ti-var-pie-chart;
}
.#{$ti-css-prefix}-panel:before {
	content: $ti-var-panel;
}
.#{$ti-css-prefix}-package:before {
	content: $ti-var-package;
}
.#{$ti-css-prefix}-music:before {
	content: $ti-var-music;
}
.#{$ti-css-prefix}-music-alt:before {
	content: $ti-var-music-alt;
}
.#{$ti-css-prefix}-mouse:before {
	content: $ti-var-mouse;
}
.#{$ti-css-prefix}-mouse-alt:before {
	content: $ti-var-mouse-alt;
}
.#{$ti-css-prefix}-money:before {
	content: $ti-var-money;
}
.#{$ti-css-prefix}-microphone:before {
	content: $ti-var-microphone;
}
.#{$ti-css-prefix}-menu:before {
	content: $ti-var-menu;
}
.#{$ti-css-prefix}-menu-alt:before {
	content: $ti-var-menu-alt;
}
.#{$ti-css-prefix}-map:before {
	content: $ti-var-map;
}
.#{$ti-css-prefix}-map-alt:before {
	content: $ti-var-map-alt;
}
.#{$ti-css-prefix}-location-pin:before {
	content: $ti-var-location-pin;
}
.#{$ti-css-prefix}-light-bulb:before {
	content: $ti-var-light-bulb;
}
.#{$ti-css-prefix}-info:before {
	content: $ti-var-info;
}
.#{$ti-css-prefix}-infinite:before {
	content: $ti-var-infinite;
}
.#{$ti-css-prefix}-id-badge:before {
	content: $ti-var-id-badge;
}
.#{$ti-css-prefix}-hummer:before {
	content: $ti-var-hummer;
}
.#{$ti-css-prefix}-home:before {
	content: $ti-var-home;
}
.#{$ti-css-prefix}-help:before {
	content: $ti-var-help;
}
.#{$ti-css-prefix}-headphone:before {
	content: $ti-var-headphone;
}
.#{$ti-css-prefix}-harddrives:before {
	content: $ti-var-harddrives;
}
.#{$ti-css-prefix}-harddrive:before {
	content: $ti-var-harddrive;
}
.#{$ti-css-prefix}-gift:before {
	content: $ti-var-gift;
}
.#{$ti-css-prefix}-game:before {
	content: $ti-var-game;
}
.#{$ti-css-prefix}-filter:before {
	content: $ti-var-filter;
}
.#{$ti-css-prefix}-files:before {
	content: $ti-var-files;
}
.#{$ti-css-prefix}-file:before {
	content: $ti-var-file;
}
.#{$ti-css-prefix}-zip:before {
	content: $ti-var-zip;
}
.#{$ti-css-prefix}-folder:before {
	content: $ti-var-folder;
}
.#{$ti-css-prefix}-envelope:before {
	content: $ti-var-envelope;
}
.#{$ti-css-prefix}-dashboard:before {
	content: $ti-var-dashboard;
}
.#{$ti-css-prefix}-cloud:before {
	content: $ti-var-cloud;
}
.#{$ti-css-prefix}-cloud-up:before {
	content: $ti-var-cloud-up;
}
.#{$ti-css-prefix}-cloud-down:before {
	content: $ti-var-cloud-down;
}
.#{$ti-css-prefix}-clipboard:before {
	content: $ti-var-clipboard;
}
.#{$ti-css-prefix}-calendar:before {
	content: $ti-var-calendar;
}
.#{$ti-css-prefix}-book:before {
	content: $ti-var-book;
}
.#{$ti-css-prefix}-bell:before {
	content: $ti-var-bell;
}
.#{$ti-css-prefix}-basketball:before {
	content: $ti-var-basketball;
}
.#{$ti-css-prefix}-bar-chart:before {
	content: $ti-var-bar-chart;
}
.#{$ti-css-prefix}-bar-chart-alt:before {
	content: $ti-var-bar-chart-alt;
}
.#{$ti-css-prefix}-archive:before {
	content: $ti-var-archive;
}
.#{$ti-css-prefix}-anchor:before {
	content: $ti-var-anchor;
}
.#{$ti-css-prefix}-alert:before {
	content: $ti-var-alert;
}
.#{$ti-css-prefix}-alarm-clock:before {
	content: $ti-var-alarm-clock;
}
.#{$ti-css-prefix}-agenda:before {
	content: $ti-var-agenda;
}
.#{$ti-css-prefix}-write:before {
	content: $ti-var-write;
}
.#{$ti-css-prefix}-wallet:before {
	content: $ti-var-wallet;
}
.#{$ti-css-prefix}-video-clapper:before {
	content: $ti-var-video-clapper;
}
.#{$ti-css-prefix}-video-camera:before {
	content: $ti-var-video-camera;
}
.#{$ti-css-prefix}-vector:before {
	content: $ti-var-vector;
}
.#{$ti-css-prefix}-support:before {
	content: $ti-var-support;
}
.#{$ti-css-prefix}-stamp:before {
	content: $ti-var-stamp;
}
.#{$ti-css-prefix}-slice:before {
	content: $ti-var-slice;
}
.#{$ti-css-prefix}-shortcode:before {
	content: $ti-var-shortcode;
}
.#{$ti-css-prefix}-receipt:before {
	content: $ti-var-receipt;
}
.#{$ti-css-prefix}-pin2:before {
	content: $ti-var-pin2;
}
.#{$ti-css-prefix}-pin-alt:before {
	content: $ti-var-pin-alt;
}
.#{$ti-css-prefix}-pencil-alt2:before {
	content: $ti-var-pencil-alt2;
}
.#{$ti-css-prefix}-eraser:before {
	content: $ti-var-eraser;
}
.#{$ti-css-prefix}-more:before {
	content: $ti-var-more;
}
.#{$ti-css-prefix}-more-alt:before {
	content: $ti-var-more-alt;
}
.#{$ti-css-prefix}-microphone-alt:before {
	content: $ti-var-microphone-alt;
}
.#{$ti-css-prefix}-magnet:before {
	content: $ti-var-magnet;
}
.#{$ti-css-prefix}-line-double:before {
	content: $ti-var-line-double;
}
.#{$ti-css-prefix}-line-dotted:before {
	content: $ti-var-line-dotted;
}
.#{$ti-css-prefix}-line-dashed:before {
	content: $ti-var-line-dashed;
}
.#{$ti-css-prefix}-ink-pen:before {
	content: $ti-var-ink-pen;
}
.#{$ti-css-prefix}-info-alt:before {
	content: $ti-var-info-alt;
}
.#{$ti-css-prefix}-help-alt:before {
	content: $ti-var-help-alt;
}
.#{$ti-css-prefix}-headphone-alt:before {
	content: $ti-var-headphone-alt;
}
.#{$ti-css-prefix}-gallery:before {
	content: $ti-var-gallery;
}
.#{$ti-css-prefix}-face-smile:before {
	content: $ti-var-face-smile;
}
.#{$ti-css-prefix}-face-sad:before {
	content: $ti-var-face-sad;
}
.#{$ti-css-prefix}-credit-card:before {
	content: $ti-var-credit-card;
}
.#{$ti-css-prefix}-comments-smiley:before {
	content: $ti-var-comments-smiley;
}
.#{$ti-css-prefix}-time:before {
	content: $ti-var-time;
}
.#{$ti-css-prefix}-share:before {
	content: $ti-var-share;
}
.#{$ti-css-prefix}-share-alt:before {
	content: $ti-var-share-alt;
}
.#{$ti-css-prefix}-rocket:before {
	content: $ti-var-rocket;
}
.#{$ti-css-prefix}-new-window:before {
	content: $ti-var-new-window;
}
.#{$ti-css-prefix}-rss:before {
	content: $ti-var-rss;
}
.#{$ti-css-prefix}-rss-alt:before {
	content: $ti-var-rss-alt;
}
.#{$ti-css-prefix}-control-stop:before {
	content: $ti-var-control-stop;
}
.#{$ti-css-prefix}-control-shuffle:before {
	content: $ti-var-control-shuffle;
}
.#{$ti-css-prefix}-control-play:before {
	content: $ti-var-control-play;
}
.#{$ti-css-prefix}-control-pause:before {
	content: $ti-var-control-pause;
}
.#{$ti-css-prefix}-control-forward:before {
	content: $ti-var-control-forward;
}
.#{$ti-css-prefix}-control-backward:before {
	content: $ti-var-control-backward;
}
.#{$ti-css-prefix}-volume:before {
	content: $ti-var-volume;
}
.#{$ti-css-prefix}-control-skip-forward:before {
	content: $ti-var-control-skip-forward;
}
.#{$ti-css-prefix}-control-skip-backward:before {
	content: $ti-var-control-skip-backward;
}
.#{$ti-css-prefix}-control-record:before {
	content: $ti-var-control-record;
}
.#{$ti-css-prefix}-control-eject:before {
	content: $ti-var-control-eject;
}
.#{$ti-css-prefix}-paragraph:before {
	content: $ti-var-paragraph;
}
.#{$ti-css-prefix}-uppercase:before {
	content: $ti-var-uppercase;
}
.#{$ti-css-prefix}-underline:before {
	content: $ti-var-underline;
}
.#{$ti-css-prefix}-text:before {
	content: $ti-var-text;
}
.#{$ti-css-prefix}-Italic:before {
	content: $ti-var-Italic;
}
.#{$ti-css-prefix}-smallcap:before {
	content: $ti-var-smallcap;
}
.#{$ti-css-prefix}-list:before {
	content: $ti-var-list;
}
.#{$ti-css-prefix}-list-ol:before {
	content: $ti-var-list-ol;
}
.#{$ti-css-prefix}-align-right:before {
	content: $ti-var-align-right;
}
.#{$ti-css-prefix}-align-left:before {
	content: $ti-var-align-left;
}
.#{$ti-css-prefix}-align-justify:before {
	content: $ti-var-align-justify;
}
.#{$ti-css-prefix}-align-center:before {
	content: $ti-var-align-center;
}
.#{$ti-css-prefix}-quote-right:before {
	content: $ti-var-quote-right;
}
.#{$ti-css-prefix}-quote-left:before {
	content: $ti-var-quote-left;
}
.#{$ti-css-prefix}-layout-width-full:before {
	content: $ti-var-layout-width-full;
}
.#{$ti-css-prefix}-layout-width-default:before {
	content: $ti-var-layout-width-default;
}
.#{$ti-css-prefix}-layout-width-default-alt:before {
	content: $ti-var-layout-width-default-alt;
}
.#{$ti-css-prefix}-layout-tab:before {
	content: $ti-var-layout-tab;
}
.#{$ti-css-prefix}-layout-tab-window:before {
	content: $ti-var-layout-tab-window;
}
.#{$ti-css-prefix}-layout-tab-v:before {
	content: $ti-var-layout-tab-v;
}
.#{$ti-css-prefix}-layout-tab-min:before {
	content: $ti-var-layout-tab-min;
}
.#{$ti-css-prefix}-layout-slider:before {
	content: $ti-var-layout-slider;
}
.#{$ti-css-prefix}-layout-slider-alt:before {
	content: $ti-var-layout-slider-alt;
}
.#{$ti-css-prefix}-layout-sidebar-right:before {
	content: $ti-var-layout-sidebar-right;
}
.#{$ti-css-prefix}-layout-sidebar-none:before {
	content: $ti-var-layout-sidebar-none;
}
.#{$ti-css-prefix}-layout-sidebar-left:before {
	content: $ti-var-layout-sidebar-left;
}
.#{$ti-css-prefix}-layout-placeholder:before {
	content: $ti-var-layout-placeholder;
}
.#{$ti-css-prefix}-layout-menu:before {
	content: $ti-var-layout-menu;
}
.#{$ti-css-prefix}-layout-menu-v:before {
	content: $ti-var-layout-menu-v;
}
.#{$ti-css-prefix}-layout-menu-separated:before {
	content: $ti-var-layout-menu-separated;
}
.#{$ti-css-prefix}-layout-menu-full:before {
	content: $ti-var-layout-menu-full;
}
.#{$ti-css-prefix}-layout-media-right:before {
	content: $ti-var-layout-media-right;
}
.#{$ti-css-prefix}-layout-media-right-alt:before {
	content: $ti-var-layout-media-right-alt;
}
.#{$ti-css-prefix}-layout-media-overlay:before {
	content: $ti-var-layout-media-overlay;
}
.#{$ti-css-prefix}-layout-media-overlay-alt:before {
	content: $ti-var-layout-media-overlay-alt;
}
.#{$ti-css-prefix}-layout-media-overlay-alt-2:before {
	content: $ti-var-layout-media-overlay-alt-2;
}
.#{$ti-css-prefix}-layout-media-left:before {
	content: $ti-var-layout-media-left;
}
.#{$ti-css-prefix}-layout-media-left-alt:before {
	content: $ti-var-layout-media-left-alt;
}
.#{$ti-css-prefix}-layout-media-center:before {
	content: $ti-var-layout-media-center;
}
.#{$ti-css-prefix}-layout-media-center-alt:before {
	content: $ti-var-layout-media-center-alt;
}
.#{$ti-css-prefix}-layout-list-thumb:before {
	content: $ti-var-layout-list-thumb;
}
.#{$ti-css-prefix}-layout-list-thumb-alt:before {
	content: $ti-var-layout-list-thumb-alt;
}
.#{$ti-css-prefix}-layout-list-post:before {
	content: $ti-var-layout-list-post;
}
.#{$ti-css-prefix}-layout-list-large-image:before {
	content: $ti-var-layout-list-large-image;
}
.#{$ti-css-prefix}-layout-line-solid:before {
	content: $ti-var-layout-line-solid;
}
.#{$ti-css-prefix}-layout-grid4:before {
	content: $ti-var-layout-grid4;
}
.#{$ti-css-prefix}-layout-grid3:before {
	content: $ti-var-layout-grid3;
}
.#{$ti-css-prefix}-layout-grid2:before {
	content: $ti-var-layout-grid2;
}
.#{$ti-css-prefix}-layout-grid2-thumb:before {
	content: $ti-var-layout-grid2-thumb;
}
.#{$ti-css-prefix}-layout-cta-right:before {
	content: $ti-var-layout-cta-right;
}
.#{$ti-css-prefix}-layout-cta-left:before {
	content: $ti-var-layout-cta-left;
}
.#{$ti-css-prefix}-layout-cta-center:before {
	content: $ti-var-layout-cta-center;
}
.#{$ti-css-prefix}-layout-cta-btn-right:before {
	content: $ti-var-layout-cta-btn-right;
}
.#{$ti-css-prefix}-layout-cta-btn-left:before {
	content: $ti-var-layout-cta-btn-left;
}
.#{$ti-css-prefix}-layout-column4:before {
	content: $ti-var-layout-column4;
}
.#{$ti-css-prefix}-layout-column3:before {
	content: $ti-var-layout-column3;
}
.#{$ti-css-prefix}-layout-column2:before {
	content: $ti-var-layout-column2;
}
.#{$ti-css-prefix}-layout-accordion-separated:before {
	content: $ti-var-layout-accordion-separated;
}
.#{$ti-css-prefix}-layout-accordion-merged:before {
	content: $ti-var-layout-accordion-merged;
}
.#{$ti-css-prefix}-layout-accordion-list:before {
	content: $ti-var-layout-accordion-list;
}
.#{$ti-css-prefix}-widgetized:before {
	content: $ti-var-widgetized;
}
.#{$ti-css-prefix}-widget:before {
	content: $ti-var-widget;
}
.#{$ti-css-prefix}-widget-alt:before {
	content: $ti-var-widget-alt;
}
.#{$ti-css-prefix}-view-list:before {
	content: $ti-var-view-list;
}
.#{$ti-css-prefix}-view-list-alt:before {
	content: $ti-var-view-list-alt;
}
.#{$ti-css-prefix}-view-grid:before {
	content: $ti-var-view-grid;
}
.#{$ti-css-prefix}-upload:before {
	content: $ti-var-upload;
}
.#{$ti-css-prefix}-download:before {
	content: $ti-var-download;
}
.#{$ti-css-prefix}-loop:before {
	content: $ti-var-loop;
}
.#{$ti-css-prefix}-layout-sidebar-2:before {
	content: $ti-var-layout-sidebar-2;
}
.#{$ti-css-prefix}-layout-grid4-alt:before {
	content: $ti-var-layout-grid4-alt;
}
.#{$ti-css-prefix}-layout-grid3-alt:before {
	content: $ti-var-layout-grid3-alt;
}
.#{$ti-css-prefix}-layout-grid2-alt:before {
	content: $ti-var-layout-grid2-alt;
}
.#{$ti-css-prefix}-layout-column4-alt:before {
	content: $ti-var-layout-column4-alt;
}
.#{$ti-css-prefix}-layout-column3-alt:before {
	content: $ti-var-layout-column3-alt;
}
.#{$ti-css-prefix}-layout-column2-alt:before {
	content: $ti-var-layout-column2-alt;
}
.#{$ti-css-prefix}-flickr:before {
	content: $ti-var-flickr;
}
.#{$ti-css-prefix}-flickr-alt:before {
	content: $ti-var-flickr-alt;
}
.#{$ti-css-prefix}-instagram:before {
	content: $ti-var-instagram;
}
.#{$ti-css-prefix}-google:before {
	content: $ti-var-google;
}
.#{$ti-css-prefix}-github:before {
	content: $ti-var-github;
}
.#{$ti-css-prefix}-facebook:before {
	content: $ti-var-facebook;
}
.#{$ti-css-prefix}-dropbox:before {
	content: $ti-var-dropbox;
}
.#{$ti-css-prefix}-dropbox-alt:before {
	content: $ti-var-dropbox-alt;
}
.#{$ti-css-prefix}-dribbble:before {
	content: $ti-var-dribbble;
}
.#{$ti-css-prefix}-apple:before {
	content: $ti-var-apple;
}
.#{$ti-css-prefix}-android:before {
	content: $ti-var-android;
}
.#{$ti-css-prefix}-yahoo:before {
	content: $ti-var-yahoo;
}
.#{$ti-css-prefix}-trello:before {
	content: $ti-var-trello;
}
.#{$ti-css-prefix}-stack-overflow:before {
	content: $ti-var-stack-overflow;
}
.#{$ti-css-prefix}-soundcloud:before {
	content: $ti-var-soundcloud;
}
.#{$ti-css-prefix}-sharethis:before {
	content: $ti-var-sharethis;
}
.#{$ti-css-prefix}-sharethis-alt:before {
	content: $ti-var-sharethis-alt;
}
.#{$ti-css-prefix}-reddit:before {
	content: $ti-var-reddit;
}
.#{$ti-css-prefix}-microsoft:before {
	content: $ti-var-microsoft;
}
.#{$ti-css-prefix}-microsoft-alt:before {
	content: $ti-var-microsoft-alt;
}
.#{$ti-css-prefix}-linux:before {
	content: $ti-var-linux;
}
.#{$ti-css-prefix}-jsfiddle:before {
	content: $ti-var-jsfiddle;
}
.#{$ti-css-prefix}-joomla:before {
	content: $ti-var-joomla;
}
.#{$ti-css-prefix}-html5:before {
	content: $ti-var-html5;
}
.#{$ti-css-prefix}-css3:before {
	content: $ti-var-css3;
}
.#{$ti-css-prefix}-drupal:before {
	content: $ti-var-drupal;
}
.#{$ti-css-prefix}-wordpress:before {
	content: $ti-var-wordpress;
}
.#{$ti-css-prefix}-tumblr:before {
	content: $ti-var-tumblr;
}
.#{$ti-css-prefix}-tumblr-alt:before {
	content: $ti-var-tumblr-alt;
}
.#{$ti-css-prefix}-skype:before {
	content: $ti-var-skype;
}
.#{$ti-css-prefix}-youtube:before {
	content: $ti-var-youtube;
}
.#{$ti-css-prefix}-vimeo:before {
	content: $ti-var-vimeo;
}
.#{$ti-css-prefix}-vimeo-alt:before {
	content: $ti-var-vimeo-alt;
}
.#{$ti-css-prefix}-twitter:before {
	content: $ti-var-twitter;
}
.#{$ti-css-prefix}-twitter-alt:before {
	content: $ti-var-twitter-alt;
}
.#{$ti-css-prefix}-linkedin:before {
	content: $ti-var-linkedin;
}
.#{$ti-css-prefix}-pinterest:before {
	content: $ti-var-pinterest;
}
.#{$ti-css-prefix}-pinterest-alt:before {
	content: $ti-var-pinterest-alt;
}
.#{$ti-css-prefix}-themify-logo:before {
	content: $ti-var-themify-logo;
}
.#{$ti-css-prefix}-themify-favicon:before {
	content: $ti-var-themify-favicon;
}
.#{$ti-css-prefix}-themify-favicon-alt:before {
	content: $ti-var-themify-favicon-alt;
}
