// Font path
// --------------------------
@font-face {

  font-family: '#{$ti-font-family}';
  src: url('#{$ti-font-path}/#{$ti-font-file}.eot?v=#{$ti-version}');
  src: url('#{$ti-font-path}/#{$ti-font-file}.eot?#iefix&v=#{$ti-version}') format('embedded-opentype'),

    url('#{$ti-font-path}/#{$ti-font-file}.woff?v=#{$ti-version}') format('woff'),
    url('#{$ti-font-path}/#{$ti-font-file}.ttf?v=#{$ti-version}') format('truetype'),
    url('#{$ti-font-path}/#{$ti-font-file}.svg?v=#{$ti-version}##{$ti-font-file}') format('svg');
  font-weight: normal;
  font-style: normal;
}
