// Variables
// --------------------------
$ti-font-path:        ".";
$ti-font-file:        "themify";
$ti-font-family:      "Themify icons";
$ti-css-prefix:       ti;
$ti-version:          "1.0.1";

$ti-var-arrow-up: "\e627";
$ti-var-arrow-right: "\e628";
$ti-var-arrow-left: "\e629";
$ti-var-arrow-down: "\e62a";
$ti-var-arrows-vertical: "\e657";
$ti-var-arrows-horizontal: "\e658";
$ti-var-angle-up: "\e648";
$ti-var-angle-right: "\e649";
$ti-var-angle-left: "\e64a";
$ti-var-angle-down: "\e64b";
$ti-var-angle-double-up: "\e660";
$ti-var-angle-double-right: "\e661";
$ti-var-angle-double-left: "\e662";
$ti-var-angle-double-down: "\e663";
$ti-var-move: "\e656";
$ti-var-fullscreen: "\e659";
$ti-var-arrow-top-right: "\e65a";
$ti-var-arrow-top-left: "\e65b";
$ti-var-arrow-circle-up: "\e65c";
$ti-var-arrow-circle-right: "\e65d";
$ti-var-arrow-circle-left: "\e65e";
$ti-var-arrow-circle-down: "\e65f";
$ti-var-arrows-corner: "\e6be";
$ti-var-split-v: "\e675";
$ti-var-split-v-alt: "\e6d6";
$ti-var-split-h: "\e676";
$ti-var-hand-point-up: "\e71a";
$ti-var-hand-point-right: "\e71b";
$ti-var-hand-point-left: "\e71c";
$ti-var-hand-point-down: "\e71d";
$ti-var-back-right: "\e6bc";
$ti-var-back-left: "\e6bd";
$ti-var-exchange-vertical: "\e63f";
$ti-var-wand: "\e600";
$ti-var-save: "\e746";
$ti-var-save-alt: "\e747";
$ti-var-direction: "\e6a8";
$ti-var-direction-alt: "\e6a9";
$ti-var-user: "\e602";
$ti-var-link: "\e62d";
$ti-var-unlink: "\e604";
$ti-var-trash: "\e605";
$ti-var-target: "\e607";
$ti-var-tag: "\e608";
$ti-var-desktop: "\e640";
$ti-var-tablet: "\e609";
$ti-var-mobile: "\e621";
$ti-var-email: "\e75a";
$ti-var-star: "\e60a";
$ti-var-spray: "\e60b";
$ti-var-signal: "\e60c";
$ti-var-shopping-cart: "\e60d";
$ti-var-shopping-cart-full: "\e60e";
$ti-var-settings: "\e60f";
$ti-var-search: "\e610";
$ti-var-zoom-in: "\e611";
$ti-var-zoom-out: "\e612";
$ti-var-cut: "\e613";
$ti-var-ruler: "\e614";
$ti-var-ruler-alt-2: "\e6db";
$ti-var-ruler-pencil: "\e615";
$ti-var-ruler-alt: "\e616";
$ti-var-bookmark: "\e617";
$ti-var-bookmark-alt: "\e618";
$ti-var-reload: "\e619";
$ti-var-plus: "\e61a";
$ti-var-minus: "\e622";
$ti-var-close: "\e646";
$ti-var-pin: "\e61b";
$ti-var-pencil: "\e61c";
$ti-var-pencil-alt: "\e61d";
$ti-var-paint-roller: "\e61e";
$ti-var-paint-bucket: "\e61f";
$ti-var-na: "\e620";
$ti-var-medall: "\e623";
$ti-var-medall-alt: "\e624";
$ti-var-marker: "\e625";
$ti-var-marker-alt: "\e626";
$ti-var-lock: "\e62b";
$ti-var-unlock: "\e603";
$ti-var-location-arrow: "\e62c";
$ti-var-layout: "\e62e";
$ti-var-layers: "\e62f";
$ti-var-layers-alt: "\e630";
$ti-var-key: "\e631";
$ti-var-image: "\e633";
$ti-var-heart: "\e634";
$ti-var-heart-broken: "\e635";
$ti-var-hand-stop: "\e636";
$ti-var-hand-open: "\e637";
$ti-var-hand-drag: "\e638";
$ti-var-flag: "\e63a";
$ti-var-flag-alt: "\e63b";
$ti-var-flag-alt-2: "\e63c";
$ti-var-eye: "\e63d";
$ti-var-import: "\e632";
$ti-var-export: "\e63e";
$ti-var-cup: "\e641";
$ti-var-crown: "\e642";
$ti-var-comments: "\e643";
$ti-var-comment: "\e644";
$ti-var-comment-alt: "\e645";
$ti-var-thought: "\e606";
$ti-var-clip: "\e647";
$ti-var-check: "\e64c";
$ti-var-check-box: "\e64d";
$ti-var-camera: "\e64e";
$ti-var-announcement: "\e64f";
$ti-var-brush: "\e650";
$ti-var-brush-alt: "\e727";
$ti-var-palette: "\e6e0";
$ti-var-briefcase: "\e651";
$ti-var-bolt: "\e652";
$ti-var-bolt-alt: "\e653";
$ti-var-blackboard: "\e654";
$ti-var-bag: "\e655";
$ti-var-world: "\e665";
$ti-var-wheelchair: "\e666";
$ti-var-car: "\e6b5";
$ti-var-truck: "\e66d";
$ti-var-timer: "\e66e";
$ti-var-ticket: "\e66f";
$ti-var-thumb-up: "\e670";
$ti-var-thumb-down: "\e671";
$ti-var-stats-up: "\e673";
$ti-var-stats-down: "\e674";
$ti-var-shine: "\e678";
$ti-var-shift-right: "\e679";
$ti-var-shift-left: "\e67a";
$ti-var-shift-right-alt: "\e6d9";
$ti-var-shift-left-alt: "\e6da";
$ti-var-shield: "\e67b";
$ti-var-notepad: "\e67c";
$ti-var-server: "\e67d";
$ti-var-pulse: "\e680";
$ti-var-printer: "\e681";
$ti-var-power-off: "\e682";
$ti-var-plug: "\e683";
$ti-var-pie-chart: "\e684";
$ti-var-panel: "\e686";
$ti-var-package: "\e687";
$ti-var-music: "\e688";
$ti-var-music-alt: "\e689";
$ti-var-mouse: "\e68a";
$ti-var-mouse-alt: "\e68b";
$ti-var-money: "\e68c";
$ti-var-microphone: "\e68d";
$ti-var-menu: "\e68e";
$ti-var-menu-alt: "\e68f";
$ti-var-map: "\e690";
$ti-var-map-alt: "\e691";
$ti-var-location-pin: "\e693";
$ti-var-light-bulb: "\e695";
$ti-var-info: "\e697";
$ti-var-infinite: "\e698";
$ti-var-id-badge: "\e699";
$ti-var-hummer: "\e69a";
$ti-var-home: "\e69b";
$ti-var-help: "\e69c";
$ti-var-headphone: "\e69d";
$ti-var-harddrives: "\e69e";
$ti-var-harddrive: "\e69f";
$ti-var-gift: "\e6a0";
$ti-var-game: "\e6a1";
$ti-var-filter: "\e6a2";
$ti-var-files: "\e6a3";
$ti-var-file: "\e6a4";
$ti-var-zip: "\e664";
$ti-var-folder: "\e639";
$ti-var-envelope: "\e6a6";
$ti-var-dashboard: "\e6aa";
$ti-var-cloud: "\e6b1";
$ti-var-cloud-up: "\e6b2";
$ti-var-cloud-down: "\e6b3";
$ti-var-clipboard: "\e6b4";
$ti-var-calendar: "\e6b6";
$ti-var-book: "\e6b7";
$ti-var-bell: "\e6b8";
$ti-var-basketball: "\e6b9";
$ti-var-bar-chart: "\e6ba";
$ti-var-bar-chart-alt: "\e6bb";
$ti-var-archive: "\e6bf";
$ti-var-anchor: "\e6c0";
$ti-var-alert: "\e6c5";
$ti-var-alarm-clock: "\e6c6";
$ti-var-agenda: "\e6c7";
$ti-var-write: "\e6c8";
$ti-var-wallet: "\e6cd";
$ti-var-video-clapper: "\e6ce";
$ti-var-video-camera: "\e6cf";
$ti-var-vector: "\e6d0";
$ti-var-support: "\e6d4";
$ti-var-stamp: "\e6d5";
$ti-var-slice: "\e6d7";
$ti-var-shortcode: "\e6d8";
$ti-var-receipt: "\e6dc";
$ti-var-pin2: "\e6dd";
$ti-var-pin-alt: "\e6de";
$ti-var-pencil-alt2: "\e6df";
$ti-var-eraser: "\e6a5";
$ti-var-more: "\e6e1";
$ti-var-more-alt: "\e6e2";
$ti-var-microphone-alt: "\e6e3";
$ti-var-magnet: "\e6e4";
$ti-var-line-double: "\e6e5";
$ti-var-line-dotted: "\e6e6";
$ti-var-line-dashed: "\e6e7";
$ti-var-ink-pen: "\e716";
$ti-var-info-alt: "\e717";
$ti-var-help-alt: "\e718";
$ti-var-headphone-alt: "\e719";
$ti-var-gallery: "\e71e";
$ti-var-face-smile: "\e71f";
$ti-var-face-sad: "\e720";
$ti-var-credit-card: "\e721";
$ti-var-comments-smiley: "\e726";
$ti-var-time: "\e72b";
$ti-var-share: "\e72e";
$ti-var-share-alt: "\e72f";
$ti-var-rocket: "\e730";
$ti-var-new-window: "\e732";
$ti-var-rss: "\e75e";
$ti-var-rss-alt: "\e75f";
$ti-var-control-stop: "\e6ab";
$ti-var-control-shuffle: "\e6ac";
$ti-var-control-play: "\e6ad";
$ti-var-control-pause: "\e6ae";
$ti-var-control-forward: "\e6af";
$ti-var-control-backward: "\e6b0";
$ti-var-volume: "\e601";
$ti-var-control-skip-forward: "\e722";
$ti-var-control-skip-backward: "\e723";
$ti-var-control-record: "\e724";
$ti-var-control-eject: "\e725";
$ti-var-paragraph: "\e685";
$ti-var-uppercase: "\e66a";
$ti-var-underline: "\e66c";
$ti-var-text: "\e672";
$ti-var-Italic: "\e696";
$ti-var-smallcap: "\e677";
$ti-var-list: "\e694";
$ti-var-list-ol: "\e734";
$ti-var-align-right: "\e6c1";
$ti-var-align-left: "\e6c2";
$ti-var-align-justify: "\e6c3";
$ti-var-align-center: "\e6c4";
$ti-var-quote-right: "\e67e";
$ti-var-quote-left: "\e67f";
$ti-var-layout-width-full: "\e6e8";
$ti-var-layout-width-default: "\e6e9";
$ti-var-layout-width-default-alt: "\e6ea";
$ti-var-layout-tab: "\e6eb";
$ti-var-layout-tab-window: "\e6ec";
$ti-var-layout-tab-v: "\e6ed";
$ti-var-layout-tab-min: "\e6ee";
$ti-var-layout-slider: "\e6ef";
$ti-var-layout-slider-alt: "\e6f0";
$ti-var-layout-sidebar-right: "\e6f1";
$ti-var-layout-sidebar-none: "\e6f2";
$ti-var-layout-sidebar-left: "\e6f3";
$ti-var-layout-placeholder: "\e6f4";
$ti-var-layout-menu: "\e6f5";
$ti-var-layout-menu-v: "\e6f6";
$ti-var-layout-menu-separated: "\e6f7";
$ti-var-layout-menu-full: "\e6f8";
$ti-var-layout-media-right: "\e6fa";
$ti-var-layout-media-right-alt: "\e6f9";
$ti-var-layout-media-overlay: "\e6fb";
$ti-var-layout-media-overlay-alt: "\e6fc";
$ti-var-layout-media-overlay-alt-2: "\e6fd";
$ti-var-layout-media-left: "\e6ff";
$ti-var-layout-media-left-alt: "\e6fe";
$ti-var-layout-media-center: "\e701";
$ti-var-layout-media-center-alt: "\e700";
$ti-var-layout-list-thumb: "\e702";
$ti-var-layout-list-thumb-alt: "\e703";
$ti-var-layout-list-post: "\e704";
$ti-var-layout-list-large-image: "\e705";
$ti-var-layout-line-solid: "\e706";
$ti-var-layout-grid4: "\e707";
$ti-var-layout-grid3: "\e708";
$ti-var-layout-grid2: "\e709";
$ti-var-layout-grid2-thumb: "\e70a";
$ti-var-layout-cta-right: "\e70b";
$ti-var-layout-cta-left: "\e70c";
$ti-var-layout-cta-center: "\e70d";
$ti-var-layout-cta-btn-right: "\e70e";
$ti-var-layout-cta-btn-left: "\e70f";
$ti-var-layout-column4: "\e710";
$ti-var-layout-column3: "\e711";
$ti-var-layout-column2: "\e712";
$ti-var-layout-accordion-separated: "\e713";
$ti-var-layout-accordion-merged: "\e714";
$ti-var-layout-accordion-list: "\e715";
$ti-var-widgetized: "\e6ca";
$ti-var-widget: "\e6cb";
$ti-var-widget-alt: "\e6cc";
$ti-var-view-list: "\e667";
$ti-var-view-list-alt: "\e668";
$ti-var-view-grid: "\e669";
$ti-var-upload: "\e66b";
$ti-var-download: "\e6a7";
$ti-var-loop: "\e692";
$ti-var-layout-sidebar-2: "\e736";
$ti-var-layout-grid4-alt: "\e737";
$ti-var-layout-grid3-alt: "\e738";
$ti-var-layout-grid2-alt: "\e739";
$ti-var-layout-column4-alt: "\e73a";
$ti-var-layout-column3-alt: "\e73b";
$ti-var-layout-column2-alt: "\e73c";
$ti-var-flickr: "\e740";
$ti-var-flickr-alt: "\e759";
$ti-var-instagram: "\e73d";
$ti-var-google: "\e73e";
$ti-var-github: "\e73f";
$ti-var-facebook: "\e741";
$ti-var-dropbox: "\e742";
$ti-var-dropbox-alt: "\e75c";
$ti-var-dribbble: "\e743";
$ti-var-apple: "\e744";
$ti-var-android: "\e745";
$ti-var-yahoo: "\e748";
$ti-var-trello: "\e74d";
$ti-var-stack-overflow: "\e74e";
$ti-var-soundcloud: "\e74f";
$ti-var-sharethis: "\e750";
$ti-var-sharethis-alt: "\e751";
$ti-var-reddit: "\e752";
$ti-var-microsoft: "\e733";
$ti-var-microsoft-alt: "\e754";
$ti-var-linux: "\e755";
$ti-var-jsfiddle: "\e756";
$ti-var-joomla: "\e757";
$ti-var-html5: "\e758";
$ti-var-css3: "\e75d";
$ti-var-drupal: "\e75b";
$ti-var-wordpress: "\e749";
$ti-var-tumblr: "\e72c";
$ti-var-tumblr-alt: "\e74c";
$ti-var-skype: "\e72d";
$ti-var-youtube: "\e728";
$ti-var-vimeo: "\e729";
$ti-var-vimeo-alt: "\e74a";
$ti-var-twitter: "\e72a";
$ti-var-twitter-alt: "\e74b";
$ti-var-linkedin: "\e735";
$ti-var-pinterest: "\e731";
$ti-var-pinterest-alt: "\e753";
$ti-var-themify-logo: "\e6d1";
$ti-var-themify-favicon: "\e6d2";
$ti-var-themify-favicon-alt: "\e6d3";
