// Name:            Color Selector
//
// Component:       `color-selector`
//
// Markup:
//
// <ul class="color-selector">
//   <li>
//     <input type="radio" />
//     <label></label>
//   </li>
// </ul>
//
// ========================================================================

// Variables
// ========================================================================

$color-selector-bg:                     $brand-primary !default;
$color-selector-checked-label-color:    $inverse !default;
$color-selector-disabled-bg:            $disabled-color-base !default;

// z-index
$color-selector-z-index:                $zindex-base !default;

// Component: color-selector
// ========================================================================

.color-selector {

  > li {
    background-color: $color-selector-bg;

    input[type="radio"]:checked + label:after {
      color: $color-selector-checked-label-color;
    }

    &.color-selector-disabled {
      background-color: $color-selector-disabled-bg !important;
    }
  }
}
