// Name:            Pricing List
//
// Component:       `pricing-list`
//
// Modifiers:       'pricing-header'
//                  'pricing-title'
//                  'pricing-price'
//                  'pricing-period'
//                  'pricing-features'
//                  'pricing-footer'
//
// ========================================================================

// Variables
// ========================================================================

$pricing-list-border-color:          $border-color-base !default;

// Component: Pricing List
// ========================================================================

.pricing-list {

  border: 1px solid $pricing-list-border-color;

  [class^="bg-"],
  [class*="bg-"] {
    &,
    * {
      color: $inverse;
    }
  }

  // Modifier: `pricing-header`
  // ========================================================================
  .pricing-header {
    border-bottom: 1px solid $pricing-list-border-color;
  }

  // Modifier: `pricing-price`
  // ========================================================================
  .pricing-price {
    color: $title-color;
  }

  // Modifier: `pricing-features`
  // ========================================================================
  .pricing-features {
    li {
      border-top: 1px dashed $pricing-list-border-color;
    }
  }
}
