/* Mobil first approach - so some of this values represents on mobil specific value */

/* colors */
$body-bg: #fff;
$base-link-color: #36f;
$base-main-text-color: #333;
$base-heading-text-color: #fff;

/* Typoghraphy */
$base-font-family: 'Roboto', sans-serif;
$base-font-size: 16px;
$base-font-weight: 400;
