// Icons
// -------------------------
.#{$pe-css-prefix}-album:before {
	content: $pe-var-album;
}
.#{$pe-css-prefix}-arc:before {
	content: $pe-var-arc;
}
.#{$pe-css-prefix}-back-2:before {
	content: $pe-var-back-2;
}
.#{$pe-css-prefix}-bandaid:before {
	content: $pe-var-bandaid;
}
.#{$pe-css-prefix}-car:before {
	content: $pe-var-car;
}
.#{$pe-css-prefix}-diamond:before {
	content: $pe-var-diamond;
}
.#{$pe-css-prefix}-door-lock:before {
	content: $pe-var-door-lock;
}
.#{$pe-css-prefix}-eyedropper:before {
	content: $pe-var-eyedropper;
}
.#{$pe-css-prefix}-female:before {
	content: $pe-var-female;
}
.#{$pe-css-prefix}-gym:before {
	content: $pe-var-gym;
}
.#{$pe-css-prefix}-hammer:before {
	content: $pe-var-hammer;
}
.#{$pe-css-prefix}-headphones:before {
	content: $pe-var-headphones;
}
.#{$pe-css-prefix}-helm:before {
	content: $pe-var-helm;
}
.#{$pe-css-prefix}-hourglass:before {
	content: $pe-var-hourglass;
}
.#{$pe-css-prefix}-leaf:before {
	content: $pe-var-leaf;
}
.#{$pe-css-prefix}-magic-wand:before {
	content: $pe-var-magic-wand;
}
.#{$pe-css-prefix}-male:before {
	content: $pe-var-male;
}
.#{$pe-css-prefix}-map-2:before {
	content: $pe-var-map-2;
}
.#{$pe-css-prefix}-next-2:before {
	content: $pe-var-next-2;
}
.#{$pe-css-prefix}-paint-bucket:before {
	content: $pe-var-paint-bucket;
}
.#{$pe-css-prefix}-pendrive:before {
	content: $pe-var-pendrive;
}
.#{$pe-css-prefix}-photo:before {
	content: $pe-var-photo;
}
.#{$pe-css-prefix}-piggy:before {
	content: $pe-var-piggy;
}
.#{$pe-css-prefix}-plugin:before {
	content: $pe-var-plugin;
}
.#{$pe-css-prefix}-refresh-2:before {
	content: $pe-var-refresh-2;
}
.#{$pe-css-prefix}-rocket:before {
	content: $pe-var-rocket;
}
.#{$pe-css-prefix}-settings:before {
	content: $pe-var-settings;
}
.#{$pe-css-prefix}-shield:before {
	content: $pe-var-shield;
}
.#{$pe-css-prefix}-smile:before {
	content: $pe-var-smile;
}
.#{$pe-css-prefix}-usb:before {
	content: $pe-var-usb;
}
.#{$pe-css-prefix}-vector:before {
	content: $pe-var-vector;
}
.#{$pe-css-prefix}-wine:before {
	content: $pe-var-wine;
}
.#{$pe-css-prefix}-cloud-upload:before {
	content: $pe-var-cloud-upload;
}
.#{$pe-css-prefix}-cash:before {
	content: $pe-var-cash;
}
.#{$pe-css-prefix}-close:before {
	content: $pe-var-close;
}
.#{$pe-css-prefix}-bluetooth:before {
	content: $pe-var-bluetooth;
}
.#{$pe-css-prefix}-cloud-download:before {
	content: $pe-var-cloud-download;
}
.#{$pe-css-prefix}-way:before {
	content: $pe-var-way;
}
.#{$pe-css-prefix}-close-circle:before {
	content: $pe-var-close-circle;
}
.#{$pe-css-prefix}-id:before {
	content: $pe-var-id;
}
.#{$pe-css-prefix}-angle-up:before {
	content: $pe-var-angle-up;
}
.#{$pe-css-prefix}-wristwatch:before {
	content: $pe-var-wristwatch;
}
.#{$pe-css-prefix}-angle-up-circle:before {
	content: $pe-var-angle-up-circle;
}
.#{$pe-css-prefix}-world:before {
	content: $pe-var-world;
}
.#{$pe-css-prefix}-angle-right:before {
	content: $pe-var-angle-right;
}
.#{$pe-css-prefix}-volume:before {
	content: $pe-var-volume;
}
.#{$pe-css-prefix}-angle-right-circle:before {
	content: $pe-var-angle-right-circle;
}
.#{$pe-css-prefix}-users:before {
	content: $pe-var-users;
}
.#{$pe-css-prefix}-angle-left:before {
	content: $pe-var-angle-left;
}
.#{$pe-css-prefix}-user-female:before {
	content: $pe-var-user-female;
}
.#{$pe-css-prefix}-angle-left-circle:before {
	content: $pe-var-angle-left-circle;
}
.#{$pe-css-prefix}-up-arrow:before {
	content: $pe-var-up-arrow;
}
.#{$pe-css-prefix}-angle-down:before {
	content: $pe-var-angle-down;
}
.#{$pe-css-prefix}-switch:before {
	content: $pe-var-switch;
}
.#{$pe-css-prefix}-angle-down-circle:before {
	content: $pe-var-angle-down-circle;
}
.#{$pe-css-prefix}-scissors:before {
	content: $pe-var-scissors;
}
.#{$pe-css-prefix}-wallet:before {
	content: $pe-var-wallet;
}
.#{$pe-css-prefix}-safe:before {
	content: $pe-var-safe;
}
.#{$pe-css-prefix}-volume2:before {
	content: $pe-var-volume2;
}
.#{$pe-css-prefix}-volume1:before {
	content: $pe-var-volume1;
}
.#{$pe-css-prefix}-voicemail:before {
	content: $pe-var-voicemail;
}
.#{$pe-css-prefix}-video:before {
	content: $pe-var-video;
}
.#{$pe-css-prefix}-user:before {
	content: $pe-var-user;
}
.#{$pe-css-prefix}-upload:before {
	content: $pe-var-upload;
}
.#{$pe-css-prefix}-unlock:before {
	content: $pe-var-unlock;
}
.#{$pe-css-prefix}-umbrella:before {
	content: $pe-var-umbrella;
}
.#{$pe-css-prefix}-trash:before {
	content: $pe-var-trash;
}
.#{$pe-css-prefix}-tools:before {
	content: $pe-var-tools;
}
.#{$pe-css-prefix}-timer:before {
	content: $pe-var-timer;
}
.#{$pe-css-prefix}-ticket:before {
	content: $pe-var-ticket;
}
.#{$pe-css-prefix}-target:before {
	content: $pe-var-target;
}
.#{$pe-css-prefix}-sun:before {
	content: $pe-var-sun;
}
.#{$pe-css-prefix}-study:before {
	content: $pe-var-study;
}
.#{$pe-css-prefix}-stopwatch:before {
	content: $pe-var-stopwatch;
}
.#{$pe-css-prefix}-star:before {
	content: $pe-var-star;
}
.#{$pe-css-prefix}-speaker:before {
	content: $pe-var-speaker;
}
.#{$pe-css-prefix}-signal:before {
	content: $pe-var-signal;
}
.#{$pe-css-prefix}-shuffle:before {
	content: $pe-var-shuffle;
}
.#{$pe-css-prefix}-shopbag:before {
	content: $pe-var-shopbag;
}
.#{$pe-css-prefix}-share:before {
	content: $pe-var-share;
}
.#{$pe-css-prefix}-server:before {
	content: $pe-var-server;
}
.#{$pe-css-prefix}-search:before {
	content: $pe-var-search;
}
.#{$pe-css-prefix}-film:before {
	content: $pe-var-film;
}
.#{$pe-css-prefix}-science:before {
	content: $pe-var-science;
}
.#{$pe-css-prefix}-disk:before {
	content: $pe-var-disk;
}
.#{$pe-css-prefix}-ribbon:before {
	content: $pe-var-ribbon;
}
.#{$pe-css-prefix}-repeat:before {
	content: $pe-var-repeat;
}
.#{$pe-css-prefix}-refresh:before {
	content: $pe-var-refresh;
}
.#{$pe-css-prefix}-add-user:before {
	content: $pe-var-add-user;
}
.#{$pe-css-prefix}-refresh-cloud:before {
	content: $pe-var-refresh-cloud;
}
.#{$pe-css-prefix}-paperclip:before {
	content: $pe-var-paperclip;
}
.#{$pe-css-prefix}-radio:before {
	content: $pe-var-radio;
}
.#{$pe-css-prefix}-note2:before {
	content: $pe-var-note2;
}
.#{$pe-css-prefix}-print:before {
	content: $pe-var-print;
}
.#{$pe-css-prefix}-network:before {
	content: $pe-var-network;
}
.#{$pe-css-prefix}-prev:before {
	content: $pe-var-prev;
}
.#{$pe-css-prefix}-mute:before {
	content: $pe-var-mute;
}
.#{$pe-css-prefix}-power:before {
	content: $pe-var-power;
}
.#{$pe-css-prefix}-medal:before {
	content: $pe-var-medal;
}
.#{$pe-css-prefix}-portfolio:before {
	content: $pe-var-portfolio;
}
.#{$pe-css-prefix}-like2:before {
	content: $pe-var-like2;
}
.#{$pe-css-prefix}-plus:before {
	content: $pe-var-plus;
}
.#{$pe-css-prefix}-left-arrow:before {
	content: $pe-var-left-arrow;
}
.#{$pe-css-prefix}-play:before {
	content: $pe-var-play;
}
.#{$pe-css-prefix}-key:before {
	content: $pe-var-key;
}
.#{$pe-css-prefix}-plane:before {
	content: $pe-var-plane;
}
.#{$pe-css-prefix}-joy:before {
	content: $pe-var-joy;
}
.#{$pe-css-prefix}-photo-gallery:before {
	content: $pe-var-photo-gallery;
}
.#{$pe-css-prefix}-pin:before {
	content: $pe-var-pin;
}
.#{$pe-css-prefix}-phone:before {
	content: $pe-var-phone;
}
.#{$pe-css-prefix}-plug:before {
	content: $pe-var-plug;
}
.#{$pe-css-prefix}-pen:before {
	content: $pe-var-pen;
}
.#{$pe-css-prefix}-right-arrow:before {
	content: $pe-var-right-arrow;
}
.#{$pe-css-prefix}-paper-plane:before {
	content: $pe-var-paper-plane;
}
.#{$pe-css-prefix}-delete-user:before {
	content: $pe-var-delete-user;
}
.#{$pe-css-prefix}-paint:before {
	content: $pe-var-paint;
}
.#{$pe-css-prefix}-bottom-arrow:before {
	content: $pe-var-bottom-arrow;
}
.#{$pe-css-prefix}-notebook:before {
	content: $pe-var-notebook;
}
.#{$pe-css-prefix}-note:before {
	content: $pe-var-note;
}
.#{$pe-css-prefix}-next:before {
	content: $pe-var-next;
}
.#{$pe-css-prefix}-news-paper:before {
	content: $pe-var-news-paper;
}
.#{$pe-css-prefix}-musiclist:before {
	content: $pe-var-musiclist;
}
.#{$pe-css-prefix}-music:before {
	content: $pe-var-music;
}
.#{$pe-css-prefix}-mouse:before {
	content: $pe-var-mouse;
}
.#{$pe-css-prefix}-more:before {
	content: $pe-var-more;
}
.#{$pe-css-prefix}-moon:before {
	content: $pe-var-moon;
}
.#{$pe-css-prefix}-monitor:before {
	content: $pe-var-monitor;
}
.#{$pe-css-prefix}-micro:before {
	content: $pe-var-micro;
}
.#{$pe-css-prefix}-menu:before {
	content: $pe-var-menu;
}
.#{$pe-css-prefix}-map:before {
	content: $pe-var-map;
}
.#{$pe-css-prefix}-map-marker:before {
	content: $pe-var-map-marker;
}
.#{$pe-css-prefix}-mail:before {
	content: $pe-var-mail;
}
.#{$pe-css-prefix}-mail-open:before {
	content: $pe-var-mail-open;
}
.#{$pe-css-prefix}-mail-open-file:before {
	content: $pe-var-mail-open-file;
}
.#{$pe-css-prefix}-magnet:before {
	content: $pe-var-magnet;
}
.#{$pe-css-prefix}-loop:before {
	content: $pe-var-loop;
}
.#{$pe-css-prefix}-look:before {
	content: $pe-var-look;
}
.#{$pe-css-prefix}-lock:before {
	content: $pe-var-lock;
}
.#{$pe-css-prefix}-lintern:before {
	content: $pe-var-lintern;
}
.#{$pe-css-prefix}-link:before {
	content: $pe-var-link;
}
.#{$pe-css-prefix}-like:before {
	content: $pe-var-like;
}
.#{$pe-css-prefix}-light:before {
	content: $pe-var-light;
}
.#{$pe-css-prefix}-less:before {
	content: $pe-var-less;
}
.#{$pe-css-prefix}-keypad:before {
	content: $pe-var-keypad;
}
.#{$pe-css-prefix}-junk:before {
	content: $pe-var-junk;
}
.#{$pe-css-prefix}-info:before {
	content: $pe-var-info;
}
.#{$pe-css-prefix}-home:before {
	content: $pe-var-home;
}
.#{$pe-css-prefix}-help2:before {
	content: $pe-var-help2;
}
.#{$pe-css-prefix}-help1:before {
	content: $pe-var-help1;
}
.#{$pe-css-prefix}-graph3:before {
	content: $pe-var-graph3;
}
.#{$pe-css-prefix}-graph2:before {
	content: $pe-var-graph2;
}
.#{$pe-css-prefix}-graph1:before {
	content: $pe-var-graph1;
}
.#{$pe-css-prefix}-graph:before {
	content: $pe-var-graph;
}
.#{$pe-css-prefix}-global:before {
	content: $pe-var-global;
}
.#{$pe-css-prefix}-gleam:before {
	content: $pe-var-gleam;
}
.#{$pe-css-prefix}-glasses:before {
	content: $pe-var-glasses;
}
.#{$pe-css-prefix}-gift:before {
	content: $pe-var-gift;
}
.#{$pe-css-prefix}-folder:before {
	content: $pe-var-folder;
}
.#{$pe-css-prefix}-flag:before {
	content: $pe-var-flag;
}
.#{$pe-css-prefix}-filter:before {
	content: $pe-var-filter;
}
.#{$pe-css-prefix}-file:before {
	content: $pe-var-file;
}
.#{$pe-css-prefix}-expand1:before {
	content: $pe-var-expand1;
}
.#{$pe-css-prefix}-exapnd2:before {
	content: $pe-var-exapnd2;
}
.#{$pe-css-prefix}-edit:before {
	content: $pe-var-edit;
}
.#{$pe-css-prefix}-drop:before {
	content: $pe-var-drop;
}
.#{$pe-css-prefix}-drawer:before {
	content: $pe-var-drawer;
}
.#{$pe-css-prefix}-download:before {
	content: $pe-var-download;
}
.#{$pe-css-prefix}-display2:before {
	content: $pe-var-display2;
}
.#{$pe-css-prefix}-display1:before {
	content: $pe-var-display1;
}
.#{$pe-css-prefix}-diskette:before {
	content: $pe-var-diskette;
}
.#{$pe-css-prefix}-date:before {
	content: $pe-var-date;
}
.#{$pe-css-prefix}-cup:before {
	content: $pe-var-cup;
}
.#{$pe-css-prefix}-culture:before {
	content: $pe-var-culture;
}
.#{$pe-css-prefix}-crop:before {
	content: $pe-var-crop;
}
.#{$pe-css-prefix}-credit:before {
	content: $pe-var-credit;
}
.#{$pe-css-prefix}-copy-file:before {
	content: $pe-var-copy-file;
}
.#{$pe-css-prefix}-config:before {
	content: $pe-var-config;
}
.#{$pe-css-prefix}-compass:before {
	content: $pe-var-compass;
}
.#{$pe-css-prefix}-comment:before {
	content: $pe-var-comment;
}
.#{$pe-css-prefix}-coffee:before {
	content: $pe-var-coffee;
}
.#{$pe-css-prefix}-cloud:before {
	content: $pe-var-cloud;
}
.#{$pe-css-prefix}-clock:before {
	content: $pe-var-clock;
}
.#{$pe-css-prefix}-check:before {
	content: $pe-var-check;
}
.#{$pe-css-prefix}-chat:before {
	content: $pe-var-chat;
}
.#{$pe-css-prefix}-cart:before {
	content: $pe-var-cart;
}
.#{$pe-css-prefix}-camera:before {
	content: $pe-var-camera;
}
.#{$pe-css-prefix}-call:before {
	content: $pe-var-call;
}
.#{$pe-css-prefix}-calculator:before {
	content: $pe-var-calculator;
}
.#{$pe-css-prefix}-browser:before {
	content: $pe-var-browser;
}
.#{$pe-css-prefix}-box2:before {
	content: $pe-var-box2;
}
.#{$pe-css-prefix}-box1:before {
	content: $pe-var-box1;
}
.#{$pe-css-prefix}-bookmarks:before {
	content: $pe-var-bookmarks;
}
.#{$pe-css-prefix}-bicycle:before {
	content: $pe-var-bicycle;
}
.#{$pe-css-prefix}-bell:before {
	content: $pe-var-bell;
}
.#{$pe-css-prefix}-battery:before {
	content: $pe-var-battery;
}
.#{$pe-css-prefix}-ball:before {
	content: $pe-var-ball;
}
.#{$pe-css-prefix}-back:before {
	content: $pe-var-back;
}
.#{$pe-css-prefix}-attention:before {
	content: $pe-var-attention;
}
.#{$pe-css-prefix}-anchor:before {
	content: $pe-var-anchor;
}
.#{$pe-css-prefix}-albums:before {
	content: $pe-var-albums;
}
.#{$pe-css-prefix}-alarm:before {
	content: $pe-var-alarm;
}
.#{$pe-css-prefix}-airplay:before {
	content: $pe-var-airplay;
}
