// Font path
// --------------------------
@font-face {

  font-family: '#{$pe-font-family}';
  src: url('#{$pe-font-path}/#{$pe-font-file}.eot?v=#{$pe-version}');
  src: url('#{$pe-font-path}/#{$pe-font-file}.eot?#iefix&v=#{$pe-version}') format('embedded-opentype'),

    url('#{$pe-font-path}/#{$pe-font-file}.woff?v=#{$pe-version}') format('woff'),
    url('#{$pe-font-path}/#{$pe-font-file}.ttf?v=#{$pe-version}') format('truetype'),
    url('#{$pe-font-path}/#{$pe-font-file}.svg?v=#{$pe-version}##{$pe-font-file}') format('svg');
  font-weight: normal;
  font-style: normal;
}
