// Variables
// --------------------------
$pe-font-path:        ".";
$pe-font-file:        "7-stroke";
$pe-font-family:      "Stroke Icons 7";
$pe-css-prefix:       pe;
$pe-version:          "1.2.0";

$pe-var-album: "\e6aa";
$pe-var-arc: "\e6ab";
$pe-var-back-2: "\e6ac";
$pe-var-bandaid: "\e6ad";
$pe-var-car: "\e6ae";
$pe-var-diamond: "\e6af";
$pe-var-door-lock: "\e6b0";
$pe-var-eyedropper: "\e6b1";
$pe-var-female: "\e6b2";
$pe-var-gym: "\e6b3";
$pe-var-hammer: "\e6b4";
$pe-var-headphones: "\e6b5";
$pe-var-helm: "\e6b6";
$pe-var-hourglass: "\e6b7";
$pe-var-leaf: "\e6b8";
$pe-var-magic-wand: "\e6b9";
$pe-var-male: "\e6ba";
$pe-var-map-2: "\e6bb";
$pe-var-next-2: "\e6bc";
$pe-var-paint-bucket: "\e6bd";
$pe-var-pendrive: "\e6be";
$pe-var-photo: "\e6bf";
$pe-var-piggy: "\e6c0";
$pe-var-plugin: "\e6c1";
$pe-var-refresh-2: "\e6c2";
$pe-var-rocket: "\e6c3";
$pe-var-settings: "\e6c4";
$pe-var-shield: "\e6c5";
$pe-var-smile: "\e6c6";
$pe-var-usb: "\e6c7";
$pe-var-vector: "\e6c8";
$pe-var-wine: "\e6c9";
$pe-var-cloud-upload: "\e68a";
$pe-var-cash: "\e68c";
$pe-var-close: "\e680";
$pe-var-bluetooth: "\e68d";
$pe-var-cloud-download: "\e68b";
$pe-var-way: "\e68e";
$pe-var-close-circle: "\e681";
$pe-var-id: "\e68f";
$pe-var-angle-up: "\e682";
$pe-var-wristwatch: "\e690";
$pe-var-angle-up-circle: "\e683";
$pe-var-world: "\e691";
$pe-var-angle-right: "\e684";
$pe-var-volume: "\e692";
$pe-var-angle-right-circle: "\e685";
$pe-var-users: "\e693";
$pe-var-angle-left: "\e686";
$pe-var-user-female: "\e694";
$pe-var-angle-left-circle: "\e687";
$pe-var-up-arrow: "\e695";
$pe-var-angle-down: "\e688";
$pe-var-switch: "\e696";
$pe-var-angle-down-circle: "\e689";
$pe-var-scissors: "\e697";
$pe-var-wallet: "\e600";
$pe-var-safe: "\e698";
$pe-var-volume2: "\e601";
$pe-var-volume1: "\e602";
$pe-var-voicemail: "\e603";
$pe-var-video: "\e604";
$pe-var-user: "\e605";
$pe-var-upload: "\e606";
$pe-var-unlock: "\e607";
$pe-var-umbrella: "\e608";
$pe-var-trash: "\e609";
$pe-var-tools: "\e60a";
$pe-var-timer: "\e60b";
$pe-var-ticket: "\e60c";
$pe-var-target: "\e60d";
$pe-var-sun: "\e60e";
$pe-var-study: "\e60f";
$pe-var-stopwatch: "\e610";
$pe-var-star: "\e611";
$pe-var-speaker: "\e612";
$pe-var-signal: "\e613";
$pe-var-shuffle: "\e614";
$pe-var-shopbag: "\e615";
$pe-var-share: "\e616";
$pe-var-server: "\e617";
$pe-var-search: "\e618";
$pe-var-film: "\e6a5";
$pe-var-science: "\e619";
$pe-var-disk: "\e6a6";
$pe-var-ribbon: "\e61a";
$pe-var-repeat: "\e61b";
$pe-var-refresh: "\e61c";
$pe-var-add-user: "\e6a9";
$pe-var-refresh-cloud: "\e61d";
$pe-var-paperclip: "\e69c";
$pe-var-radio: "\e61e";
$pe-var-note2: "\e69d";
$pe-var-print: "\e61f";
$pe-var-network: "\e69e";
$pe-var-prev: "\e620";
$pe-var-mute: "\e69f";
$pe-var-power: "\e621";
$pe-var-medal: "\e6a0";
$pe-var-portfolio: "\e622";
$pe-var-like2: "\e6a1";
$pe-var-plus: "\e623";
$pe-var-left-arrow: "\e6a2";
$pe-var-play: "\e624";
$pe-var-key: "\e6a3";
$pe-var-plane: "\e625";
$pe-var-joy: "\e6a4";
$pe-var-photo-gallery: "\e626";
$pe-var-pin: "\e69b";
$pe-var-phone: "\e627";
$pe-var-plug: "\e69a";
$pe-var-pen: "\e628";
$pe-var-right-arrow: "\e699";
$pe-var-paper-plane: "\e629";
$pe-var-delete-user: "\e6a7";
$pe-var-paint: "\e62a";
$pe-var-bottom-arrow: "\e6a8";
$pe-var-notebook: "\e62b";
$pe-var-note: "\e62c";
$pe-var-next: "\e62d";
$pe-var-news-paper: "\e62e";
$pe-var-musiclist: "\e62f";
$pe-var-music: "\e630";
$pe-var-mouse: "\e631";
$pe-var-more: "\e632";
$pe-var-moon: "\e633";
$pe-var-monitor: "\e634";
$pe-var-micro: "\e635";
$pe-var-menu: "\e636";
$pe-var-map: "\e637";
$pe-var-map-marker: "\e638";
$pe-var-mail: "\e639";
$pe-var-mail-open: "\e63a";
$pe-var-mail-open-file: "\e63b";
$pe-var-magnet: "\e63c";
$pe-var-loop: "\e63d";
$pe-var-look: "\e63e";
$pe-var-lock: "\e63f";
$pe-var-lintern: "\e640";
$pe-var-link: "\e641";
$pe-var-like: "\e642";
$pe-var-light: "\e643";
$pe-var-less: "\e644";
$pe-var-keypad: "\e645";
$pe-var-junk: "\e646";
$pe-var-info: "\e647";
$pe-var-home: "\e648";
$pe-var-help2: "\e649";
$pe-var-help1: "\e64a";
$pe-var-graph3: "\e64b";
$pe-var-graph2: "\e64c";
$pe-var-graph1: "\e64d";
$pe-var-graph: "\e64e";
$pe-var-global: "\e64f";
$pe-var-gleam: "\e650";
$pe-var-glasses: "\e651";
$pe-var-gift: "\e652";
$pe-var-folder: "\e653";
$pe-var-flag: "\e654";
$pe-var-filter: "\e655";
$pe-var-file: "\e656";
$pe-var-expand1: "\e657";
$pe-var-exapnd2: "\e658";
$pe-var-edit: "\e659";
$pe-var-drop: "\e65a";
$pe-var-drawer: "\e65b";
$pe-var-download: "\e65c";
$pe-var-display2: "\e65d";
$pe-var-display1: "\e65e";
$pe-var-diskette: "\e65f";
$pe-var-date: "\e660";
$pe-var-cup: "\e661";
$pe-var-culture: "\e662";
$pe-var-crop: "\e663";
$pe-var-credit: "\e664";
$pe-var-copy-file: "\e665";
$pe-var-config: "\e666";
$pe-var-compass: "\e667";
$pe-var-comment: "\e668";
$pe-var-coffee: "\e669";
$pe-var-cloud: "\e66a";
$pe-var-clock: "\e66b";
$pe-var-check: "\e66c";
$pe-var-chat: "\e66d";
$pe-var-cart: "\e66e";
$pe-var-camera: "\e66f";
$pe-var-call: "\e670";
$pe-var-calculator: "\e671";
$pe-var-browser: "\e672";
$pe-var-box2: "\e673";
$pe-var-box1: "\e674";
$pe-var-bookmarks: "\e675";
$pe-var-bicycle: "\e676";
$pe-var-bell: "\e677";
$pe-var-battery: "\e678";
$pe-var-ball: "\e679";
$pe-var-back: "\e67a";
$pe-var-attention: "\e67b";
$pe-var-anchor: "\e67c";
$pe-var-albums: "\e67d";
$pe-var-alarm: "\e67e";
$pe-var-airplay: "\e67f";
