// Variables
// --------------------------
$mi-font-path:        ".";
$mi-font-file:        "micon";
$mi-font-family:      "Micon";
$mi-css-prefix:       mi;
$mi-version:          "2.2.155";

$mi-var-Accept: "\EA01";
$mi-var-AcceptLegacy: "\EA01";
$mi-var-CheckmarkListviewLegacy: "\EA01";
$mi-var-CheckmarkMenuLegacy: "\EA01";
$mi-var-Accident: "\EA02";
$mi-var-AccidentSolid: "\EA03";
$mi-var-Accounts: "\EA04";
$mi-var-AccountsLegacy: "\EA04";
$mi-var-ActionCenter: "\EA05";
$mi-var-ActionCenterAsterisk: "\EA06";
$mi-var-ActionCenterMirrored: "\EA07";
$mi-var-ActionCenterNotification: "\EA08";
$mi-var-ActionCenterNotificationMirrored: "\EA09";
$mi-var-ActionCenterQuiet: "\EA0A";
$mi-var-ActionCenterQuietNotification: "\EA0B";
$mi-var-Add: "\EA0C";
$mi-var-AddLegacy: "\EA0C";
$mi-var-AddFriend: "\EA0D";
$mi-var-AddFriendLegacy: "\EA0D";
$mi-var-AddRemoteDevice: "\EA0E";
$mi-var-AddSurfaceHub: "\EA0F";
$mi-var-AddTo: "\EA10";
$mi-var-AdjustHologram: "\EA11";
$mi-var-Admin: "\EA12";
$mi-var-AdminLegacy: "\EA12";
$mi-var-Airplane: "\EA13";
$mi-var-AirplaneSolid: "\EA14";
$mi-var-AlignCenter: "\EA15";
$mi-var-AlignCenterLegacy: "\EA15";
$mi-var-AlignLeft: "\EA16";
$mi-var-AlignLeftLegacy: "\EA16";
$mi-var-AlignRight: "\EA17";
$mi-var-AlignRightLegacy: "\EA17";
$mi-var-AllApps: "\EA18";
$mi-var-AllAppsLegacy: "\EA18";
$mi-var-AllAppsLegacyMirrored: "\EA19";
$mi-var-AllAppsMirrored: "\EA19";
$mi-var-Annotation: "\EA1A";
$mi-var-AppIconDefault: "\EA1B";
$mi-var-AspectRatio: "\EA1C";
$mi-var-Asterisk: "\EA1D";
$mi-var-AsteriskBadge12: "\EA1E";
$mi-var-Attach: "\EA1F";
$mi-var-AttachLegacy: "\EA1F";
$mi-var-AttachCamera: "\EA20";
$mi-var-AttachCameraLegacy: "\EA20";
$mi-var-Audio: "\EA21";
$mi-var-AudioLegacy: "\EA21";
$mi-var-ArrowHTMLLegacy: "\EA22";
$mi-var-Back: "\EA22";
$mi-var-BackBttnArrow20Legacy: "\EA22";
$mi-var-BackBttnArrow42Legacy: "\EA22";
$mi-var-BackLegacy: "\EA22";
$mi-var-BackSpaceQWERTYLg: "\EA23";
$mi-var-BackSpaceQWERTYMd: "\EA24";
$mi-var-BackSpaceQWERTYSm: "\EA25";
$mi-var-BackToWindow: "\EA26";
$mi-var-BackToWindowLegacy: "\EA26";
$mi-var-BackgroundToggle: "\EA27";
$mi-var-Badge: "\EA28";
$mi-var-Bank: "\EA29";
$mi-var-BarcodeScanner: "\EA2A";
$mi-var-Battery0: "\EA2B";
$mi-var-Battery1: "\EA2C";
$mi-var-Battery10: "\EA2D";
$mi-var-Battery2: "\EA2E";
$mi-var-Battery3: "\EA2F";
$mi-var-Battery4: "\EA30";
$mi-var-Battery5: "\EA31";
$mi-var-Battery6: "\EA32";
$mi-var-Battery7: "\EA33";
$mi-var-Battery8: "\EA34";
$mi-var-Battery9: "\EA35";
$mi-var-BatteryCharging0: "\EA36";
$mi-var-BatteryCharging1: "\EA37";
$mi-var-BatteryCharging10: "\EA38";
$mi-var-BatteryCharging2: "\EA39";
$mi-var-BatteryCharging3: "\EA3A";
$mi-var-BatteryCharging4: "\EA3B";
$mi-var-BatteryCharging5: "\EA3C";
$mi-var-BatteryCharging6: "\EA3D";
$mi-var-BatteryCharging7: "\EA3E";
$mi-var-BatteryCharging8: "\EA3F";
$mi-var-BatteryCharging9: "\EA40";
$mi-var-BatterySaver0: "\EA41";
$mi-var-BatterySaver1: "\EA42";
$mi-var-BatterySaver10: "\EA43";
$mi-var-BatterySaver2: "\EA44";
$mi-var-BatterySaver3: "\EA45";
$mi-var-BatterySaver4: "\EA46";
$mi-var-BatterySaver5: "\EA47";
$mi-var-BatterySaver6: "\EA48";
$mi-var-BatterySaver7: "\EA49";
$mi-var-BatterySaver8: "\EA4A";
$mi-var-BatterySaver9: "\EA4B";
$mi-var-BatteryUnknown: "\EA4C";
$mi-var-Beta: "\EA4D";
$mi-var-BidiLtr: "\EA4E";
$mi-var-BidiRtl: "\EA4F";
$mi-var-BlockContact: "\EA50";
$mi-var-BlockContactLegacy: "\EA50";
$mi-var-BlockedLegacy: "\EA51";
$mi-var-Bluetooth: "\EA52";
$mi-var-BodyCam: "\EA53";
$mi-var-Bold: "\EA54";
$mi-var-BoldLegacy: "\EA54";
$mi-var-BoldFLegacy: "\EA55";
$mi-var-BoldGLegacy: "\EA56";
$mi-var-BoldKoreanLegacy: "\EA57";
$mi-var-BoldNLegacy: "\EA58";
$mi-var-BoldRussionLegacy: "\EA59";
$mi-var-Bookmarks: "\EA5A";
$mi-var-BookmarksLegacy: "\EA5A";
$mi-var-BookmarksLegacyMirrored: "\EA5B";
$mi-var-BookmarksMirrored: "\EA5B";
$mi-var-Brightness: "\EA5C";
$mi-var-Broom: "\EA5D";
$mi-var-BrowsePhotos: "\EA5E";
$mi-var-BrowsePhotosLegacy: "\EA5E";
$mi-var-BrushSize: "\EA5F";
$mi-var-BuildingEnergy: "\EA60";
$mi-var-BulletedList: "\EA61";
$mi-var-BulletedListLegacy: "\EA61";
$mi-var-ListLegacy: "\EA61";
$mi-var-BulletedListLegacyMirrored: "\EA62";
$mi-var-BulletedListMirrored: "\EA62";
$mi-var-ListLegacyMirrored: "\EA62";
$mi-var-Bus: "\EA63";
$mi-var-BusSolid: "\EA64";
$mi-var-CC: "\EA65";
$mi-var-CCLegacy: "\EA65";
$mi-var-CCEuroLegacy: "\EA66";
$mi-var-CCJapanLegacy: "\EA67";
$mi-var-Calculator: "\EA68";
$mi-var-CalculatorLegacy: "\EA68";
$mi-var-CalculatorAddition: "\EA69";
$mi-var-BackSpaceQWERTY: "\EA6A";
$mi-var-CalculatorBackspace: "\EA6A";
$mi-var-CalculatorDivide: "\EA6B";
$mi-var-CalculatorEqualTo: "\EA6C";
$mi-var-CalculatorMultiply: "\EA6D";
$mi-var-CalculatorNegate: "\EA6E";
$mi-var-CalculatorPercentage: "\EA6F";
$mi-var-CalculatorSquareroot: "\EA70";
$mi-var-CalculatorSubtract: "\EA71";
$mi-var-Calendar: "\EA72";
$mi-var-CalendarLegacy: "\EA72";
$mi-var-CalendarDay: "\EA73";
$mi-var-CalendarDayLegacy: "\EA73";
$mi-var-CalendarLegacyMirrored: "\EA74";
$mi-var-CalendarMirrored: "\EA74";
$mi-var-CalendarReply: "\EA75";
$mi-var-CalendarReplyLegacy: "\EA75";
$mi-var-CalendarSolid: "\EA76";
$mi-var-CalendarWeek: "\EA77";
$mi-var-CalendarWeekLegacy: "\EA77";
$mi-var-CaligraphyPen: "\EA78";
$mi-var-CallForwardInternational: "\EA79";
$mi-var-CallForwardInternationalMirrored: "\EA7A";
$mi-var-CallForwardRoaming: "\EA7B";
$mi-var-CallForwardRoamingMirrored: "\EA7C";
$mi-var-CallForwarding: "\EA7D";
$mi-var-CallForwardingMirrored: "\EA7E";
$mi-var-Camera: "\EA7F";
$mi-var-CameraLegacy: "\EA7F";
$mi-var-Cancel: "\EA80";
$mi-var-CancelLegacy: "\EA80";
$mi-var-Caption: "\EA81";
$mi-var-CaptionLegacy: "\EA81";
$mi-var-Car: "\EA82";
$mi-var-DrivingMode: "\EA82";
$mi-var-CashDrawer: "\EA83";
$mi-var-CellPhone: "\EA84";
$mi-var-CellPhoneLegacy: "\EA84";
$mi-var-MobileContactLegacy: "\EA84";
$mi-var-Certificate: "\EA85";
$mi-var-Characters: "\EA86";
$mi-var-CharactersLegacy: "\EA86";
$mi-var-ChatBubbles: "\EA87";
$mi-var-CheckMark: "\EA88";
$mi-var-CheckMarkLegacy: "\EA88";
$mi-var-CheckMarkZeroWidthLegacy: "\EA88";
$mi-var-Checkbox: "\EA89";
$mi-var-CheckboxLegacy: "\EA89";
$mi-var-CheckboxComposite: "\EA8A";
$mi-var-CheckboxCompositeLegacy: "\EA8A";
$mi-var-CheckboxCompositeReversed: "\EA8B";
$mi-var-CheckboxCompositeReversedLegacy: "\EA8B";
$mi-var-CheckboxFill: "\EA8C";
$mi-var-CheckboxFillLegacy: "\EA8C";
$mi-var-CheckboxFillZeroWidthLegacy: "\EA8C";
$mi-var-PresenceChicklet: "\EA8C";
$mi-var-PresenceChickletLegacy: "\EA8C";
$mi-var-ResizeMouseLarge: "\EA8C";
$mi-var-CheckboxIndeterminate: "\EA8D";
$mi-var-CheckboxIndeterminateLegacy: "\EA8D";
$mi-var-ChevronDown: "\EA8E";
$mi-var-ChevronDown1Legacy: "\EA8E";
$mi-var-ChevronDown2Legacy: "\EA8E";
$mi-var-ChevronDown3Legacy: "\EA8E";
$mi-var-ChevronDown4Legacy: "\EA8E";
$mi-var-ChevronFlipDownLegacy: "\EA8E";
$mi-var-ScrollChevronDownBoldLegacy: "\EA8E";
$mi-var-ScrollChevronDownLegacy: "\EA8E";
$mi-var-ChevronDownMed: "\EA8F";
$mi-var-ChevronDownSmLegacy: "\EA90";
$mi-var-ChevronDownSmall: "\EA90";
$mi-var-ChevronFlipLeftLegacy: "\EA91";
$mi-var-ChevronLeft: "\EA91";
$mi-var-ChevronLeft1Legacy: "\EA91";
$mi-var-ChevronLeft2Legacy: "\EA91";
$mi-var-ChevronLeft3Legacy: "\EA91";
$mi-var-ChevronLeft4Legacy: "\EA91";
$mi-var-ScrollChevronLeftBoldLegacy: "\EA91";
$mi-var-ScrollChevronLeftLegacy: "\EA91";
$mi-var-ChevronLeftMed: "\EA92";
$mi-var-ChevronLeftSmLegacy: "\EA93";
$mi-var-ChevronLeftSmall: "\EA93";
$mi-var-ChevronFlipRightLegacy: "\EA94";
$mi-var-ChevronRight: "\EA94";
$mi-var-ChevronRight1Legacy: "\EA94";
$mi-var-ChevronRight2Legacy: "\EA94";
$mi-var-ChevronRight3Legacy: "\EA94";
$mi-var-ChevronRight4Legacy: "\EA94";
$mi-var-ScrollChevronRightBoldLegacy: "\EA94";
$mi-var-ScrollChevronRightLegacy: "\EA94";
$mi-var-ChevronRightMed: "\EA95";
$mi-var-ChevronRightSmLegacy: "\EA96";
$mi-var-ChevronRightSmall: "\EA96";
$mi-var-ChevronFlipUpLegacy: "\EA97";
$mi-var-ChevronUp: "\EA97";
$mi-var-ChevronUp1Legacy: "\EA97";
$mi-var-ChevronUp2Legacy: "\EA97";
$mi-var-ChevronUp3Legacy: "\EA97";
$mi-var-ChevronUp4Legacy: "\EA97";
$mi-var-ScrollChevronUpBoldLegacy: "\EA97";
$mi-var-ScrollChevronUpLegacy: "\EA97";
$mi-var-ChevronUpMed: "\EA98";
$mi-var-ChevronUpSmall: "\EA99";
$mi-var-ChineseBoPoMoFo: "\EA9A";
$mi-var-ChineseChangjie: "\EA9B";
$mi-var-ChinesePinyin: "\EA9C";
$mi-var-ChineseQuick: "\EA9D";
$mi-var-ChromeAnnotate: "\EA9E";
$mi-var-ChromeBack: "\EA9F";
$mi-var-ChromeBackMirrored: "\EAA0";
$mi-var-ChromeBackToWindow: "\EAA1";
$mi-var-ChromeClose: "\EAA2";
$mi-var-ChromeFullScreen: "\EAA3";
$mi-var-ChromeMaximize: "\EAA4";
$mi-var-ChromeMinimize: "\EAA5";
$mi-var-ChromeRestore: "\EAA6";
$mi-var-CircleFill: "\EAA7";
$mi-var-CircleFillBadge12: "\EAA8";
$mi-var-CircleRing: "\EAA9";
$mi-var-CircleRingBadge12: "\EAAA";
$mi-var-CityNext: "\EAAB";
$mi-var-CityNext2: "\EAAC";
$mi-var-Clear: "\EAAD";
$mi-var-ClearLegacy: "\EAAD";
$mi-var-ClearAllInk: "\EAAE";
$mi-var-ClearAllInkMirrored: "\EAAF";
$mi-var-ClearSelection: "\EAB0";
$mi-var-ClearSelectionLegacy: "\EAB0";
$mi-var-ClearSelectionLegacyMirrored: "\EAB1";
$mi-var-ClearSelectionMirrored: "\EAB1";
$mi-var-Click: "\EAB2";
$mi-var-ClockLegacy: "\EAB3";
$mi-var-ClosePane: "\EAB4";
$mi-var-ClosePaneLegacy: "\EAB4";
$mi-var-ClosePaneLegacyMirrored: "\EAB5";
$mi-var-ClosePaneMirrored: "\EAB5";
$mi-var-Cloud: "\EAB6";
$mi-var-CloudPrinter: "\EAB7";
$mi-var-Code: "\EAB8";
$mi-var-Color: "\EAB9";
$mi-var-ColorLegacy: "\EAB9";
$mi-var-CommaKey: "\EABA";
$mi-var-CommandPrompt: "\EABB";
$mi-var-Comment: "\EABC";
$mi-var-CommentLegacy: "\EABC";
$mi-var-Communications: "\EABD";
$mi-var-CompanionApp: "\EABE";
$mi-var-CompanionDeviceFramework: "\EABF";
$mi-var-Completed: "\EAC0";
$mi-var-CompletedSolid: "\EAC1";
$mi-var-Component: "\EAC2";
$mi-var-Connect: "\EAC3";
$mi-var-ConnectApp: "\EAC4";
$mi-var-MiracastLogoLarge: "\EAC4";
$mi-var-Construction: "\EAC5";
$mi-var-ConstructionCone: "\EAC6";
$mi-var-ConstructionSolid: "\EAC7";
$mi-var-Contact: "\EAC8";
$mi-var-Contact3Legacy: "\EAC8";
$mi-var-ContactLegacy: "\EAC8";
$mi-var-Contact2: "\EAC9";
$mi-var-Contact2Legacy: "\EAC9";
$mi-var-ContactInfo: "\EACA";
$mi-var-ContactInfoLegacy: "\EACA";
$mi-var-ContactInfoMirrored: "\EACB";
$mi-var-ContactPresence: "\EACC";
$mi-var-ContactPresenceLegacy: "\EACC";
$mi-var-ContactSolid: "\EACD";
$mi-var-Copy: "\EACE";
$mi-var-CopyLegacy: "\EACE";
$mi-var-Courthouse: "\EACF";
$mi-var-Crop: "\EAD0";
$mi-var-CropLegacy: "\EAD0";
$mi-var-Cut: "\EAD1";
$mi-var-CutLegacy: "\EAD1";
$mi-var-DMC: "\EAD2";
$mi-var-DashKey: "\EAD3";
$mi-var-DataSense: "\EAD4";
$mi-var-DataSenseBar: "\EAD5";
$mi-var-DateTime: "\EAD6";
$mi-var-DateTimeMirrored: "\EAD7";
$mi-var-DecreaseIndentLegacy: "\EAD8";
$mi-var-DecreaseIndentLegacyMirrored: "\EAD9";
$mi-var-DefenderApp: "\EADA";
$mi-var-Delete: "\EADB";
$mi-var-DeleteLegacy: "\EADB";
$mi-var-DevUpdate: "\EADC";
$mi-var-DeveloperTools: "\EADD";
$mi-var-DeviceDiscovery: "\EADE";
$mi-var-DeviceLaptopNoPic: "\EADF";
$mi-var-DeviceLaptopPic: "\EAE0";
$mi-var-DeviceMonitorLeftPic: "\EAE1";
$mi-var-DeviceMonitorNoPic: "\EAE2";
$mi-var-DeviceMonitorRightPic: "\EAE3";
$mi-var-Devices: "\EAE4";
$mi-var-Devices3: "\EAE5";
$mi-var-Devices4: "\EAE6";
$mi-var-Devices2: "\EAE7";
$mi-var-DevicesLegacy: "\EAE7";
$mi-var-Diagnostic: "\EAE8";
$mi-var-DialUp: "\EAE9";
$mi-var-Dialpad: "\EAEA";
$mi-var-Dictionary: "\EAEB";
$mi-var-DictionaryAdd: "\EAEC";
$mi-var-DictionaryCloud: "\EAED";
$mi-var-DirectAccess: "\EAEE";
$mi-var-Directions: "\EAEF";
$mi-var-DirectionsLegacy: "\EAEF";
$mi-var-DisableUpdates: "\EAF0";
$mi-var-DisableUpdatesLegacy: "\EAF0";
$mi-var-DisconnectDisplay: "\EAF1";
$mi-var-DisconnectDrive: "\EAF2";
$mi-var-DisconnectDriveLegacy: "\EAF2";
$mi-var-Dislike: "\EAF3";
$mi-var-DislikeLegacy: "\EAF3";
$mi-var-Dock: "\EAF4";
$mi-var-DockBottom: "\EAF5";
$mi-var-DockBottomLegacy: "\EAF5";
$mi-var-DockLeft: "\EAF6";
$mi-var-DockLeftLegacy: "\EAF6";
$mi-var-DockLeftLegacyMirrored: "\EAF7";
$mi-var-DockLeftMirrored: "\EAF7";
$mi-var-DockRight: "\EAF8";
$mi-var-DockRightLegacy: "\EAF8";
$mi-var-DockRightLegacyMirrored: "\EAF9";
$mi-var-DockRightMirrored: "\EAF9";
$mi-var-Document: "\EAFA";
$mi-var-DocumentLegacy: "\EAFA";
$mi-var-Down: "\EAFB";
$mi-var-DownLegacy: "\EAFB";
$mi-var-DownShiftKey: "\EAFC";
$mi-var-Download: "\EAFD";
$mi-var-DownloadLegacy: "\EAFD";
$mi-var-DownloadMap: "\EAFE";
$mi-var-Draw: "\EAFF";
$mi-var-DrawSolid: "\EB00";
$mi-var-Drop: "\EB01";
$mi-var-DullSound: "\EB02";
$mi-var-DullSoundKey: "\EB03";
$mi-var-EaseOfAccess: "\EB04";
$mi-var-EaseOfAccessLegacy: "\EB04";
$mi-var-Edit: "\EB05";
$mi-var-EditLegacy: "\EB05";
$mi-var-EditLegacyMirrored: "\EB06";
$mi-var-EditMirrored: "\EB06";
$mi-var-Education: "\EB07";
$mi-var-Emoji: "\EB08";
$mi-var-EmojiLegacy: "\EB08";
$mi-var-Emoji2: "\EB09";
$mi-var-Emoji2Legacy: "\EB09";
$mi-var-EmojiSwatch: "\EB0A";
$mi-var-EmojiTabCelebrationObjects: "\EB0B";
$mi-var-EmojiTabFavorites: "\EB0C";
$mi-var-EmojiTabFoodPlants: "\EB0D";
$mi-var-EmojiTabPeople: "\EB0E";
$mi-var-EmojiTabSmilesAnimals: "\EB0F";
$mi-var-EmojiTabSymbols: "\EB10";
$mi-var-EmojiTabTextSmiles: "\EB11";
$mi-var-EmojiTabTransitPlaces: "\EB12";
$mi-var-EndPointSolid: "\EB13";
$mi-var-EraseTool: "\EB14";
$mi-var-EraseToolFill: "\EB15";
$mi-var-EraseToolFill2: "\EB16";
$mi-var-Error: "\EB17";
$mi-var-ErrorBadge: "\EB18";
$mi-var-ErrorBadge12: "\EB19";
$mi-var-Ethernet: "\EB1A";
$mi-var-EthernetError: "\EB1B";
$mi-var-EthernetWarning: "\EB1C";
$mi-var-ExpandTile: "\EB1D";
$mi-var-ExpandTileLegacy: "\EB1D";
$mi-var-ExpandTileLegacyMirrored: "\EB1E";
$mi-var-ExpandTileMirrored: "\EB1E";
$mi-var-ExploreContent: "\EB1F";
$mi-var-Export: "\EB20";
$mi-var-ImportLegacyMirrored: "\EB20";
$mi-var-ImportMirrored: "\EB20";
$mi-var-FastForward: "\EB21";
$mi-var-Favorite2Legacy: "\EB22";
$mi-var-FavoriteLegacy: "\EB22";
$mi-var-FavoriteStarFill: "\EB22";
$mi-var-RatingStarFillLegacy: "\EB22";
$mi-var-RatingStarFillReducedPaddingHTMLLegacy: "\EB22";
$mi-var-RatingStarFillSmallLegacy: "\EB22";
$mi-var-RatingStarFillZeroWidthLegacy: "\EB22";
$mi-var-SolidStarLegacy: "\EB22";
$mi-var-FavoriteList: "\EB23";
$mi-var-FavoriteInlineLegacy: "\EB24";
$mi-var-FavoriteStar: "\EB24";
$mi-var-OutlineStarLegacy: "\EB24";
$mi-var-RatingStarLegacy: "\EB24";
$mi-var-Unfavorite2Legacy: "\EB24";
$mi-var-Feedback: "\EB25";
$mi-var-FeedbackApp: "\EB26";
$mi-var-Ferry: "\EB27";
$mi-var-FerrySolid: "\EB28";
$mi-var-FileExplorer: "\EB29";
$mi-var-FileExplorerApp: "\EB2A";
$mi-var-Filter: "\EB2B";
$mi-var-FilterLegacy: "\EB2B";
$mi-var-FingerInking: "\EB2C";
$mi-var-Fingerprint: "\EB2D";
$mi-var-EndPoint: "\EB2E";
$mi-var-Flag: "\EB2E";
$mi-var-FlagLegacy: "\EB2E";
$mi-var-Flashlight: "\EB2F";
$mi-var-FlickDown: "\EB30";
$mi-var-FlickLeft: "\EB31";
$mi-var-FlickRight: "\EB32";
$mi-var-FlickUp: "\EB33";
$mi-var-Folder: "\EB34";
$mi-var-FolderFill: "\EB35";
$mi-var-FolderLegacy: "\EB35";
$mi-var-Font: "\EB36";
$mi-var-FontLegacy: "\EB36";
$mi-var-FontColor: "\EB37";
$mi-var-FontColorLegacy: "\EB37";
$mi-var-FontColorKoreanLegacy: "\EB38";
$mi-var-FontDecrease: "\EB39";
$mi-var-FontDecreaseLegacy: "\EB39";
$mi-var-FontIncrease: "\EB3A";
$mi-var-FontIncreaseLegacy: "\EB3A";
$mi-var-FontSize: "\EB3B";
$mi-var-FontSizeLegacy: "\EB3B";
$mi-var-FontStyleKoreanLegacy: "\EB3C";
$mi-var-ArrowHTMLLegacyMirrored: "\EB3D";
$mi-var-BackBttnMirroredArrow20Legacy: "\EB3D";
$mi-var-BackBttnMirroredArrow42Legacy: "\EB3D";
$mi-var-Forward: "\EB3D";
$mi-var-ForwardLegacy: "\EB3D";
$mi-var-ForwardSm: "\EB3E";
$mi-var-FourBars: "\EB3F";
$mi-var-FourBarsLegacy: "\EB3F";
$mi-var-Frigid: "\EB40";
$mi-var-FullAlpha: "\EB41";
$mi-var-FullCircleMask: "\EB42";
$mi-var-FullHiragana: "\EB43";
$mi-var-FullKatakana: "\EB44";
$mi-var-FullScreen: "\EB45";
$mi-var-FullScreenLegacy: "\EB45";
$mi-var-Game: "\EB46";
$mi-var-GameConsole: "\EB47";
$mi-var-GlobalNavButton: "\EB48";
$mi-var-Globe: "\EB49";
$mi-var-GlobeLegacy: "\EB49";
$mi-var-Go: "\EB4A";
$mi-var-GoLegacy: "\EB4A";
$mi-var-GoLegacyMirrored: "\EB4B";
$mi-var-GoMirrored: "\EB4B";
$mi-var-GoToStart: "\EB4C";
$mi-var-GoToStartLegacy: "\EB4C";
$mi-var-GotoToday: "\EB4D";
$mi-var-GotoTodayLegacy: "\EB4D";
$mi-var-GripperBarHorizontal: "\EB4E";
$mi-var-GripperBarVertical: "\EB4F";
$mi-var-GripperResize: "\EB50";
$mi-var-GripperResizeMirrored: "\EB51";
$mi-var-GripperTool: "\EB52";
$mi-var-Groceries: "\EB53";
$mi-var-GuestUser: "\EB54";
$mi-var-HalfAlpha: "\EB55";
$mi-var-HalfDullSound: "\EB56";
$mi-var-HalfKatakana: "\EB57";
$mi-var-HalfStarLeft: "\EB58";
$mi-var-HalfStarRight: "\EB59";
$mi-var-Handwriting: "\EB5A";
$mi-var-HangUp: "\EB5B";
$mi-var-HangUpLegacy: "\EB5B";
$mi-var-HardDrive: "\EB5C";
$mi-var-Headphone: "\EB5D";
$mi-var-Headphone0: "\EB5E";
$mi-var-Headphone1: "\EB5F";
$mi-var-Headphone2: "\EB60";
$mi-var-Headphone3: "\EB61";
$mi-var-Headset: "\EB62";
$mi-var-Health: "\EB63";
$mi-var-Heart: "\EB64";
$mi-var-HeartLegacy: "\EB64";
$mi-var-HeartBroken: "\EB65";
$mi-var-HeartBrokenLegacy: "\EB66";
$mi-var-HeartBrokenZeroWidthLegacy: "\EB66";
$mi-var-HeartFill: "\EB67";
$mi-var-HeartFillLegacy: "\EB67";
$mi-var-HeartFillZeroWidthLegacy: "\EB67";
$mi-var-Help: "\EB68";
$mi-var-HelpLegacy: "\EB68";
$mi-var-HelpLegacyMirrored: "\EB69";
$mi-var-HelpMirrored: "\EB69";
$mi-var-HideBcc: "\EB6A";
$mi-var-HideBccLegacy: "\EB6A";
$mi-var-Highlight: "\EB6B";
$mi-var-HighlightLegacy: "\EB6B";
$mi-var-HighlightFill: "\EB6C";
$mi-var-HighlightFill2: "\EB6D";
$mi-var-History: "\EB6E";
$mi-var-Home: "\EB6F";
$mi-var-HomeLegacy: "\EB6F";
$mi-var-HomeGroup: "\EB70";
$mi-var-HomeSolid: "\EB71";
$mi-var-HorizontalTabKey: "\EB72";
$mi-var-IBeam: "\EB73";
$mi-var-IBeamOutline: "\EB74";
$mi-var-ImageExport: "\EB75";
$mi-var-ExportMirrored: "\EB76";
$mi-var-Import: "\EB76";
$mi-var-ImportLegacy: "\EB76";
$mi-var-ImportAll: "\EB77";
$mi-var-ImportAllLegacy: "\EB77";
$mi-var-ImportAllLegacyMirrored: "\EB78";
$mi-var-ImportAllMirrored: "\EB78";
$mi-var-Important: "\EB79";
$mi-var-ImportantLegacy: "\EB79";
$mi-var-ImportantBadge12: "\EB7A";
$mi-var-InPrivate: "\EB7B";
$mi-var-IncidentTriangle: "\EB7C";
$mi-var-IncreaseIndentLegacy: "\EB7D";
$mi-var-IncreaseIndentLegacyMirrored: "\EB7E";
$mi-var-Info: "\EB7F";
$mi-var-Info2: "\EB80";
$mi-var-InkingCaret: "\EB81";
$mi-var-InkingColorFill: "\EB82";
$mi-var-InkingColorOutline: "\EB83";
$mi-var-InkingTool: "\EB84";
$mi-var-InkingToolFill: "\EB85";
$mi-var-InkingToolFill2: "\EB86";
$mi-var-Input: "\EB87";
$mi-var-InsiderHubApp: "\EB88";
$mi-var-Italic: "\EB89";
$mi-var-ItalicLegacy: "\EB89";
$mi-var-ItalicCLegacy: "\EB8A";
$mi-var-ItalicILegacy: "\EB8B";
$mi-var-ItalicKLegacy: "\EB8C";
$mi-var-ItalicKoreanLegacy: "\EB8D";
$mi-var-ItalicRussianLegacy: "\EB8E";
$mi-var-Japanese: "\EB8F";
$mi-var-JpnRomanji: "\EB90";
$mi-var-JpnRomanjiLock: "\EB91";
$mi-var-JpnRomanjiShift: "\EB92";
$mi-var-JpnRomanjiShiftLock: "\EB93";
$mi-var-Key12On: "\EB94";
$mi-var-KeyBoardLegacy: "\EB95";
$mi-var-KeyboardClassic: "\EB95";
$mi-var-KeyboardBrightness: "\EB96";
$mi-var-KeyboardDismiss: "\EB97";
$mi-var-KeyboardFull: "\EB98";
$mi-var-KeyboardLeftHanded: "\EB99";
$mi-var-KeyboardLowerBrightness: "\EB9A";
$mi-var-KeyboardOneHanded: "\EB9B";
$mi-var-KeyboardRightHanded: "\EB9C";
$mi-var-KeyboardShortcut: "\EB9D";
$mi-var-KeyboardSplit: "\EB9E";
$mi-var-KeyboardSplitLegacy: "\EB9E";
$mi-var-KeyboardStandard: "\EB9F";
$mi-var-KeyboardStandardLegacy: "\EB9F";
$mi-var-Korean: "\EBA0";
$mi-var-LEDLight: "\EBA1";
$mi-var-Label: "\EBA2";
$mi-var-LangJPN: "\EBA3";
$mi-var-LanguageChs: "\EBA4";
$mi-var-LanguageCht: "\EBA5";
$mi-var-LanguageJpn: "\EBA6";
$mi-var-LanguageKor: "\EBA7";
$mi-var-LaptopSelected: "\EBA8";
$mi-var-LayoutLegacy: "\EBA9";
$mi-var-Leaf: "\EBAA";
$mi-var-LeaveChat: "\EBAB";
$mi-var-LeaveChatLegacy: "\EBAB";
$mi-var-LeaveChatMirrored: "\EBAC";
$mi-var-LeftArrowKeyTime0: "\EBAD";
$mi-var-LeftDoubleQuote: "\EBAE";
$mi-var-LeftQuote: "\EBAF";
$mi-var-Library: "\EBB0";
$mi-var-LibraryLegacy: "\EBB0";
$mi-var-Light: "\EBB1";
$mi-var-Lightbulb: "\EBB2";
$mi-var-ToolTip: "\EBB2";
$mi-var-LightningBolt: "\EBB3";
$mi-var-Like: "\EBB4";
$mi-var-LikeInlineLegacy: "\EBB4";
$mi-var-LikeLegacy: "\EBB4";
$mi-var-LikeDislike: "\EBB5";
$mi-var-LikeDislikeLegacy: "\EBB5";
$mi-var-Link: "\EBB6";
$mi-var-LinkLegacy: "\EBB6";
$mi-var-List: "\EBB7";
$mi-var-ListMirrored: "\EBB8";
$mi-var-Location: "\EBB9";
$mi-var-LocationLegacy: "\EBB9";
$mi-var-Lock: "\EBBA";
$mi-var-LockLegacy: "\EBBA";
$mi-var-LockScreenGlance: "\EBBB";
$mi-var-LockscreenDesktop: "\EBBC";
$mi-var-LowerBrightness: "\EBBD";
$mi-var-MagStripeReader: "\EBBE";
$mi-var-Mail: "\EBBF";
$mi-var-MailLegacy: "\EBBF";
$mi-var-MailBadge12: "\EBC0";
$mi-var-MailFill: "\EBC1";
$mi-var-MailFillLegacy: "\EBC1";
$mi-var-MailMessageLegacy: "\EBC1";
$mi-var-MailForward: "\EBC2";
$mi-var-MailForwardLegacy: "\EBC2";
$mi-var-MailForwardLegacyMirrored: "\EBC3";
$mi-var-MailForwardMirrored: "\EBC3";
$mi-var-MailReply: "\EBC4";
$mi-var-MailReplyLegacy: "\EBC4";
$mi-var-MailReplyAll: "\EBC5";
$mi-var-MailReplyAllLegacy: "\EBC5";
$mi-var-MailReplyAllLegacyMirrored: "\EBC6";
$mi-var-MailReplyAllMirrored: "\EBC6";
$mi-var-MailReplyLegacyMirrored: "\EBC7";
$mi-var-MailReplyMirrored: "\EBC7";
$mi-var-Manage: "\EBC8";
$mi-var-ManageLegacy: "\EBC8";
$mi-var-MapCompassBottom: "\EBC9";
$mi-var-MapCompassTop: "\EBCA";
$mi-var-MapDirections: "\EBCB";
$mi-var-MapDrive: "\EBCC";
$mi-var-MapDriveLegacy: "\EBCC";
$mi-var-MapLayers: "\EBCD";
$mi-var-MapLegacy: "\EBCE";
$mi-var-MapPin: "\EBCE";
$mi-var-MapPin2: "\EBCF";
$mi-var-MapPinLegacy: "\EBCF";
$mi-var-Marker: "\EBD0";
$mi-var-Marquee: "\EBD1";
$mi-var-Media: "\EBD2";
$mi-var-MediaStorageTower: "\EBD3";
$mi-var-Megaphone: "\EBD4";
$mi-var-Memo: "\EBD5";
$mi-var-MemoLegacy: "\EBD5";
$mi-var-CommentInlineLegacy: "\EBD6";
$mi-var-Message: "\EBD6";
$mi-var-MessageLegacy: "\EBD6";
$mi-var-MicClipping: "\EBD7";
$mi-var-MicError: "\EBD8";
$mi-var-MicOff: "\EBD9";
$mi-var-MicOn: "\EBDA";
$mi-var-MicSleep: "\EBDB";
$mi-var-Microphone: "\EBDC";
$mi-var-MicrophoneLegacy: "\EBDC";
$mi-var-MiracastLogoSmall: "\EBDD";
$mi-var-MobActionCenter: "\EBDE";
$mi-var-MobAirplane: "\EBDF";
$mi-var-MobBattery0: "\EBE0";
$mi-var-MobBattery1: "\EBE1";
$mi-var-MobBattery10: "\EBE2";
$mi-var-MobBattery2: "\EBE3";
$mi-var-MobBattery3: "\EBE4";
$mi-var-MobBattery4: "\EBE5";
$mi-var-MobBattery5: "\EBE6";
$mi-var-MobBattery6: "\EBE7";
$mi-var-MobBattery7: "\EBE8";
$mi-var-MobBattery8: "\EBE9";
$mi-var-MobBattery9: "\EBEA";
$mi-var-MobBatteryCharging0: "\EBEB";
$mi-var-MobBatteryCharging1: "\EBEC";
$mi-var-MobBatteryCharging10: "\EBED";
$mi-var-MobBatteryCharging2: "\EBEE";
$mi-var-MobBatteryCharging3: "\EBEF";
$mi-var-MobBatteryCharging4: "\EBF0";
$mi-var-MobBatteryCharging5: "\EBF1";
$mi-var-MobBatteryCharging6: "\EBF2";
$mi-var-MobBatteryCharging7: "\EBF3";
$mi-var-MobBatteryCharging8: "\EBF4";
$mi-var-MobBatteryCharging9: "\EBF5";
$mi-var-MobBatterySaver0: "\EBF6";
$mi-var-MobBatterySaver1: "\EBF7";
$mi-var-MobBatterySaver10: "\EBF8";
$mi-var-MobBatterySaver2: "\EBF9";
$mi-var-MobBatterySaver3: "\EBFA";
$mi-var-MobBatterySaver4: "\EBFB";
$mi-var-MobBatterySaver5: "\EBFC";
$mi-var-MobBatterySaver6: "\EBFD";
$mi-var-MobBatterySaver7: "\EBFE";
$mi-var-MobBatterySaver8: "\EBFF";
$mi-var-MobBatterySaver9: "\EC00";
$mi-var-MobBatteryUnknown: "\EC01";
$mi-var-MobBluetooth: "\EC02";
$mi-var-MobCallForwarding: "\EC03";
$mi-var-MobCallForwardingMirrored: "\EC04";
$mi-var-MobDrivingMode: "\EC05";
$mi-var-MobLocation: "\EC06";
$mi-var-MobQuietHours: "\EC07";
$mi-var-MobSignal1: "\EC08";
$mi-var-MobSignal2: "\EC09";
$mi-var-MobSignal3: "\EC0A";
$mi-var-MobSignal4: "\EC0B";
$mi-var-MobSignal5: "\EC0C";
$mi-var-MobWifi1: "\EC0D";
$mi-var-MobWifi2: "\EC0E";
$mi-var-MobWifi3: "\EC0F";
$mi-var-MobWifi4: "\EC10";
$mi-var-MobWifiHotspot: "\EC11";
$mi-var-MobileLocked: "\EC12";
$mi-var-MobileSelected: "\EC13";
$mi-var-MobileTablet: "\EC14";
$mi-var-More: "\EC15";
$mi-var-MoreLegacy: "\EC15";
$mi-var-Mouse: "\EC16";
$mi-var-MoveToFolder: "\EC17";
$mi-var-MoveToFolderLegacy: "\EC17";
$mi-var-Movies: "\EC18";
$mi-var-MultiSelect: "\EC19";
$mi-var-MultiSelectLegacy: "\EC19";
$mi-var-MultiSelectLegacyMirrored: "\EC1A";
$mi-var-MultiSelectMirrored: "\EC1A";
$mi-var-MultimediaDMP: "\EC1B";
$mi-var-MultimediaDMS: "\EC1C";
$mi-var-MultimediaDVR: "\EC1D";
$mi-var-MultimediaPMP: "\EC1E";
$mi-var-Multitask: "\EC1F";
$mi-var-Multitask16: "\EC20";
$mi-var-MultitaskExpanded: "\EC21";
$mi-var-MusicAlbum: "\EC22";
$mi-var-MusicInfo: "\EC23";
$mi-var-MusicInfoLegacy: "\EC23";
$mi-var-MusicNote: "\EC24";
$mi-var-Mute: "\EC25";
$mi-var-MuteLegacy: "\EC25";
$mi-var-MyNetwork: "\EC26";
$mi-var-NUIFPContinueSlideAction: "\EC27";
$mi-var-NUIFPContinueSlideHand: "\EC28";
$mi-var-NUIFPPressAction: "\EC29";
$mi-var-NUIFPPressHand: "\EC2A";
$mi-var-NUIFPPressRepeatAction: "\EC2B";
$mi-var-NUIFPRollLeftAction: "\EC2C";
$mi-var-NUIFPRollLeftHand: "\EC2D";
$mi-var-NUIFPRollRightHand: "\EC2E";
$mi-var-NUIFPRollRightHandAction: "\EC2F";
$mi-var-NUIFPStartSlideAction: "\EC30";
$mi-var-NUIFPPressRepeatHand: "\EC31";
$mi-var-NUIFPStartSlideHand: "\EC31";
$mi-var-NUIFace: "\EC32";
$mi-var-NUIIris: "\EC33";
$mi-var-Narrator: "\EC34";
$mi-var-NarratorForward: "\EC35";
$mi-var-NarratorForwardMirrored: "\EC36";
$mi-var-Network: "\EC37";
$mi-var-NetworkAdapter: "\EC38";
$mi-var-NetworkPrinter: "\EC39";
$mi-var-NetworkTower: "\EC3A";
$mi-var-NewFolder: "\EC3B";
$mi-var-NewFolderLegacy: "\EC3B";
$mi-var-NewWindow: "\EC3C";
$mi-var-NewWindowLegacy: "\EC3C";
$mi-var-Next: "\EC3D";
$mi-var-NextLegacy: "\EC3D";
$mi-var-OEM: "\EC3E";
$mi-var-OneBar: "\EC3F";
$mi-var-OneBarLegacy: "\EC3F";
$mi-var-OpenFile: "\EC40";
$mi-var-OpenFileLegacy: "\EC40";
$mi-var-OpenInNewWindow: "\EC41";
$mi-var-OpenInNewWindowLegacy: "\EC41";
$mi-var-OpenLocal: "\EC42";
$mi-var-OpenLocalLegacy: "\EC42";
$mi-var-OpenPane: "\EC43";
$mi-var-OpenPaneLegacy: "\EC43";
$mi-var-OpenPaneLegacyMirrored: "\EC44";
$mi-var-OpenPaneMirrored: "\EC44";
$mi-var-OpenWith: "\EC45";
$mi-var-OpenWithLegacy: "\EC45";
$mi-var-OpenWithLegacyMirrored: "\EC46";
$mi-var-OpenWithMirrored: "\EC46";
$mi-var-Orientation: "\EC47";
$mi-var-OrientationLegacy: "\EC47";
$mi-var-OtherUser: "\EC48";
$mi-var-OtherUserLegacy: "\EC48";
$mi-var-PC1: "\EC49";
$mi-var-PC1Legacy: "\EC49";
$mi-var-PLAP: "\EC4A";
$mi-var-Package: "\EC4B";
$mi-var-Page: "\EC4C";
$mi-var-PageLegacy: "\EC4C";
$mi-var-PageLeft: "\EC4D";
$mi-var-PageRight: "\EC4E";
$mi-var-PageFillLegacy: "\EC4F";
$mi-var-PageSolid: "\EC4F";
$mi-var-PanMode: "\EC50";
$mi-var-ParkingLocation: "\EC51";
$mi-var-ParkingLocationMirrored: "\EC52";
$mi-var-ParkingLocationSolid: "\EC53";
$mi-var-PartyLeader: "\EC54";
$mi-var-PasswordKeyHide: "\EC55";
$mi-var-PasswordKeyShow: "\EC56";
$mi-var-Paste: "\EC57";
$mi-var-PasteLegacy: "\EC57";
$mi-var-Pause: "\EC58";
$mi-var-PauseLegacy: "\EC58";
$mi-var-PauseBadge12: "\EC59";
$mi-var-PenPalette: "\EC5A";
$mi-var-PenPaletteMirrored: "\EC5B";
$mi-var-PenWorkspace: "\EC5C";
$mi-var-PenWorkspaceMirrored: "\EC5D";
$mi-var-Pencil: "\EC5E";
$mi-var-People: "\EC5F";
$mi-var-PeopleLegacy: "\EC5F";
$mi-var-PeriodKey: "\EC60";
$mi-var-Permissions: "\EC61";
$mi-var-PermissionsLegacy: "\EC61";
$mi-var-PersonalFolder: "\EC62";
$mi-var-Personalize: "\EC63";
$mi-var-Phone: "\EC64";
$mi-var-PhoneLegacy: "\EC64";
$mi-var-PhoneBook: "\EC65";
$mi-var-PhoneBookLegacy: "\EC65";
$mi-var-Photo: "\EC66";
$mi-var-Photo2: "\EC67";
$mi-var-Picture: "\EC68";
$mi-var-PictureLegacy: "\EC68";
$mi-var-PieSingle: "\EC69";
$mi-var-Pin: "\EC6A";
$mi-var-PinLegacy: "\EC6A";
$mi-var-PinFill: "\EC6B";
$mi-var-Pinned: "\EC6C";
$mi-var-PinnedFill: "\EC6D";
$mi-var-PlaceFolderLegacy: "\EC6E";
$mi-var-Play: "\EC6F";
$mi-var-PlayLegacy: "\EC6F";
$mi-var-Play36: "\EC70";
$mi-var-PlayBadge12: "\EC71";
$mi-var-PlayOnLegacy: "\EC72";
$mi-var-PlaybackRate1x: "\EC73";
$mi-var-PlaybackRateOther: "\EC74";
$mi-var-PointErase: "\EC75";
$mi-var-PointEraseMirrored: "\EC76";
$mi-var-PoliceCar: "\EC77";
$mi-var-PostUpdate: "\EC78";
$mi-var-PostUpdateLegacy: "\EC78";
$mi-var-PowerButton: "\EC79";
$mi-var-PresenceChickletVideo: "\EC7A";
$mi-var-PresenceChickletVideoLegacy: "\EC7A";
$mi-var-Preview: "\EC7B";
$mi-var-PreviewLegacy: "\EC7B";
$mi-var-PreviewLink: "\EC7C";
$mi-var-PreviewLinkLegacy: "\EC7C";
$mi-var-Previous: "\EC7D";
$mi-var-PreviousLegacy: "\EC7D";
$mi-var-Print: "\EC7E";
$mi-var-PrintLegacy: "\EC7E";
$mi-var-Printer3D: "\EC7F";
$mi-var-Printer3DLegacy: "\EC80";
$mi-var-PrintfaxPrinterFile: "\EC81";
$mi-var-Priority: "\EC82";
$mi-var-PriorityLegacy: "\EC82";
$mi-var-Process: "\EC83";
$mi-var-Project: "\EC84";
$mi-var-Projector: "\EC85";
$mi-var-ProtectedDocument: "\EC86";
$mi-var-ProtectedDocumentLegacy: "\EC86";
$mi-var-ProvisioningPackage: "\EC87";
$mi-var-PuncKey: "\EC88";
$mi-var-PuncKey0: "\EC89";
$mi-var-PuncKey1: "\EC8A";
$mi-var-PuncKey2: "\EC8B";
$mi-var-PuncKey3: "\EC8C";
$mi-var-PuncKey4: "\EC8D";
$mi-var-PuncKey5: "\EC8E";
$mi-var-PuncKey6: "\EC8F";
$mi-var-PuncKey7: "\EC90";
$mi-var-PuncKey8: "\EC91";
$mi-var-PuncKey9: "\EC92";
$mi-var-PuncKeyLeftBottom: "\EC93";
$mi-var-PuncKeyRightBottom: "\EC94";
$mi-var-Puzzle: "\EC95";
$mi-var-QWERTYOff: "\EC96";
$mi-var-QWERTYOn: "\EC97";
$mi-var-QuickNote: "\EC98";
$mi-var-QuietHours: "\EC99";
$mi-var-RadioBtnOff: "\EC9A";
$mi-var-RadioBtnOn: "\EC9B";
$mi-var-RadioBullet: "\EC9C";
$mi-var-RadioBullet2: "\EC9D";
$mi-var-Read: "\EC9E";
$mi-var-ReadLegacy: "\EC9E";
$mi-var-ReadingList: "\EC9F";
$mi-var-ReceiptPrinter: "\ECA0";
$mi-var-LengthLegacy: "\ECA1";
$mi-var-Recent: "\ECA1";
$mi-var-Record: "\ECA2";
$mi-var-RecordLegacy: "\ECA2";
$mi-var-Redo: "\ECA3";
$mi-var-RedoLegacy: "\ECA3";
$mi-var-ReduceTileLegacy: "\ECA4";
$mi-var-ReduceTileLegacyMirrored: "\ECA5";
$mi-var-Refresh: "\ECA6";
$mi-var-RefreshLegacy: "\ECA6";
$mi-var-RepeatAll: "\ECA6";
$mi-var-RepeatAllLegacy: "\ECA6";
$mi-var-RememberedDevice: "\ECA7";
$mi-var-Reminder: "\ECA8";
$mi-var-ReminderFill: "\ECA9";
$mi-var-Remote: "\ECAA";
$mi-var-RemoteLegacy: "\ECAA";
$mi-var-Remove: "\ECAB";
$mi-var-RemoveLegacy: "\ECAB";
$mi-var-RemoveFrom: "\ECAC";
$mi-var-Rename: "\ECAD";
$mi-var-RenameLegacy: "\ECAD";
$mi-var-Repair: "\ECAE";
$mi-var-RepairLegacy: "\ECAE";
$mi-var-RepeatOne: "\ECAF";
$mi-var-RepeatOneLegacy: "\ECAF";
$mi-var-Reply: "\ECB0";
$mi-var-ReplyLegacy: "\ECB0";
$mi-var-ReplyMirrored: "\ECB1";
$mi-var-ReportHacked: "\ECB2";
$mi-var-ReportHackedLegacy: "\ECB2";
$mi-var-ResetDevice: "\ECB3";
$mi-var-ResetDrive: "\ECB4";
$mi-var-Reshare: "\ECB5";
$mi-var-ReshareLegacy: "\ECB5";
$mi-var-ResizeMouseMedium: "\ECB6";
$mi-var-ResizeMouseMediumMirrored: "\ECB7";
$mi-var-ResizeMouseSmall: "\ECB8";
$mi-var-ResizeMouseSmallMirrored: "\ECB9";
$mi-var-ResizeMouseTall: "\ECBA";
$mi-var-ResizeMouseTallMirrored: "\ECBB";
$mi-var-ResizeMouseWide: "\ECBC";
$mi-var-ResizeTouchLarger: "\ECBD";
$mi-var-ResizeTouchNarrower: "\ECBE";
$mi-var-ResizeTouchNarrowerMirrored: "\ECBF";
$mi-var-ResizeTouchShorter: "\ECC0";
$mi-var-ResizeTouchSmaller: "\ECC1";
$mi-var-ResolutionLegacy: "\ECC2";
$mi-var-ReturnKey: "\ECC3";
$mi-var-ReturnKeyLg: "\ECC4";
$mi-var-ReturnKeySm: "\ECC5";
$mi-var-ReturnToWindow: "\ECC6";
$mi-var-ReturnToWindowLegacy: "\ECC6";
$mi-var-RevToggleKey: "\ECC7";
$mi-var-Rewind: "\ECC8";
$mi-var-RightArrowKeyTime0: "\ECC9";
$mi-var-RightArrowKeyTime1: "\ECCA";
$mi-var-RightArrowKeyTime2: "\ECCB";
$mi-var-RightArrowKeyTime3: "\ECCC";
$mi-var-RightArrowKeyTime4: "\ECCD";
$mi-var-RightDoubleQuote: "\ECCE";
$mi-var-RightQuote: "\ECCF";
$mi-var-Ringer: "\ECD0";
$mi-var-RingerBadge12: "\ECD1";
$mi-var-RingerSilent: "\ECD2";
$mi-var-RoamingDomestic: "\ECD3";
$mi-var-RoamingInternational: "\ECD4";
$mi-var-Robot: "\ECD5";
$mi-var-Rotate: "\ECD6";
$mi-var-RotateCamera: "\ECD7";
$mi-var-RotateCameraLegacy: "\ECD7";
$mi-var-RotateLegacy: "\ECD8";
$mi-var-RotateMapLeft: "\ECD9";
$mi-var-RotateMapRight: "\ECDA";
$mi-var-RotationLock: "\ECDB";
$mi-var-Ruler: "\ECDC";
$mi-var-SDCard: "\ECDD";
$mi-var-SIMLock: "\ECDE";
$mi-var-SIMMissing: "\ECDF";
$mi-var-SIPMove: "\ECE0";
$mi-var-SIPRedock: "\ECE1";
$mi-var-SIPUndock: "\ECE2";
$mi-var-Save: "\ECE3";
$mi-var-SaveLegacy: "\ECE3";
$mi-var-SaveAs: "\ECE4";
$mi-var-SaveAsLegacy: "\ECE4";
$mi-var-SaveCopy: "\ECE5";
$mi-var-SaveLocal: "\ECE6";
$mi-var-SaveLocalLegacy: "\ECE6";
$mi-var-Scan: "\ECE7";
$mi-var-ScanLegacy: "\ECE7";
$mi-var-ScrollMode: "\ECE8";
$mi-var-ScrollUpDown: "\ECE9";
$mi-var-FindLegacy: "\ECEA";
$mi-var-Search: "\ECEA";
$mi-var-SearchboxLegacy: "\ECEA";
$mi-var-SearchAndApps: "\ECEB";
$mi-var-SelectAll: "\ECEC";
$mi-var-SelectAllLegacy: "\ECEC";
$mi-var-SemanticZoomLegacy: "\ECED";
$mi-var-Send: "\ECEE";
$mi-var-SendLegacy: "\ECEE";
$mi-var-SendFill: "\ECEF";
$mi-var-SendFillMirrored: "\ECF0";
$mi-var-SendMirrored: "\ECF1";
$mi-var-Sensor: "\ECF2";
$mi-var-SetTile: "\ECF3";
$mi-var-SetTileLegacy: "\ECF3";
$mi-var-SetlockScreen: "\ECF4";
$mi-var-SetlockScreenLegacy: "\ECF4";
$mi-var-Settings: "\ECF5";
$mi-var-SettingsLegacy: "\ECF5";
$mi-var-SettingsBattery: "\ECF6";
$mi-var-SettingsDisplaySound: "\ECF7";
$mi-var-Share: "\ECF8";
$mi-var-ShareBroadband: "\ECF9";
$mi-var-Shop: "\ECFA";
$mi-var-ShopLegacy: "\ECFA";
$mi-var-ShoppingCart: "\ECFB";
$mi-var-ShowAllFiles1Legacy: "\ECFC";
$mi-var-ShowAllFiles3Legacy: "\ECFD";
$mi-var-ShowBcc: "\ECFE";
$mi-var-ShowBccLegacy: "\ECFE";
$mi-var-ShowResults: "\ECFF";
$mi-var-ShowResultsLegacy: "\ECFF";
$mi-var-ShowResultsLegacyMirrored: "\ED00";
$mi-var-ShowResultsMirrored: "\ED00";
$mi-var-Shuffle: "\ED01";
$mi-var-ShuffleLegacy: "\ED01";
$mi-var-SignalBars1: "\ED02";
$mi-var-SignalBars2: "\ED03";
$mi-var-SignalBars3: "\ED04";
$mi-var-SignalBars4: "\ED05";
$mi-var-SignalBars5: "\ED06";
$mi-var-SignalError: "\ED07";
$mi-var-SignalNotConnected: "\ED08";
$mi-var-SignalRoaming: "\ED09";
$mi-var-SizeLegacy: "\ED0A";
$mi-var-SkipBack10: "\ED0B";
$mi-var-SkipForward30: "\ED0C";
$mi-var-SliderThumb: "\ED0D";
$mi-var-Slideshow: "\ED0E";
$mi-var-SlideshowLegacy: "\ED0E";
$mi-var-Smartcard: "\ED0F";
$mi-var-SmartcardVirtual: "\ED10";
$mi-var-Sort: "\ED11";
$mi-var-SortLegacy: "\ED11";
$mi-var-Speakers: "\ED12";
$mi-var-SpeedHigh: "\ED13";
$mi-var-SpeedMedium: "\ED14";
$mi-var-SpeedOff: "\ED15";
$mi-var-StartPoint: "\ED16";
$mi-var-StartPointSolid: "\ED17";
$mi-var-StatusCircle: "\ED18";
$mi-var-StatusCircleLeft: "\ED19";
$mi-var-StatusConnecting1: "\ED1A";
$mi-var-StatusConnecting2: "\ED1B";
$mi-var-StatusDataTransfer: "\ED1C";
$mi-var-StatusDataTransferVPN: "\ED1D";
$mi-var-StatusDualSIM1: "\ED1E";
$mi-var-StatusDualSIM1VPN: "\ED1F";
$mi-var-StatusDualSIM2: "\ED20";
$mi-var-StatusDualSIM2VPN: "\ED21";
$mi-var-StatusError: "\ED22";
$mi-var-StatusErrorFull: "\ED23";
$mi-var-StatusErrorLeft: "\ED24";
$mi-var-StatusSGLTE: "\ED25";
$mi-var-StatusSGLTECell: "\ED26";
$mi-var-StatusSGLTEDataVPN: "\ED27";
$mi-var-StatusTriangle: "\ED28";
$mi-var-StatusTriangleLeft: "\ED29";
$mi-var-StatusUnsecure: "\ED2A";
$mi-var-StatusVPN: "\ED2B";
$mi-var-StatusWarning: "\ED2C";
$mi-var-StatusWarningLeft: "\ED2D";
$mi-var-StockDown: "\ED2E";
$mi-var-StockUp: "\ED2F";
$mi-var-Stop: "\ED30";
$mi-var-StopLegacy: "\ED30";
$mi-var-StopPoint: "\ED31";
$mi-var-StopPointSolid: "\ED32";
$mi-var-StopSlideshowLegacy: "\ED33";
$mi-var-Stopwatch: "\ED34";
$mi-var-StorageNetworkWireless: "\ED35";
$mi-var-StorageOptical: "\ED36";
$mi-var-StorageTape: "\ED37";
$mi-var-Streaming: "\ED38";
$mi-var-StreamingEnterprise: "\ED39";
$mi-var-Street: "\ED3A";
$mi-var-StreetLegacy: "\ED3A";
$mi-var-StreetsideSplitExpand: "\ED3B";
$mi-var-StreetsideSplitMinimize: "\ED3C";
$mi-var-StrokeErase: "\ED3D";
$mi-var-StrokeEraseMirrored: "\ED3E";
$mi-var-Subtitles: "\ED3F";
$mi-var-SubtitlesAudio: "\ED40";
$mi-var-SurfaceHub: "\ED41";
$mi-var-Sustainable: "\ED42";
$mi-var-Swipe: "\ED43";
$mi-var-SwipeRevealArt: "\ED44";
$mi-var-Switch: "\ED45";
$mi-var-SwitchLegacy: "\ED45";
$mi-var-SwitchApps: "\ED46";
$mi-var-SwitchAppsLegacy: "\ED46";
$mi-var-SwitchUser: "\ED47";
$mi-var-Sync: "\ED48";
$mi-var-SyncLegacy: "\ED48";
$mi-var-SyncBadge12: "\ED49";
$mi-var-SyncError: "\ED4A";
$mi-var-SyncFolder: "\ED4B";
$mi-var-SyncFolderLegacy: "\ED4B";
$mi-var-System: "\ED4C";
$mi-var-TVMonitor: "\ED4D";
$mi-var-TVMonitorSelected: "\ED4E";
$mi-var-Tablet: "\ED4F";
$mi-var-TabletMode: "\ED50";
$mi-var-TabletSelected: "\ED51";
$mi-var-Tag: "\ED52";
$mi-var-TagLegacy: "\ED52";
$mi-var-TapAndSend: "\ED53";
$mi-var-TaskbarPhone: "\ED54";
$mi-var-ThisPC: "\ED55";
$mi-var-ThoughtBubble: "\ED56";
$mi-var-ThreeBars: "\ED57";
$mi-var-ThreeBarsLegacy: "\ED57";
$mi-var-Tiles: "\ED58";
$mi-var-TiltDown: "\ED59";
$mi-var-TiltUp: "\ED5A";
$mi-var-TimeLanguage: "\ED5B";
$mi-var-ToggleBorder: "\ED5C";
$mi-var-ToggleFilled: "\ED5D";
$mi-var-ToggleThumb: "\ED5E";
$mi-var-Touch: "\ED5F";
$mi-var-TouchPointer: "\ED60";
$mi-var-TouchPointerLegacy: "\ED60";
$mi-var-Touchscreen: "\ED61";
$mi-var-Trackers: "\ED62";
$mi-var-TrackersMirrored: "\ED63";
$mi-var-Train: "\ED64";
$mi-var-TrainSolid: "\ED65";
$mi-var-TreeFolderFolder: "\ED66";
$mi-var-TreeFolderFolderFill: "\ED67";
$mi-var-TreeFolderFolderOpen: "\ED68";
$mi-var-TreeFolderFolderOpenFill: "\ED69";
$mi-var-Trim: "\ED6A";
$mi-var-TrimLegacy: "\ED6A";
$mi-var-TwoBars: "\ED6B";
$mi-var-TwoBarsLegacy: "\ED6B";
$mi-var-TwoPage: "\ED6C";
$mi-var-TwoPageLegacy: "\ED6C";
$mi-var-Type: "\ED6D";
$mi-var-TypeLegacy: "\ED6D";
$mi-var-TypingIndicatorLegacy: "\ED6E";
$mi-var-USB: "\ED6F";
$mi-var-USBSafeConnect: "\ED70";
$mi-var-Underline: "\ED71";
$mi-var-UnderlineLegacy: "\ED71";
$mi-var-UnderlineLKoreanLegacy: "\ED72";
$mi-var-UnderlineRussianLegacy: "\ED73";
$mi-var-UnderlineSLegacy: "\ED74";
$mi-var-UnderlineULegacy: "\ED75";
$mi-var-UnderscoreSpace: "\ED76";
$mi-var-Undo: "\ED77";
$mi-var-UndoLegacy: "\ED77";
$mi-var-Unfavorite: "\ED78";
$mi-var-UnfavoriteLegacy: "\ED78";
$mi-var-Unit: "\ED79";
$mi-var-Unlock: "\ED7A";
$mi-var-UnlockLegacy: "\ED7A";
$mi-var-Unpin: "\ED7B";
$mi-var-UnpinLegacy: "\ED7B";
$mi-var-UnsyncFolder: "\ED7C";
$mi-var-UnsyncFolderLegacy: "\ED7C";
$mi-var-Up: "\ED7D";
$mi-var-UpLegacy: "\ED7D";
$mi-var-UpArrowShiftKey: "\ED7E";
$mi-var-UpShiftKey: "\ED7F";
$mi-var-UpdateRestore: "\ED80";
$mi-var-Upload: "\ED81";
$mi-var-UploadLegacy: "\ED81";
$mi-var-UploadSkyDriveLegacy: "\ED81";
$mi-var-VPN: "\ED82";
$mi-var-Vibrate: "\ED83";
$mi-var-Video: "\ED84";
$mi-var-VideoInlineLegacy: "\ED84";
$mi-var-VideoLegacy: "\ED84";
$mi-var-VideoChat: "\ED85";
$mi-var-VideoChatLegacy: "\ED85";
$mi-var-RevealPasswordLegacy: "\ED86";
$mi-var-View: "\ED86";
$mi-var-ViewLegacy: "\ED86";
$mi-var-ShowAllFilesLegacy: "\ED87";
$mi-var-ViewAll: "\ED87";
$mi-var-ViewAllLegacy: "\ED87";
$mi-var-Volume: "\ED88";
$mi-var-VolumeLegacy: "\ED88";
$mi-var-Volume0: "\ED89";
$mi-var-Volume1: "\ED8A";
$mi-var-Volume2: "\ED8B";
$mi-var-Volume3: "\ED8C";
$mi-var-VolumeBars: "\ED8D";
$mi-var-Walk: "\ED8E";
$mi-var-WalkSolid: "\ED8F";
$mi-var-Warning: "\ED90";
$mi-var-Webcam: "\ED91";
$mi-var-WebcamLegacy: "\ED91";
$mi-var-Webcam2: "\ED92";
$mi-var-Wheel: "\ED93";
$mi-var-Wifi: "\ED94";
$mi-var-Wifi1: "\ED95";
$mi-var-Wifi2: "\ED96";
$mi-var-Wifi3: "\ED97";
$mi-var-WifiAttentionOverlay: "\ED98";
$mi-var-WifiCall0: "\ED99";
$mi-var-WifiCall1: "\ED9A";
$mi-var-WifiCall2: "\ED9B";
$mi-var-WifiCall3: "\ED9C";
$mi-var-WifiCall4: "\ED9D";
$mi-var-WifiCallBars: "\ED9E";
$mi-var-WifiError0: "\ED9F";
$mi-var-WifiError1: "\EDA0";
$mi-var-WifiError2: "\EDA1";
$mi-var-WifiError3: "\EDA2";
$mi-var-WifiError4: "\EDA3";
$mi-var-WifiEthernet: "\EDA4";
$mi-var-InternetSharing: "\EDA5";
$mi-var-WifiHotspot: "\EDA5";
$mi-var-WifiWarning0: "\EDA6";
$mi-var-WifiWarning1: "\EDA7";
$mi-var-WifiWarning2: "\EDA8";
$mi-var-WifiWarning3: "\EDA9";
$mi-var-WifiWarning4: "\EDAA";
$mi-var-WindDirection: "\EDAB";
$mi-var-WiredUSB: "\EDAC";
$mi-var-WirelessUSB: "\EDAD";
$mi-var-Work: "\EDAE";
$mi-var-WorkSolid: "\EDAF";
$mi-var-World: "\EDB0";
$mi-var-WorldLegacy: "\EDB0";
$mi-var-XboxOneConsole: "\EDB1";
$mi-var-ZeroBars: "\EDB2";
$mi-var-ZeroBarsLegacy: "\EDB2";
$mi-var-Zoom: "\EDB3";
$mi-var-ZoomLegacy: "\EDB3";
$mi-var-ZoomIn: "\EDB4";
$mi-var-ZoomInLegacy: "\EDB4";
$mi-var-ZoomMode: "\EDB5";
$mi-var-ZoomOut: "\EDB6";
$mi-var-ZoomOutLegacy: "\EDB6";
$mi-var-eSIM: "\EDB7";
$mi-var-eSIMBusy: "\EDB8";
$mi-var-eSIMLocked: "\EDB9";
$mi-var-eSIMNoProfile: "\EDBA";
$mi-var-500px: "\EDBB";
$mi-var-adn: "\EDBC";
$mi-var-amazon: "\EDBD";
$mi-var-android: "\EDBE";
$mi-var-angellist: "\EDBF";
$mi-var-apple: "\EDC0";
$mi-var-bandcamp: "\EDC1";
$mi-var-behance-square: "\EDC2";
$mi-var-behance: "\EDC3";
$mi-var-bitbucket: "\EDC4";
$mi-var-black-tie: "\EDC5";
$mi-var-bluetooth-b: "\EDC6";
$mi-var-bluetooth: "\EDC7";
$mi-var-btc: "\EDC8";
$mi-var-bitcoin: "\EDC8";
$mi-var-buysellads: "\EDC9";
$mi-var-cc-amex: "\EDCA";
$mi-var-cc-diners-club: "\EDCB";
$mi-var-cc-discover: "\EDCC";
$mi-var-cc-jcb: "\EDCD";
$mi-var-cc-mastercard: "\EDCE";
$mi-var-cc-paypal: "\EDCF";
$mi-var-cc-stripe: "\EDD0";
$mi-var-cc-visa: "\EDD1";
$mi-var-chrome: "\EDD2";
$mi-var-codepen: "\EDD3";
$mi-var-codiepie: "\EDD4";
$mi-var-connectdevelop: "\EDD5";
$mi-var-contao: "\EDD6";
$mi-var-css3: "\EDD7";
$mi-var-dashcube: "\EDD8";
$mi-var-delicious: "\EDD9";
$mi-var-deviantart: "\EDDA";
$mi-var-digg: "\EDDB";
$mi-var-dribbble: "\EDDC";
$mi-var-dropbox: "\EDDD";
$mi-var-drupal: "\EDDE";
$mi-var-edge: "\EDDF";
$mi-var-eercast: "\EDE0";
$mi-var-empire: "\EDE1";
$mi-var-ge: "\EDE1";
$mi-var-envira: "\EDE2";
$mi-var-expeditedssl: "\EDE3";
$mi-var-facebook-official: "\EDE4";
$mi-var-facebook: "\EDE5";
$mi-var-facebook-f: "\EDE5";
$mi-var-firefox: "\EDE6";
$mi-var-first-order: "\EDE7";
$mi-var-flickr: "\EDE8";
$mi-var-forumbee: "\EDE9";
$mi-var-foursquare: "\EDEA";
$mi-var-free-code-camp: "\EDEB";
$mi-var-get-pocket: "\EDEC";
$mi-var-gg: "\EDED";
$mi-var-git: "\EDEE";
$mi-var-github-alt: "\EDEF";
$mi-var-github: "\EDF0";
$mi-var-gitlab: "\EDF1";
$mi-var-glide-g: "\EDF2";
$mi-var-google-plus: "\EDF3";
$mi-var-google-wallet: "\EDF4";
$mi-var-google: "\EDF5";
$mi-var-gratipay: "\EDF6";
$mi-var-gittip: "\EDF6";
$mi-var-hacker-news: "\EDF7";
$mi-var-houzz: "\EDF8";
$mi-var-html5: "\EDF9";
$mi-var-instagram: "\EDFA";
$mi-var-internet-explorer: "\EDFB";
$mi-var-ioxhost: "\EDFC";
$mi-var-joomla: "\EDFD";
$mi-var-jsfiddle: "\EDFE";
$mi-var-lastfm: "\EDFF";
$mi-var-leanpub: "\EE00";
$mi-var-linkedin: "\EE01";
$mi-var-linode: "\EE02";
$mi-var-linux: "\EE03";
$mi-var-maxcdn: "\EE04";
$mi-var-meanpath: "\EE05";
$mi-var-medium: "\EE06";
$mi-var-meetup: "\EE07";
$mi-var-mixcloud: "\EE08";
$mi-var-modx: "\EE09";
$mi-var-odnoklassniki: "\EE0A";
$mi-var-opencart: "\EE0B";
$mi-var-openid: "\EE0C";
$mi-var-opera: "\EE0D";
$mi-var-optin-monster: "\EE0E";
$mi-var-pagelines: "\EE0F";
$mi-var-paypal: "\EE10";
$mi-var-pied-piper-alt: "\EE11";
$mi-var-pied-piper: "\EE12";
$mi-var-pinterest-p: "\EE13";
$mi-var-product-hunt: "\EE14";
$mi-var-qq: "\EE15";
$mi-var-quora: "\EE16";
$mi-var-ravelry: "\EE17";
$mi-var-rebel: "\EE18";
$mi-var-ra: "\EE18";
$mi-var-resistance: "\EE18";
$mi-var-reddit-alien: "\EE19";
$mi-var-renren: "\EE1A";
$mi-var-safari: "\EE1B";
$mi-var-scribd: "\EE1C";
$mi-var-sellsy: "\EE1D";
$mi-var-shirtsinbulk: "\EE1E";
$mi-var-simplybuilt: "\EE1F";
$mi-var-skyatlas: "\EE20";
$mi-var-skype: "\EE21";
$mi-var-slack: "\EE22";
$mi-var-slideshare: "\EE23";
$mi-var-snapchat-ghost: "\EE24";
$mi-var-soundcloud: "\EE25";
$mi-var-spotify: "\EE26";
$mi-var-stack-exchange: "\EE27";
$mi-var-stack-overflow: "\EE28";
$mi-var-steam: "\EE29";
$mi-var-stumbleupon: "\EE2A";
$mi-var-superpowers: "\EE2B";
$mi-var-telegram: "\EE2C";
$mi-var-tencent-weibo: "\EE2D";
$mi-var-themeisle: "\EE2E";
$mi-var-trello: "\EE2F";
$mi-var-tripadvisor: "\EE30";
$mi-var-tumblr: "\EE31";
$mi-var-twitch: "\EE32";
$mi-var-twitter: "\EE33";
$mi-var-viacoin: "\EE34";
$mi-var-viadeo: "\EE35";
$mi-var-vimeo: "\EE36";
$mi-var-vine: "\EE37";
$mi-var-vk: "\EE38";
$mi-var-weibo: "\EE39";
$mi-var-weixin: "\EE3A";
$mi-var-wechat: "\EE3A";
$mi-var-whatsapp: "\EE3B";
$mi-var-wikipedia-w: "\EE3C";
$mi-var-windows: "\EE3D";
$mi-var-wordpress: "\EE3E";
$mi-var-wpbeginner: "\EE3F";
$mi-var-wpexplorer: "\EE40";
$mi-var-wpform: "\EE41";
$mi-var-xing: "\EE42";
$mi-var-yahoo: "\EE43";
$mi-var-yelp: "\EE44";
$mi-var-yoast: "\EE45";
$mi-var-youtube-play: "\EE46";
$mi-var-youtube: "\EE47";
