$color-facebook: #3b5998 !default;
$color-twitter: #55acee !default;
$color-google-plus: #dd4b39 !default;
$color-linkedin: #0976b4 !default;
$color-flickr: #ff0084 !default;
$color-tumblr: #35465c !default;
$color-xing: #024b4d !default;
$color-github: #4183c4 !default;
$color-html5: #e44f26 !default;
$color-openid: #f67d28 !default;
$color-stack-overflow: #f86c01 !default;
$color-css3: #1572b6 !default;
$color-youtube: #b31217 !default;
$color-dribbble: #c32361 !default;
$color-instagram: #3f729b !default;
$color-pinterest: #cc2127 !default;
$color-vk: #3d5a7d !default;
$color-yahoo: #350178 !default;
$color-behance: #1769ff !default;
$color-dropbox: #007ee5 !default;
$color-reddit: #ff4500 !default;
$color-spotify: #7ab800 !default;
$color-vine: #00b488 !default;
$color-foursquare: #0cbadf !default;
$color-vimeo: #1ab7ea !default;
$color-skype: #77bcfd !default;
$color-evernote: #46bf8c !default;
