
$use-checkbox-radio: true !default;
$use-material-forms: true !default;
$use-loader: true !default;
$use-animation: true !default;
$use-colors: true !default;
$use-bg: true !default;
$use-social: true !default;
$use-blocks: true !default;
$use-avatar: true !default;
$use-status: true !default;
$use-icon: true !default;
$use-hamburger: true !default;
$use-counter: true !default;
// $use-widget:         true !default;
$use-panels: true !default;
$use-panel-groups: true !default;
$use-cover: true !default;
$use-overlay: true !default;
$use-comment: true !default;
$use-chat: true !default;
$use-steps: true !default;
$use-pearls: true !default;
$use-timeline: true !default;
$use-testimonial: true !default;
$use-pricing-list: true !default;
$use-pricing-table: true !default;
$use-rating: true !default;
$use-ribbon: true !default;
$use-dotnav: true !default;
$use-color-selector: true !default;
$use-example: true !default;

// $use-helper-color:   true !default;
$use-helper-width: true !default;
$use-helper-height: true !default;
$use-helper-margin: true !default;
$use-helper-padding: true !default;
