.title-desc {
  max-width: 550px;
  margin: 20px auto 35px;
  color: #a3afb7; }

.page-content .panel-body .example {
  padding: 15px 30px;
  margin-top: 0;
  margin-bottom: 50px; }

.example .icondemo {
  height: 40px;
  margin: 15px auto;
  font-size: 16px;
  line-height: 40px;
  text-align: center; }

.example .blocks-6 {
  margin-bottom: -2.143rem !important; }
