// Icons
// -------------------------
.#{$map-icon-css-prefix}-art-gallery:before {
	content: $map-icon-var-art-gallery;
}
.#{$map-icon-css-prefix}-campground:before {
	content: $map-icon-var-campground;
}
.#{$map-icon-css-prefix}-bank:before {
	content: $map-icon-var-bank;
}
.#{$map-icon-css-prefix}-hair-care:before {
	content: $map-icon-var-hair-care;
}
.#{$map-icon-css-prefix}-gym:before {
	content: $map-icon-var-gym;
}
.#{$map-icon-css-prefix}-point-of-interest:before {
	content: $map-icon-var-point-of-interest;
}
.#{$map-icon-css-prefix}-post-box:before {
	content: $map-icon-var-post-box;
}
.#{$map-icon-css-prefix}-post-office:before {
	content: $map-icon-var-post-office;
}
.#{$map-icon-css-prefix}-university:before {
	content: $map-icon-var-university;
}
.#{$map-icon-css-prefix}-beauty-salon:before {
	content: $map-icon-var-beauty-salon;
}
.#{$map-icon-css-prefix}-atm:before {
	content: $map-icon-var-atm;
}
.#{$map-icon-css-prefix}-rv-park:before {
	content: $map-icon-var-rv-park;
}
.#{$map-icon-css-prefix}-school:before {
	content: $map-icon-var-school;
}
.#{$map-icon-css-prefix}-library:before {
	content: $map-icon-var-library;
}
.#{$map-icon-css-prefix}-spa:before {
	content: $map-icon-var-spa;
}
.#{$map-icon-css-prefix}-route:before {
	content: $map-icon-var-route;
}
.#{$map-icon-css-prefix}-postal-code:before {
	content: $map-icon-var-postal-code;
}
.#{$map-icon-css-prefix}-stadium:before {
	content: $map-icon-var-stadium;
}
.#{$map-icon-css-prefix}-postal-code-prefix:before {
	content: $map-icon-var-postal-code-prefix;
}
.#{$map-icon-css-prefix}-museum:before {
	content: $map-icon-var-museum;
}
.#{$map-icon-css-prefix}-finance:before {
	content: $map-icon-var-finance;
}
.#{$map-icon-css-prefix}-natural-feature:before {
	content: $map-icon-var-natural-feature;
}
.#{$map-icon-css-prefix}-funeral-home:before {
	content: $map-icon-var-funeral-home;
}
.#{$map-icon-css-prefix}-cemetery:before {
	content: $map-icon-var-cemetery;
}
.#{$map-icon-css-prefix}-park:before {
	content: $map-icon-var-park;
}
.#{$map-icon-css-prefix}-lodging:before {
	content: $map-icon-var-lodging;
}
.#{$map-icon-css-prefix}-female:before {
	content: $map-icon-var-female;
}
.#{$map-icon-css-prefix}-male:before {
	content: $map-icon-var-male;
}
.#{$map-icon-css-prefix}-unisex:before {
	content: $map-icon-var-unisex;
}
.#{$map-icon-css-prefix}-toilet:before {
	content: $map-icon-var-toilet;
}
.#{$map-icon-css-prefix}-bakery:before {
	content: $map-icon-var-bakery;
}
.#{$map-icon-css-prefix}-cafe:before {
	content: $map-icon-var-cafe;
}
.#{$map-icon-css-prefix}-restaurant:before {
	content: $map-icon-var-restaurant;
}
.#{$map-icon-css-prefix}-food:before {
	content: $map-icon-var-food;
}
.#{$map-icon-css-prefix}-liquor-store:before {
	content: $map-icon-var-liquor-store;
}
.#{$map-icon-css-prefix}-bicycle-store:before {
	content: $map-icon-var-bicycle-store;
}
.#{$map-icon-css-prefix}-pet-store:before {
	content: $map-icon-var-pet-store;
}
.#{$map-icon-css-prefix}-hardware-store:before {
	content: $map-icon-var-hardware-store;
}
.#{$map-icon-css-prefix}-book-store:before {
	content: $map-icon-var-book-store;
}
.#{$map-icon-css-prefix}-furniture-store:before {
	content: $map-icon-var-furniture-store;
}
.#{$map-icon-css-prefix}-department-store:before {
	content: $map-icon-var-department-store;
}
.#{$map-icon-css-prefix}-electronics-store:before {
	content: $map-icon-var-electronics-store;
}
.#{$map-icon-css-prefix}-jewelry-store:before {
	content: $map-icon-var-jewelry-store;
}
.#{$map-icon-css-prefix}-clothing-store:before {
	content: $map-icon-var-clothing-store;
}
.#{$map-icon-css-prefix}-convenience-store:before {
	content: $map-icon-var-convenience-store;
}
.#{$map-icon-css-prefix}-store:before {
	content: $map-icon-var-store;
}
.#{$map-icon-css-prefix}-shopping-mall:before {
	content: $map-icon-var-shopping-mall;
}
.#{$map-icon-css-prefix}-movie-rental:before {
	content: $map-icon-var-movie-rental;
}
.#{$map-icon-css-prefix}-grocery-or-supermarket:before {
	content: $map-icon-var-grocery-or-supermarket;
}
.#{$map-icon-css-prefix}-florist:before {
	content: $map-icon-var-florist;
}
.#{$map-icon-css-prefix}-laundry:before {
	content: $map-icon-var-laundry;
}
.#{$map-icon-css-prefix}-abseiling:before {
	content: $map-icon-var-abseiling;
}
.#{$map-icon-css-prefix}-archery:before {
	content: $map-icon-var-archery;
}
.#{$map-icon-css-prefix}-baseball:before {
	content: $map-icon-var-baseball;
}
.#{$map-icon-css-prefix}-bicycling:before {
	content: $map-icon-var-bicycling;
}
.#{$map-icon-css-prefix}-climbing:before {
	content: $map-icon-var-climbing;
}
.#{$map-icon-css-prefix}-golf:before {
	content: $map-icon-var-golf;
}
.#{$map-icon-css-prefix}-hang-gliding:before {
	content: $map-icon-var-hang-gliding;
}
.#{$map-icon-css-prefix}-horse-riding:before {
	content: $map-icon-var-horse-riding;
}
.#{$map-icon-css-prefix}-inline-skating:before {
	content: $map-icon-var-inline-skating;
}
.#{$map-icon-css-prefix}-motobike-trail:before {
	content: $map-icon-var-motobike-trail;
}
.#{$map-icon-css-prefix}-playground:before {
	content: $map-icon-var-playground;
}
.#{$map-icon-css-prefix}-skateboarding:before {
	content: $map-icon-var-skateboarding;
}
.#{$map-icon-css-prefix}-tennis:before {
	content: $map-icon-var-tennis;
}
.#{$map-icon-css-prefix}-trail-walking:before {
	content: $map-icon-var-trail-walking;
}
.#{$map-icon-css-prefix}-viewing:before {
	content: $map-icon-var-viewing;
}
.#{$map-icon-css-prefix}-walking:before {
	content: $map-icon-var-walking;
}
.#{$map-icon-css-prefix}-boating:before {
	content: $map-icon-var-boating;
}
.#{$map-icon-css-prefix}-boat-ramp:before {
	content: $map-icon-var-boat-ramp;
}
.#{$map-icon-css-prefix}-boat-tour:before {
	content: $map-icon-var-boat-tour;
}
.#{$map-icon-css-prefix}-canoe:before {
	content: $map-icon-var-canoe;
}
.#{$map-icon-css-prefix}-diving:before {
	content: $map-icon-var-diving;
}
.#{$map-icon-css-prefix}-fishing:before {
	content: $map-icon-var-fishing;
}
.#{$map-icon-css-prefix}-fishing-pier:before {
	content: $map-icon-var-fishing-pier;
}
.#{$map-icon-css-prefix}-fish-cleaning:before {
	content: $map-icon-var-fish-cleaning;
}
.#{$map-icon-css-prefix}-jet-skiing:before {
	content: $map-icon-var-jet-skiing;
}
.#{$map-icon-css-prefix}-kayaking:before {
	content: $map-icon-var-kayaking;
}
.#{$map-icon-css-prefix}-marina:before {
	content: $map-icon-var-marina;
}
.#{$map-icon-css-prefix}-rafting:before {
	content: $map-icon-var-rafting;
}
.#{$map-icon-css-prefix}-sailing:before {
	content: $map-icon-var-sailing;
}
.#{$map-icon-css-prefix}-scuba-diving:before {
	content: $map-icon-var-scuba-diving;
}
.#{$map-icon-css-prefix}-surfing:before {
	content: $map-icon-var-surfing;
}
.#{$map-icon-css-prefix}-swimming:before {
	content: $map-icon-var-swimming;
}
.#{$map-icon-css-prefix}-waterskiing:before {
	content: $map-icon-var-waterskiing;
}
.#{$map-icon-css-prefix}-whale-watching:before {
	content: $map-icon-var-whale-watching;
}
.#{$map-icon-css-prefix}-wind-surfing:before {
	content: $map-icon-var-wind-surfing;
}
.#{$map-icon-css-prefix}-chairlift:before {
	content: $map-icon-var-chairlift;
}
.#{$map-icon-css-prefix}-cross-country-skiing:before {
	content: $map-icon-var-cross-country-skiing;
}
.#{$map-icon-css-prefix}-ice-fishing:before {
	content: $map-icon-var-ice-fishing;
}
.#{$map-icon-css-prefix}-ice-skating:before {
	content: $map-icon-var-ice-skating;
}
.#{$map-icon-css-prefix}-ski-jumping:before {
	content: $map-icon-var-ski-jumping;
}
.#{$map-icon-css-prefix}-skiing:before {
	content: $map-icon-var-skiing;
}
.#{$map-icon-css-prefix}-sledding:before {
	content: $map-icon-var-sledding;
}
.#{$map-icon-css-prefix}-snow-shoeing:before {
	content: $map-icon-var-snow-shoeing;
}
.#{$map-icon-css-prefix}-snow:before {
	content: $map-icon-var-snow;
}
.#{$map-icon-css-prefix}-snowboarding:before {
	content: $map-icon-var-snowboarding;
}
.#{$map-icon-css-prefix}-snowmobile:before {
	content: $map-icon-var-snowmobile;
}
.#{$map-icon-css-prefix}-train-station:before {
	content: $map-icon-var-train-station;
}
.#{$map-icon-css-prefix}-subway-station:before {
	content: $map-icon-var-subway-station;
}
.#{$map-icon-css-prefix}-bus-station:before {
	content: $map-icon-var-bus-station;
}
.#{$map-icon-css-prefix}-transit-station:before {
	content: $map-icon-var-transit-station;
}
.#{$map-icon-css-prefix}-parking:before {
	content: $map-icon-var-parking;
}
.#{$map-icon-css-prefix}-gas-station:before {
	content: $map-icon-var-gas-station;
}
.#{$map-icon-css-prefix}-car-rental:before {
	content: $map-icon-var-car-rental;
}
.#{$map-icon-css-prefix}-car-dealer:before {
	content: $map-icon-var-car-dealer;
}
.#{$map-icon-css-prefix}-car-repair:before {
	content: $map-icon-var-car-repair;
}
.#{$map-icon-css-prefix}-car-wash:before {
	content: $map-icon-var-car-wash;
}
.#{$map-icon-css-prefix}-airport:before {
	content: $map-icon-var-airport;
}
.#{$map-icon-css-prefix}-taxi-stand:before {
	content: $map-icon-var-taxi-stand;
}
.#{$map-icon-css-prefix}-health:before {
	content: $map-icon-var-health;
}
.#{$map-icon-css-prefix}-dentist:before {
	content: $map-icon-var-dentist;
}
.#{$map-icon-css-prefix}-doctor:before {
	content: $map-icon-var-doctor;
}
.#{$map-icon-css-prefix}-hospital:before {
	content: $map-icon-var-hospital;
}
.#{$map-icon-css-prefix}-pharmacy:before {
	content: $map-icon-var-pharmacy;
}
.#{$map-icon-css-prefix}-physiotherapist:before {
	content: $map-icon-var-physiotherapist;
}
.#{$map-icon-css-prefix}-veterinary-care:before {
	content: $map-icon-var-veterinary-care;
}
.#{$map-icon-css-prefix}-bar:before {
	content: $map-icon-var-bar;
}
.#{$map-icon-css-prefix}-amusement-park:before {
	content: $map-icon-var-amusement-park;
}
.#{$map-icon-css-prefix}-aquarium:before {
	content: $map-icon-var-aquarium;
}
.#{$map-icon-css-prefix}-casino:before {
	content: $map-icon-var-casino;
}
.#{$map-icon-css-prefix}-movie-theater:before {
	content: $map-icon-var-movie-theater;
}
.#{$map-icon-css-prefix}-night-club:before {
	content: $map-icon-var-night-club;
}
.#{$map-icon-css-prefix}-zoo:before {
	content: $map-icon-var-zoo;
}
.#{$map-icon-css-prefix}-bowling-alley:before {
	content: $map-icon-var-bowling-alley;
}
.#{$map-icon-css-prefix}-storage:before {
	content: $map-icon-var-storage;
}
.#{$map-icon-css-prefix}-electrician:before {
	content: $map-icon-var-electrician;
}
.#{$map-icon-css-prefix}-moving-company:before {
	content: $map-icon-var-moving-company;
}
.#{$map-icon-css-prefix}-painter:before {
	content: $map-icon-var-painter;
}
.#{$map-icon-css-prefix}-plumber:before {
	content: $map-icon-var-plumber;
}
.#{$map-icon-css-prefix}-roofing-contractor:before {
	content: $map-icon-var-roofing-contractor;
}
.#{$map-icon-css-prefix}-general-contractor:before {
	content: $map-icon-var-general-contractor;
}
.#{$map-icon-css-prefix}-locksmith:before {
	content: $map-icon-var-locksmith;
}
.#{$map-icon-css-prefix}-insurance-agency:before {
	content: $map-icon-var-insurance-agency;
}
.#{$map-icon-css-prefix}-lawyer:before {
	content: $map-icon-var-lawyer;
}
.#{$map-icon-css-prefix}-real-estate-agency:before {
	content: $map-icon-var-real-estate-agency;
}
.#{$map-icon-css-prefix}-travel-agency:before {
	content: $map-icon-var-travel-agency;
}
.#{$map-icon-css-prefix}-accounting:before {
	content: $map-icon-var-accounting;
}
.#{$map-icon-css-prefix}-courthouse:before {
	content: $map-icon-var-courthouse;
}
.#{$map-icon-css-prefix}-political:before {
	content: $map-icon-var-political;
}
.#{$map-icon-css-prefix}-local-government:before {
	content: $map-icon-var-local-government;
}
.#{$map-icon-css-prefix}-embassy:before {
	content: $map-icon-var-embassy;
}
.#{$map-icon-css-prefix}-city-hall:before {
	content: $map-icon-var-city-hall;
}
.#{$map-icon-css-prefix}-fire-station:before {
	content: $map-icon-var-fire-station;
}
.#{$map-icon-css-prefix}-police:before {
	content: $map-icon-var-police;
}
.#{$map-icon-css-prefix}-place-of-worship:before {
	content: $map-icon-var-place-of-worship;
}
.#{$map-icon-css-prefix}-church:before {
	content: $map-icon-var-church;
}
.#{$map-icon-css-prefix}-mosque:before {
	content: $map-icon-var-mosque;
}
.#{$map-icon-css-prefix}-synagogue:before {
	content: $map-icon-var-synagogue;
}
.#{$map-icon-css-prefix}-hindu-temple:before {
	content: $map-icon-var-hindu-temple;
}
.#{$map-icon-css-prefix}-wheelchair:before {
	content: $map-icon-var-wheelchair;
}
.#{$map-icon-css-prefix}-closed-captioning:before {
	content: $map-icon-var-closed-captioning;
}
.#{$map-icon-css-prefix}-open-captioning:before {
	content: $map-icon-var-open-captioning;
}
.#{$map-icon-css-prefix}-sign-language:before {
	content: $map-icon-var-sign-language;
}
.#{$map-icon-css-prefix}-volume-control-telephone:before {
	content: $map-icon-var-volume-control-telephone;
}
.#{$map-icon-css-prefix}-low-vision-access:before {
	content: $map-icon-var-low-vision-access;
}
.#{$map-icon-css-prefix}-braille:before {
	content: $map-icon-var-braille;
}
.#{$map-icon-css-prefix}-audio-description:before {
	content: $map-icon-var-audio-description;
}
.#{$map-icon-css-prefix}-assistive-listening-system:before {
	content: $map-icon-var-assistive-listening-system;
}
.#{$map-icon-css-prefix}-search:before {
	content: $map-icon-var-search;
}
.#{$map-icon-css-prefix}-location-arrow:before {
	content: $map-icon-var-location-arrow;
}
.#{$map-icon-css-prefix}-zoom-out:before {
	content: $map-icon-var-zoom-out;
}
.#{$map-icon-css-prefix}-zoom-out-alt:before {
	content: $map-icon-var-zoom-out-alt;
}
.#{$map-icon-css-prefix}-zoom-in:before {
	content: $map-icon-var-zoom-in;
}
.#{$map-icon-css-prefix}-zoom-in-alt:before {
	content: $map-icon-var-zoom-in-alt;
}
.#{$map-icon-css-prefix}-crosshairs:before {
	content: $map-icon-var-crosshairs;
}
.#{$map-icon-css-prefix}-compass:before {
	content: $map-icon-var-compass;
}
.#{$map-icon-css-prefix}-expand:before {
	content: $map-icon-var-expand;
}
.#{$map-icon-css-prefix}-fullscreen:before {
	content: $map-icon-var-fullscreen;
}
.#{$map-icon-css-prefix}-map-pin:before {
	content: $map-icon-var-map-pin;
}
.#{$map-icon-css-prefix}-square-pin:before {
	content: $map-icon-var-square-pin;
}
.#{$map-icon-css-prefix}-route-pin:before {
	content: $map-icon-var-route-pin;
}
.#{$map-icon-css-prefix}-shield:before {
	content: $map-icon-var-shield;
}
.#{$map-icon-css-prefix}-circle:before {
	content: $map-icon-var-circle;
}
.#{$map-icon-css-prefix}-square-rounded:before {
	content: $map-icon-var-square-rounded;
}
.#{$map-icon-css-prefix}-square:before {
	content: $map-icon-var-square;
}
