// Font path
// --------------------------
@font-face {

  font-family: '#{$map-icon-font-family}';
  src: url('#{$map-icon-font-path}/#{$map-icon-font-file}.eot?v=#{$map-icon-version}');
  src: url('#{$map-icon-font-path}/#{$map-icon-font-file}.eot?#iefix&v=#{$map-icon-version}') format('embedded-opentype'),

    url('#{$map-icon-font-path}/#{$map-icon-font-file}.woff?v=#{$map-icon-version}') format('woff'),
    url('#{$map-icon-font-path}/#{$map-icon-font-file}.ttf?v=#{$map-icon-version}') format('truetype'),
    url('#{$map-icon-font-path}/#{$map-icon-font-file}.svg?v=#{$map-icon-version}##{$map-icon-font-file}') format('svg');
  font-weight: normal;
  font-style: normal;
}
