// Variables
// --------------------------
$map-icon-font-path:        ".";
$map-icon-font-file:        "map-icons";
$map-icon-font-family:      "Map Icons";
$map-icon-css-prefix:       map-icon;
$map-icon-version:          "3.0.3";

$map-icon-var-art-gallery: "\e806";
$map-icon-var-campground: "\e819";
$map-icon-var-bank: "\e80b";
$map-icon-var-hair-care: "\e845";
$map-icon-var-gym: "\e844";
$map-icon-var-point-of-interest: "\e871";
$map-icon-var-post-box: "\e874";
$map-icon-var-post-office: "\e875";
$map-icon-var-university: "\e8a1";
$map-icon-var-beauty-salon: "\e80e";
$map-icon-var-atm: "\e808";
$map-icon-var-rv-park: "\e87e";
$map-icon-var-school: "\e880";
$map-icon-var-library: "\e855";
$map-icon-var-spa: "\e88e";
$map-icon-var-route: "\e87d";
$map-icon-var-postal-code: "\e877";
$map-icon-var-stadium: "\e892";
$map-icon-var-postal-code-prefix: "\e876";
$map-icon-var-museum: "\e864";
$map-icon-var-finance: "\e836";
$map-icon-var-natural-feature: "\e865";
$map-icon-var-funeral-home: "\e83e";
$map-icon-var-cemetery: "\e820";
$map-icon-var-park: "\e869";
$map-icon-var-lodging: "\e85a";
$map-icon-var-female: "\e835";
$map-icon-var-male: "\e85c";
$map-icon-var-unisex: "\e8a0";
$map-icon-var-toilet: "\e89b";
$map-icon-var-bakery: "\e80a";
$map-icon-var-cafe: "\e818";
$map-icon-var-restaurant: "\e87a";
$map-icon-var-food: "\e83c";
$map-icon-var-liquor-store: "\e856";
$map-icon-var-bicycle-store: "\e80f";
$map-icon-var-pet-store: "\e86b";
$map-icon-var-hardware-store: "\e847";
$map-icon-var-book-store: "\e814";
$map-icon-var-furniture-store: "\e83f";
$map-icon-var-department-store: "\e82e";
$map-icon-var-electronics-store: "\e832";
$map-icon-var-jewelry-store: "\e851";
$map-icon-var-clothing-store: "\e827";
$map-icon-var-convenience-store: "\e829";
$map-icon-var-store: "\e894";
$map-icon-var-shopping-mall: "\e884";
$map-icon-var-movie-rental: "\e861";
$map-icon-var-grocery-or-supermarket: "\e843";
$map-icon-var-florist: "\e83b";
$map-icon-var-laundry: "\e853";
$map-icon-var-abseiling: "\e800";
$map-icon-var-archery: "\e805";
$map-icon-var-baseball: "\e80d";
$map-icon-var-bicycling: "\e810";
$map-icon-var-climbing: "\e825";
$map-icon-var-golf: "\e842";
$map-icon-var-hang-gliding: "\e846";
$map-icon-var-horse-riding: "\e84a";
$map-icon-var-inline-skating: "\e84e";
$map-icon-var-motobike-trail: "\e860";
$map-icon-var-playground: "\e86f";
$map-icon-var-skateboarding: "\e886";
$map-icon-var-tennis: "\e89a";
$map-icon-var-trail-walking: "\e89c";
$map-icon-var-viewing: "\e8a3";
$map-icon-var-walking: "\e8a5";
$map-icon-var-boating: "\e813";
$map-icon-var-boat-ramp: "\e811";
$map-icon-var-boat-tour: "\e812";
$map-icon-var-canoe: "\e81a";
$map-icon-var-diving: "\e82f";
$map-icon-var-fishing: "\e83a";
$map-icon-var-fishing-pier: "\e839";
$map-icon-var-fish-cleaning: "\e838";
$map-icon-var-jet-skiing: "\e850";
$map-icon-var-kayaking: "\e852";
$map-icon-var-marina: "\e85e";
$map-icon-var-rafting: "\e878";
$map-icon-var-sailing: "\e87f";
$map-icon-var-scuba-diving: "\e881";
$map-icon-var-surfing: "\e896";
$map-icon-var-swimming: "\e897";
$map-icon-var-waterskiing: "\e8a6";
$map-icon-var-whale-watching: "\e8a7";
$map-icon-var-wind-surfing: "\e8a9";
$map-icon-var-chairlift: "\e821";
$map-icon-var-cross-country-skiing: "\e82b";
$map-icon-var-ice-fishing: "\e84c";
$map-icon-var-ice-skating: "\e84d";
$map-icon-var-ski-jumping: "\e887";
$map-icon-var-skiing: "\e888";
$map-icon-var-sledding: "\e889";
$map-icon-var-snow-shoeing: "\e88a";
$map-icon-var-snow: "\e88b";
$map-icon-var-snowboarding: "\e88c";
$map-icon-var-snowmobile: "\e88d";
$map-icon-var-train-station: "\e89d";
$map-icon-var-subway-station: "\e895";
$map-icon-var-bus-station: "\e817";
$map-icon-var-transit-station: "\e89e";
$map-icon-var-parking: "\e86a";
$map-icon-var-gas-station: "\e840";
$map-icon-var-car-rental: "\e81c";
$map-icon-var-car-dealer: "\e81b";
$map-icon-var-car-repair: "\e81d";
$map-icon-var-car-wash: "\e81e";
$map-icon-var-airport: "\e802";
$map-icon-var-taxi-stand: "\e899";
$map-icon-var-health: "\e848";
$map-icon-var-dentist: "\e82d";
$map-icon-var-doctor: "\e830";
$map-icon-var-hospital: "\e84b";
$map-icon-var-pharmacy: "\e86c";
$map-icon-var-physiotherapist: "\e86d";
$map-icon-var-veterinary-care: "\e8a2";
$map-icon-var-bar: "\e80c";
$map-icon-var-amusement-park: "\e803";
$map-icon-var-aquarium: "\e804";
$map-icon-var-casino: "\e81f";
$map-icon-var-movie-theater: "\e862";
$map-icon-var-night-club: "\e866";
$map-icon-var-zoo: "\e8aa";
$map-icon-var-bowling-alley: "\e815";
$map-icon-var-storage: "\e893";
$map-icon-var-electrician: "\e831";
$map-icon-var-moving-company: "\e863";
$map-icon-var-painter: "\e868";
$map-icon-var-plumber: "\e870";
$map-icon-var-roofing-contractor: "\e87b";
$map-icon-var-general-contractor: "\e841";
$map-icon-var-locksmith: "\e859";
$map-icon-var-insurance-agency: "\e84f";
$map-icon-var-lawyer: "\e854";
$map-icon-var-real-estate-agency: "\e879";
$map-icon-var-travel-agency: "\e89f";
$map-icon-var-accounting: "\e801";
$map-icon-var-courthouse: "\e82a";
$map-icon-var-political: "\e873";
$map-icon-var-local-government: "\e857";
$map-icon-var-embassy: "\e833";
$map-icon-var-city-hall: "\e824";
$map-icon-var-fire-station: "\e837";
$map-icon-var-police: "\e872";
$map-icon-var-place-of-worship: "\e86e";
$map-icon-var-church: "\e822";
$map-icon-var-mosque: "\e85f";
$map-icon-var-synagogue: "\e898";
$map-icon-var-hindu-temple: "\e849";
$map-icon-var-wheelchair: "\e8a8";
$map-icon-var-closed-captioning: "\e826";
$map-icon-var-open-captioning: "\e867";
$map-icon-var-sign-language: "\e885";
$map-icon-var-volume-control-telephone: "\e8a4";
$map-icon-var-low-vision-access: "\e85b";
$map-icon-var-braille: "\e816";
$map-icon-var-audio-description: "\e809";
$map-icon-var-assistive-listening-system: "\e807";
$map-icon-var-search: "\e882";
$map-icon-var-location-arrow: "\e858";
$map-icon-var-zoom-out: "\e8ae";
$map-icon-var-zoom-out-alt: "\e8ad";
$map-icon-var-zoom-in: "\e8ac";
$map-icon-var-zoom-in-alt: "\e8ab";
$map-icon-var-crosshairs: "\e82c";
$map-icon-var-compass: "\e828";
$map-icon-var-expand: "\e834";
$map-icon-var-fullscreen: "\e83d";
$map-icon-var-map-pin: "\e85d";
$map-icon-var-square-pin: "\e88f";
$map-icon-var-route-pin: "\e87c";
$map-icon-var-shield: "\e883";
$map-icon-var-circle: "\e823";
$map-icon-var-square-rounded: "\e890";
$map-icon-var-square: "\e891";
