// Icons
// -------------------------
.#{$ml-css-prefix}-cloud:before {
	content: $ml-var-cloud;
}
.#{$ml-css-prefix}-at:before {
	content: $ml-var-at;
}
.#{$ml-css-prefix}-plus:before {
	content: $ml-var-plus;
}
.#{$ml-css-prefix}-minus:before {
	content: $ml-var-minus;
}
.#{$ml-css-prefix}-arrow-up:before {
	content: $ml-var-arrow-up;
}
.#{$ml-css-prefix}-arrow-down:before {
	content: $ml-var-arrow-down;
}
.#{$ml-css-prefix}-arrow-right:before {
	content: $ml-var-arrow-right;
}
.#{$ml-css-prefix}-arrow-left:before {
	content: $ml-var-arrow-left;
}
.#{$ml-css-prefix}-chevron-down:before {
	content: $ml-var-chevron-down;
}
.#{$ml-css-prefix}-chevron-up:before {
	content: $ml-var-chevron-up;
}
.#{$ml-css-prefix}-chevron-right:before {
	content: $ml-var-chevron-right;
}
.#{$ml-css-prefix}-chevron-left:before {
	content: $ml-var-chevron-left;
}
.#{$ml-css-prefix}-reorder:before {
	content: $ml-var-reorder;
}
.#{$ml-css-prefix}-list:before {
	content: $ml-var-list;
}
.#{$ml-css-prefix}-reorder-square:before {
	content: $ml-var-reorder-square;
}
.#{$ml-css-prefix}-reorder-square-line:before {
	content: $ml-var-reorder-square-line;
}
.#{$ml-css-prefix}-coverflow:before {
	content: $ml-var-coverflow;
}
.#{$ml-css-prefix}-coverflow-line:before {
	content: $ml-var-coverflow-line;
}
.#{$ml-css-prefix}-pause:before {
	content: $ml-var-pause;
}
.#{$ml-css-prefix}-play:before {
	content: $ml-var-play;
}
.#{$ml-css-prefix}-step-forward:before {
	content: $ml-var-step-forward;
}
.#{$ml-css-prefix}-step-backward:before {
	content: $ml-var-step-backward;
}
.#{$ml-css-prefix}-fast-forward:before {
	content: $ml-var-fast-forward;
}
.#{$ml-css-prefix}-fast-backward:before {
	content: $ml-var-fast-backward;
}
.#{$ml-css-prefix}-cloud-upload:before {
	content: $ml-var-cloud-upload;
}
.#{$ml-css-prefix}-cloud-download:before {
	content: $ml-var-cloud-download;
}
.#{$ml-css-prefix}-data-science:before {
	content: $ml-var-data-science;
}
.#{$ml-css-prefix}-data-science-black:before {
	content: $ml-var-data-science-black;
}
.#{$ml-css-prefix}-globe:before {
	content: $ml-var-globe;
}
.#{$ml-css-prefix}-globe-black:before {
	content: $ml-var-globe-black;
}
.#{$ml-css-prefix}-math-ico:before {
	content: $ml-var-math-ico;
}
.#{$ml-css-prefix}-math:before {
	content: $ml-var-math;
}
.#{$ml-css-prefix}-math-black:before {
	content: $ml-var-math-black;
}
.#{$ml-css-prefix}-paperplane-ico:before {
	content: $ml-var-paperplane-ico;
}
.#{$ml-css-prefix}-paperplane:before {
	content: $ml-var-paperplane;
}
.#{$ml-css-prefix}-paperplane-black:before {
	content: $ml-var-paperplane-black;
}
.#{$ml-css-prefix}-color-balance:before {
	content: $ml-var-color-balance;
}
.#{$ml-css-prefix}-star:before {
	content: $ml-var-star;
}
.#{$ml-css-prefix}-star-half:before {
	content: $ml-var-star-half;
}
.#{$ml-css-prefix}-star-empty:before {
	content: $ml-var-star-empty;
}
.#{$ml-css-prefix}-star-half-empty:before {
	content: $ml-var-star-half-empty;
}
.#{$ml-css-prefix}-reload:before {
	content: $ml-var-reload;
}
.#{$ml-css-prefix}-heart:before {
	content: $ml-var-heart;
}
.#{$ml-css-prefix}-heart-broken:before {
	content: $ml-var-heart-broken;
}
.#{$ml-css-prefix}-hashtag:before {
	content: $ml-var-hashtag;
}
.#{$ml-css-prefix}-reply:before {
	content: $ml-var-reply;
}
.#{$ml-css-prefix}-retweet:before {
	content: $ml-var-retweet;
}
.#{$ml-css-prefix}-signin:before {
	content: $ml-var-signin;
}
.#{$ml-css-prefix}-signout:before {
	content: $ml-var-signout;
}
.#{$ml-css-prefix}-download:before {
	content: $ml-var-download;
}
.#{$ml-css-prefix}-upload:before {
	content: $ml-var-upload;
}
.#{$ml-css-prefix}-placepin:before {
	content: $ml-var-placepin;
}
.#{$ml-css-prefix}-display-screen:before {
	content: $ml-var-display-screen;
}
.#{$ml-css-prefix}-tablet:before {
	content: $ml-var-tablet;
}
.#{$ml-css-prefix}-smartphone:before {
	content: $ml-var-smartphone;
}
.#{$ml-css-prefix}-connected-object:before {
	content: $ml-var-connected-object;
}
.#{$ml-css-prefix}-lock:before {
	content: $ml-var-lock;
}
.#{$ml-css-prefix}-unlock:before {
	content: $ml-var-unlock;
}
.#{$ml-css-prefix}-camera:before {
	content: $ml-var-camera;
}
.#{$ml-css-prefix}-isight:before {
	content: $ml-var-isight;
}
.#{$ml-css-prefix}-video-camera:before {
	content: $ml-var-video-camera;
}
.#{$ml-css-prefix}-random:before {
	content: $ml-var-random;
}
.#{$ml-css-prefix}-message:before {
	content: $ml-var-message;
}
.#{$ml-css-prefix}-discussion:before {
	content: $ml-var-discussion;
}
.#{$ml-css-prefix}-calendar:before {
	content: $ml-var-calendar;
}
.#{$ml-css-prefix}-ringbell:before {
	content: $ml-var-ringbell;
}
.#{$ml-css-prefix}-movie:before {
	content: $ml-var-movie;
}
.#{$ml-css-prefix}-mail:before {
	content: $ml-var-mail;
}
.#{$ml-css-prefix}-pen:before {
	content: $ml-var-pen;
}
.#{$ml-css-prefix}-settings:before {
	content: $ml-var-settings;
}
.#{$ml-css-prefix}-measure:before {
	content: $ml-var-measure;
}
.#{$ml-css-prefix}-vector:before {
	content: $ml-var-vector;
}
.#{$ml-css-prefix}-vector-pen:before {
	content: $ml-var-vector-pen;
}
.#{$ml-css-prefix}-mute-on:before {
	content: $ml-var-mute-on;
}
.#{$ml-css-prefix}-mute-off:before {
	content: $ml-var-mute-off;
}
.#{$ml-css-prefix}-home:before {
	content: $ml-var-home;
}
.#{$ml-css-prefix}-sheet:before {
	content: $ml-var-sheet;
}
.#{$ml-css-prefix}-arrow-big-right:before {
	content: $ml-var-arrow-big-right;
}
.#{$ml-css-prefix}-arrow-big-left:before {
	content: $ml-var-arrow-big-left;
}
.#{$ml-css-prefix}-arrow-big-down:before {
	content: $ml-var-arrow-big-down;
}
.#{$ml-css-prefix}-arrow-big-up:before {
	content: $ml-var-arrow-big-up;
}
.#{$ml-css-prefix}-dribbble-circle:before {
	content: $ml-var-dribbble-circle;
}
.#{$ml-css-prefix}-dribbble:before {
	content: $ml-var-dribbble;
}
.#{$ml-css-prefix}-facebook-circle:before {
	content: $ml-var-facebook-circle;
}
.#{$ml-css-prefix}-facebook:before {
	content: $ml-var-facebook;
}
.#{$ml-css-prefix}-git-circle-alt:before {
	content: $ml-var-git-circle-alt;
}
.#{$ml-css-prefix}-git-circle:before {
	content: $ml-var-git-circle;
}
.#{$ml-css-prefix}-git:before {
	content: $ml-var-git;
}
.#{$ml-css-prefix}-octopus:before {
	content: $ml-var-octopus;
}
.#{$ml-css-prefix}-twitter-circle:before {
	content: $ml-var-twitter-circle;
}
.#{$ml-css-prefix}-twitter:before {
	content: $ml-var-twitter;
}
.#{$ml-css-prefix}-google-plus-circle:before {
	content: $ml-var-google-plus-circle;
}
.#{$ml-css-prefix}-google-plus:before {
	content: $ml-var-google-plus;
}
.#{$ml-css-prefix}-linked-in-circle:before {
	content: $ml-var-linked-in-circle;
}
.#{$ml-css-prefix}-linked-in:before {
	content: $ml-var-linked-in;
}
.#{$ml-css-prefix}-instagram:before {
	content: $ml-var-instagram;
}
.#{$ml-css-prefix}-instagram-circle:before {
	content: $ml-var-instagram-circle;
}
.#{$ml-css-prefix}-mfg-icon:before {
	content: $ml-var-mfg-icon;
}
.#{$ml-css-prefix}-xing:before {
	content: $ml-var-xing;
}
.#{$ml-css-prefix}-xing-circle:before {
	content: $ml-var-xing-circle;
}
.#{$ml-css-prefix}-mfg-icon-circle:before {
	content: $ml-var-mfg-icon-circle;
}
.#{$ml-css-prefix}-user:before {
	content: $ml-var-user;
}
.#{$ml-css-prefix}-user-male:before {
	content: $ml-var-user-male;
}
.#{$ml-css-prefix}-user-female:before {
	content: $ml-var-user-female;
}
.#{$ml-css-prefix}-users:before {
	content: $ml-var-users;
}
.#{$ml-css-prefix}-file-open:before {
	content: $ml-var-file-open;
}
.#{$ml-css-prefix}-file-close:before {
	content: $ml-var-file-close;
}
.#{$ml-css-prefix}-file-alt:before {
	content: $ml-var-file-alt;
}
.#{$ml-css-prefix}-file-close-alt:before {
	content: $ml-var-file-close-alt;
}
.#{$ml-css-prefix}-attachment:before {
	content: $ml-var-attachment;
}
.#{$ml-css-prefix}-check:before {
	content: $ml-var-check;
}
.#{$ml-css-prefix}-cross-mark:before {
	content: $ml-var-cross-mark;
}
.#{$ml-css-prefix}-cancel-circle:before {
	content: $ml-var-cancel-circle;
}
.#{$ml-css-prefix}-check-circle:before {
	content: $ml-var-check-circle;
}
.#{$ml-css-prefix}-magnifying:before {
	content: $ml-var-magnifying;
}
.#{$ml-css-prefix}-inbox:before {
	content: $ml-var-inbox;
}
.#{$ml-css-prefix}-clock:before {
	content: $ml-var-clock;
}
.#{$ml-css-prefix}-stopwatch:before {
	content: $ml-var-stopwatch;
}
.#{$ml-css-prefix}-hourglass:before {
	content: $ml-var-hourglass;
}
.#{$ml-css-prefix}-trophy:before {
	content: $ml-var-trophy;
}
.#{$ml-css-prefix}-unlock-alt:before {
	content: $ml-var-unlock-alt;
}
.#{$ml-css-prefix}-lock-alt:before {
	content: $ml-var-lock-alt;
}
.#{$ml-css-prefix}-arrow-doubled-right:before {
	content: $ml-var-arrow-doubled-right;
}
.#{$ml-css-prefix}-arrow-doubled-left:before {
	content: $ml-var-arrow-doubled-left;
}
.#{$ml-css-prefix}-arrow-doubled-down:before {
	content: $ml-var-arrow-doubled-down;
}
.#{$ml-css-prefix}-arrow-doubled-up:before {
	content: $ml-var-arrow-doubled-up;
}
.#{$ml-css-prefix}-link:before {
	content: $ml-var-link;
}
.#{$ml-css-prefix}-warning:before {
	content: $ml-var-warning;
}
.#{$ml-css-prefix}-warning-alt:before {
	content: $ml-var-warning-alt;
}
.#{$ml-css-prefix}-magnifying-plus:before {
	content: $ml-var-magnifying-plus;
}
.#{$ml-css-prefix}-magnifying-minus:before {
	content: $ml-var-magnifying-minus;
}
.#{$ml-css-prefix}-white-question:before {
	content: $ml-var-white-question;
}
.#{$ml-css-prefix}-black-question:before {
	content: $ml-var-black-question;
}
.#{$ml-css-prefix}-stop:before {
	content: $ml-var-stop;
}
.#{$ml-css-prefix}-share:before {
	content: $ml-var-share;
}
.#{$ml-css-prefix}-eye:before {
	content: $ml-var-eye;
}
.#{$ml-css-prefix}-trash-can:before {
	content: $ml-var-trash-can;
}
.#{$ml-css-prefix}-hard-drive:before {
	content: $ml-var-hard-drive;
}
.#{$ml-css-prefix}-information-black:before {
	content: $ml-var-information-black;
}
.#{$ml-css-prefix}-information-white:before {
	content: $ml-var-information-white;
}
.#{$ml-css-prefix}-printer:before {
	content: $ml-var-printer;
}
.#{$ml-css-prefix}-letter:before {
	content: $ml-var-letter;
}
.#{$ml-css-prefix}-soundcloud:before {
	content: $ml-var-soundcloud;
}
.#{$ml-css-prefix}-soundcloud-circle:before {
	content: $ml-var-soundcloud-circle;
}
.#{$ml-css-prefix}-anchor:before {
	content: $ml-var-anchor;
}
.#{$ml-css-prefix}-female-sign:before {
	content: $ml-var-female-sign;
}
.#{$ml-css-prefix}-male-sign:before {
	content: $ml-var-male-sign;
}
.#{$ml-css-prefix}-joystick:before {
	content: $ml-var-joystick;
}
.#{$ml-css-prefix}-high-voltage:before {
	content: $ml-var-high-voltage;
}
.#{$ml-css-prefix}-fire:before {
	content: $ml-var-fire;
}
.#{$ml-css-prefix}-newspaper:before {
	content: $ml-var-newspaper;
}
.#{$ml-css-prefix}-chart:before {
	content: $ml-var-chart;
}
.#{$ml-css-prefix}-spread:before {
	content: $ml-var-spread;
}
.#{$ml-css-prefix}-spinner-1:before {
	content: $ml-var-spinner-1;
}
.#{$ml-css-prefix}-spinner-2:before {
	content: $ml-var-spinner-2;
}
.#{$ml-css-prefix}-chart-alt:before {
	content: $ml-var-chart-alt;
}
.#{$ml-css-prefix}-label:before {
	content: $ml-var-label;
}
.#{$ml-css-prefix}-brush:before {
	content: $ml-var-brush;
}
.#{$ml-css-prefix}-refresh:before {
	content: $ml-var-refresh;
}
.#{$ml-css-prefix}-node:before {
	content: $ml-var-node;
}
.#{$ml-css-prefix}-node-2:before {
	content: $ml-var-node-2;
}
.#{$ml-css-prefix}-node-3:before {
	content: $ml-var-node-3;
}
.#{$ml-css-prefix}-link-2-nodes:before {
	content: $ml-var-link-2-nodes;
}
.#{$ml-css-prefix}-link-3-nodes:before {
	content: $ml-var-link-3-nodes;
}
.#{$ml-css-prefix}-link-loop-nodes:before {
	content: $ml-var-link-loop-nodes;
}
.#{$ml-css-prefix}-node-size:before {
	content: $ml-var-node-size;
}
.#{$ml-css-prefix}-node-color:before {
	content: $ml-var-node-color;
}
.#{$ml-css-prefix}-layout-directed:before {
	content: $ml-var-layout-directed;
}
.#{$ml-css-prefix}-layout-radial:before {
	content: $ml-var-layout-radial;
}
.#{$ml-css-prefix}-layout-hierarchical:before {
	content: $ml-var-layout-hierarchical;
}
.#{$ml-css-prefix}-node-link-direction:before {
	content: $ml-var-node-link-direction;
}
.#{$ml-css-prefix}-node-link-short-path:before {
	content: $ml-var-node-link-short-path;
}
.#{$ml-css-prefix}-node-cluster:before {
	content: $ml-var-node-cluster;
}
.#{$ml-css-prefix}-display-graph:before {
	content: $ml-var-display-graph;
}
.#{$ml-css-prefix}-node-link-weight:before {
	content: $ml-var-node-link-weight;
}
.#{$ml-css-prefix}-more-node-links:before {
	content: $ml-var-more-node-links;
}
.#{$ml-css-prefix}-node-shape:before {
	content: $ml-var-node-shape;
}
.#{$ml-css-prefix}-node-icon:before {
	content: $ml-var-node-icon;
}
.#{$ml-css-prefix}-node-text:before {
	content: $ml-var-node-text;
}
.#{$ml-css-prefix}-node-link-text:before {
	content: $ml-var-node-link-text;
}
.#{$ml-css-prefix}-node-link-color:before {
	content: $ml-var-node-link-color;
}
.#{$ml-css-prefix}-node-link-shape:before {
	content: $ml-var-node-link-shape;
}
.#{$ml-css-prefix}-credit-card:before {
	content: $ml-var-credit-card;
}
.#{$ml-css-prefix}-disconnect:before {
	content: $ml-var-disconnect;
}
.#{$ml-css-prefix}-graph:before {
	content: $ml-var-graph;
}
.#{$ml-css-prefix}-new-user:before {
	content: $ml-var-new-user;
}
