// Font path
// --------------------------
@font-face {

  font-family: '#{$ml-font-family}';
  src: url('#{$ml-font-path}/#{$ml-font-file}.eot?v=#{$ml-version}');
  src: url('#{$ml-font-path}/#{$ml-font-file}.eot?#iefix&v=#{$ml-version}') format('embedded-opentype'),

    url('#{$ml-font-path}/#{$ml-font-file}.woff?v=#{$ml-version}') format('woff'),
    url('#{$ml-font-path}/#{$ml-font-file}.ttf?v=#{$ml-version}') format('truetype'),
    url('#{$ml-font-path}/#{$ml-font-file}.svg?v=#{$ml-version}##{$ml-font-file}') format('svg');
  font-weight: normal;
  font-style: normal;
}
