// Variables
// --------------------------
$ml-font-path:        ".";
$ml-font-file:        "mfglabs";
$ml-font-family:      "Mfglabs iconset";
$ml-css-prefix:       ml;
$ml-version:          "";

$ml-var-cloud: "\2601";
$ml-var-at: "\0040";
$ml-var-plus: "\002B";
$ml-var-minus: "\2212";
$ml-var-arrow-up: "\2191";
$ml-var-arrow-down: "\2193";
$ml-var-arrow-right: "\2192";
$ml-var-arrow-left: "\2190";
$ml-var-chevron-down: "\f004";
$ml-var-chevron-up: "\f005";
$ml-var-chevron-right: "\f006";
$ml-var-chevron-left: "\f007";
$ml-var-reorder: "\f008";
$ml-var-list: "\f009";
$ml-var-reorder-square: "\f00a";
$ml-var-reorder-square-line: "\f00b";
$ml-var-coverflow: "\f00c";
$ml-var-coverflow-line: "\f00d";
$ml-var-pause: "\f00e";
$ml-var-play: "\f00f";
$ml-var-step-forward: "\f010";
$ml-var-step-backward: "\f011";
$ml-var-fast-forward: "\f012";
$ml-var-fast-backward: "\f013";
$ml-var-cloud-upload: "\f014";
$ml-var-cloud-download: "\f015";
$ml-var-data-science: "\f016";
$ml-var-data-science-black: "\f017";
$ml-var-globe: "\f018";
$ml-var-globe-black: "\f019";
$ml-var-math-ico: "\f01a";
$ml-var-math: "\f01b";
$ml-var-math-black: "\f01c";
$ml-var-paperplane-ico: "\f01d";
$ml-var-paperplane: "\f01e";
$ml-var-paperplane-black: "\f01f";
$ml-var-color-balance: "\f020";
$ml-var-star: "\2605";
$ml-var-star-half: "\f022";
$ml-var-star-empty: "\2606";
$ml-var-star-half-empty: "\f024";
$ml-var-reload: "\f025";
$ml-var-heart: "\2665";
$ml-var-heart-broken: "\f028";
$ml-var-hashtag: "\f029";
$ml-var-reply: "\f02a";
$ml-var-retweet: "\f02b";
$ml-var-signin: "\f02c";
$ml-var-signout: "\f02d";
$ml-var-download: "\f02e";
$ml-var-upload: "\f02f";
$ml-var-placepin: "\f031";
$ml-var-display-screen: "\f032";
$ml-var-tablet: "\f033";
$ml-var-smartphone: "\f034";
$ml-var-connected-object: "\f035";
$ml-var-lock: "\F512";
$ml-var-unlock: "\F513";
$ml-var-camera: "\F4F7";
$ml-var-isight: "\f039";
$ml-var-video-camera: "\f03a";
$ml-var-random: "\f03b";
$ml-var-message: "\F4AC";
$ml-var-discussion: "\f03d";
$ml-var-calendar: "\F4C5";
$ml-var-ringbell: "\f03f";
$ml-var-movie: "\f040";
$ml-var-mail: "\2709";
$ml-var-pen: "\270F";
$ml-var-settings: "\9881";
$ml-var-measure: "\f044";
$ml-var-vector: "\f045";
$ml-var-vector-pen: "\2712";
$ml-var-mute-on: "\f047";
$ml-var-mute-off: "\f048";
$ml-var-home: "\2302";
$ml-var-sheet: "\f04a";
$ml-var-arrow-big-right: "\21C9";
$ml-var-arrow-big-left: "\21C7";
$ml-var-arrow-big-down: "\21CA";
$ml-var-arrow-big-up: "\21C8";
$ml-var-dribbble-circle: "\f04f";
$ml-var-dribbble: "\f050";
$ml-var-facebook-circle: "\f051";
$ml-var-facebook: "\f052";
$ml-var-git-circle-alt: "\f053";
$ml-var-git-circle: "\f054";
$ml-var-git: "\f055";
$ml-var-octopus: "\f056";
$ml-var-twitter-circle: "\f057";
$ml-var-twitter: "\f058";
$ml-var-google-plus-circle: "\f059";
$ml-var-google-plus: "\f05a";
$ml-var-linked-in-circle: "\f05b";
$ml-var-linked-in: "\f05c";
$ml-var-instagram: "\f05d";
$ml-var-instagram-circle: "\f05e";
$ml-var-mfg-icon: "\f05f";
$ml-var-xing: "\F532";
$ml-var-xing-circle: "\F533";
$ml-var-mfg-icon-circle: "\f060";
$ml-var-user: "\f061";
$ml-var-user-male: "\f062";
$ml-var-user-female: "\f063";
$ml-var-users: "\f064";
$ml-var-file-open: "\F4C2";
$ml-var-file-close: "\f067";
$ml-var-file-alt: "\f068";
$ml-var-file-close-alt: "\f069";
$ml-var-attachment: "\f06a";
$ml-var-check: "\2713";
$ml-var-cross-mark: "\274C";
$ml-var-cancel-circle: "\F06E";
$ml-var-check-circle: "\f06d";
$ml-var-magnifying: "\F50D";
$ml-var-inbox: "\f070";
$ml-var-clock: "\23F2";
$ml-var-stopwatch: "\23F1";
$ml-var-hourglass: "\231B";
$ml-var-trophy: "\f074";
$ml-var-unlock-alt: "\F075";
$ml-var-lock-alt: "\F510";
$ml-var-arrow-doubled-right: "\21D2";
$ml-var-arrow-doubled-left: "\21D0";
$ml-var-arrow-doubled-down: "\21D3";
$ml-var-arrow-doubled-up: "\21D1";
$ml-var-link: "\f07B";
$ml-var-warning: "\2757";
$ml-var-warning-alt: "\2755";
$ml-var-magnifying-plus: "\f07E";
$ml-var-magnifying-minus: "\f07F";
$ml-var-white-question: "\2754";
$ml-var-black-question: "\2753";
$ml-var-stop: "\f080";
$ml-var-share: "\f081";
$ml-var-eye: "\f082";
$ml-var-trash-can: "\f083";
$ml-var-hard-drive: "\f084";
$ml-var-information-black: "\f085";
$ml-var-information-white: "\f086";
$ml-var-printer: "\f087";
$ml-var-letter: "\f088";
$ml-var-soundcloud: "\f089";
$ml-var-soundcloud-circle: "\f08A";
$ml-var-anchor: "\2693";
$ml-var-female-sign: "\2640";
$ml-var-male-sign: "\2642";
$ml-var-joystick: "\F514";
$ml-var-high-voltage: "\26A1";
$ml-var-fire: "\F525";
$ml-var-newspaper: "\F4F0";
$ml-var-chart: "\F526";
$ml-var-spread: "\F527";
$ml-var-spinner-1: "\F528";
$ml-var-spinner-2: "\F529";
$ml-var-chart-alt: "\F530";
$ml-var-label: "\F531";
$ml-var-brush: "\E000";
$ml-var-refresh: "\E001";
$ml-var-node: "\E002";
$ml-var-node-2: "\E003";
$ml-var-node-3: "\E004";
$ml-var-link-2-nodes: "\E005";
$ml-var-link-3-nodes: "\E006";
$ml-var-link-loop-nodes: "\E007";
$ml-var-node-size: "\E008";
$ml-var-node-color: "\E009";
$ml-var-layout-directed: "\E010";
$ml-var-layout-radial: "\E011";
$ml-var-layout-hierarchical: "\E012";
$ml-var-node-link-direction: "\E013";
$ml-var-node-link-short-path: "\E014";
$ml-var-node-cluster: "\E015";
$ml-var-display-graph: "\E016";
$ml-var-node-link-weight: "\E017";
$ml-var-more-node-links: "\E018";
$ml-var-node-shape: "\E00A";
$ml-var-node-icon: "\E00B";
$ml-var-node-text: "\E00C";
$ml-var-node-link-text: "\E00D";
$ml-var-node-link-color: "\E00E";
$ml-var-node-link-shape: "\E00F";
$ml-var-credit-card: "\F4B3";
$ml-var-disconnect: "\F534";
$ml-var-graph: "\F535";
$ml-var-new-user: "\F536";
