.m-menu {
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    z-index: 99;
    overflow: hidden;
    padding-top: 5.86667vw;

    &__close {
        color: #fff;
        position: absolute;
        right: 5.6vw;
        width: 6vw;
        font-size: 6vw;
        top: 2.4vw;
        padding: 2.93333vw 0px;
    }

    &__head {
        height: 11.3333vw;
        margin: 0px 10.6667vw;

        .logo {
            display: inline-block;

            img {
                width: 14.5333vw;
            }
        }
    }

    &__nav {
        font-size: 3.73333vw;
        margin: 0px 10.6667vw 6.93333vw;

        li {
            a {
                color: #fff;
                font-weight: 700;
                line-height: 10.6667vw;
                font-size: 4.26667vw;
            }
        }
    }

    &__btn-group {
        margin: 0px 10.6667vw 6.93333vw;

        .cs-btn {
            width: 100%;
            border-radius: 0;
            line-height: 10.2667vw;
            margin-bottom: 2.8vw;
        }

        .cs-btn--outline {
            border: 1px solid #fff;
            color: #fff;
            margin: 0;
        }
    }

    &__auth-info {
        text-align: center;
        color: #fff;

        .auth-list {
            text-align: center;
            margin-top: 15px;
            margin-bottom: 30px;

            li {
                line-height: 1;
                margin-bottom: 10px;

                a {
                    color: #fff;
                    font-weight: 700;
                }
            }
        }
    }

    .select-wrapper {
        text-align: center;

        select {
            background: transparent;
            color: #fff;
            width: 34.6667vw;
            height: 8.53333vw;
            padding-left: 10.2667vw;
            border-radius: 4.4vw;
            border: 1px solid rgb(77, 77, 77);

            option {
                color: #000;
            }
        }
    }

}
