.container {
    @media (min-width: 768px) {
        max-width: 100%;
    }

    @media (min-width: 1280px) {
        max-width: 1200px;
    }
}

/*----------------------
 Header
 -----------------------*/
.page-header {
    position: absolute;
    padding: 0 20px;
    left: 0;
    top: 0;
    height: 114px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    width: 100%;
    padding: 0 32px;

    &__nav {
        ul {
            height: 100%;
            display: flex;
            align-items: center;

            li {
                margin-right: 10px;

                a {
                    display: block;
                    font-weight: 800;
                    color: #fff;
                    padding: 8px 10px;
                    border-radius: 4px;
                    margin: 0;
                    font-size: 15px;
                    position: relative;
                    padding-bottom: 5px;

                    &:after {
                        content: '';
                        width: 0;
                        height: 2px;
                        background: #fff;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        transition: width .25s ease-in-out;
                    }

                    &:hover:after {
                        width: 100%;
                    }
                }
            }

            .btn-active {
                background: #5c76ff !important;
                color: #fff;
            }
        }

        &--dark {
            ul li a {
                color: #333;
            }
        }
    }

    &__right {
        display: flex;
        align-items: center;
    }

    &__actions {
        height: 45px;
        border: 1px solid #d5d5d6;
        border-radius: 25px;
        padding: 0 7px;
        display: flex;
        align-items: center;

        .icon {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 1px solid #d5d5d6;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 10px;
            font-size: 11px;
            color: #bbbaba;
        }

        .action-link {
            color: #bbbaba;
            font-size: 15px;
            font-weight: 700;
            display: inline-block;
            margin: 0 5px;
            cursor: pointer;
            transition: all .25s ease-in-out;

            &:hover {
                color: #fff;
            }
        }

        &--dark {
            .action-link {
                color: #333;
            }
        }
    }

    &__lang {
        height: 45px;
        border: 1px solid #d5d5d6;
        border-radius: 25px;
        padding: 0 7px;
        display: flex;
        align-items: center;
        margin-left: 15px;

        a {
            color: #bbbaba;
            display: inline-block;
            margin: 0 6px;
            font-size: 15px;
            font-weight: 700;

            &:hover {
                color: #fff;
            }

            &.is-active {
                color: #fff;
            }
        }
    }

    &__auth-info {
        display: flex;
        margin: 0 10px;
        padding-top: 5px;
        align-items: center;

        .auth-email {
            font-size: 1rem;
            color: #fff;
            margin-right: 15px;
        }

        .auth-list {
            display: flex;

            li {
                line-height: 1;
                padding: 0 5px;

                &:not(:last-child) {
                    border-right: 1px solid #fff;
                }
                a {
                    color: #fff;
                }
            }
        }
    }

}

/*----------------------
 HERO content
 ----------------------*/
.hero {
    background: url("../images/index/hero-bg.jpg") no-repeat;
    background-size: cover;
    height: 70vh;
    min-height: 500px;

    &__title {
        span {
            font-weight: 400;
        }
    }

    &__subtitle {
        font-weight: 400;
        font-size: 30px;
    }

    &__text {
        color: #fff;
    }

    &__btn {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: #36f;
        height: 70px;
        font-weight: 700;
        color: #fff;
        border-radius: 50px;
        font-size: 28px;
        margin-top: 30px;
        padding: 0 70px;

        &:hover {
            color: #fff;
        }
    }


    /* various of hero sections */

    &--help {
        background: url("../images/help/help-hero-bg.jpg") no-repeat;
        background-size: cover;
        height: auto;
        min-height: 275px;
        padding: 90px 0 0 0;
        text-align: center;
    }

    &--features {
        background: url("../images/features/features-bg.jpg") no-repeat;
        background-size: cover;
        height: 58vh;
        min-height: 350px;
        padding: 150px 0 0 0;
        text-align: center;

        .hero__title {
            span {
                font-weight: 700;
                color: #36f;
            }
        }
    }
}

/*----------------------
 Main content
 ----------------------*/
main {
    min-height: 500px;
}

.section {
    .section-title {
        color: #000;
        font-size: 42px;
        text-align: center;
    }

    .section-brief {
        max-width: 570px;
        margin: 0 auto 0 auto;
        text-align: center;
        font-weight: 700
    }
}

.section--features {
    padding-top: 5vh;

    .feature {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8vh 0;

        img {
            @extend .img-fluid;
        }

        .text-box {
            max-width: 515px;
            margin: 0 auto;
        }

        &__title {
            color: #000;
            font-size: 42px;
            margin-bottom: 24px;
            line-height: 59px;
        }

        &__text {
            line-height: 24px;
        }
    }
}

.section--testimonials {
    padding: 6vh 0 12vh 0;

    .testimonial-items-wrapper {
        margin-top: 60px;
        position: relative;
    }

    .testimonials-items {
        width: 85%;
        margin: 0 auto;
    }

    .testimonial-item {
        display: flex;
        align-items: center;

        &__img {
            width: 120px;
            height: 120px;
            object-fit: cover;
            border-radius: 50%;
        }

        &__data {
            margin-left: 32px;

            .public-date {
                margin-top: 10px;
                font-size: 12px;
            }

            p {
                margin-top: 10px;
                font-size: 18px;
                line-height: 1.5;
                margin-bottom: 0;
                word-break: break-all;
            }
        }
    }

    .prev {
        cursor: pointer;
        background: #bfbfbf;
        right: 10px;
        width: 40px;
        height: 40px;
        color: #fff;
        top: 50%;
        transform: translate(0, -50%);
        border-radius: 50%;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1000;
        position: absolute;

        &:hover {
            background: #36f;
        }
    }

    .next {
        cursor: pointer;
        background: #bfbfbf;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        left: 10px;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        color: #fff;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1000;
        &:hover {
            background: #36f;
        }
    }
}

.section--prices {
    background: #f7f7f7;
    padding: 6vh 0 12vh 0;

    .helper-text {
        text-align: center;
        margin: 15px 0;
    }

    .prices-items {
        padding-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .price-item {
        display: block;
        @extend .col-md-3;
        background: #fff;
        text-align: center;
        padding-bottom: 70px;
        transition: all .25s ease-in-out;
        position: relative;
        min-height: 338px;
        flex: 1 1 23%;
        border: 4px solid transparent;

        + .price-item {
            margin-left: 26px;
        }

        &:hover {
            box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 30px 2px;
        }

        &.selected {
            box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 30px 2px;
            border: 4px solid #36f;
            transform: scale(1.05);
            z-index: 8000;
        }

        &--hot {
            z-index: 100;
            position: relative;

            .fire-ball {
                background: url("../images/index/fire-ball.png") no-repeat;
                width: 160px;
                height: 134px;
                position: absolute;
                top: -74px;
                right: -90px;
                color: #fff;
                padding: 70px 40px 0 0;
                font-style: italic;
                font-weight: 700;
                font-size: 18px;
                text-transform: uppercase;
            }
        }

        &__time {
            font-size: 18px;
            padding-top: 70px;
            color: rgb(102, 102, 102);
            margin-bottom: 20px;
        }

        &__value {
            display: inline-block;
            color: #36f;
            font-size: 42px;
            font-weight: 700;
            line-height: 1;
            letter-spacing: -0.025em;
            margin-bottom: 10px;
            position: relative;

            span {
                font-size: 16px;
                position: absolute;
                top: 0;
                left: -10px;
            }
        }

        &__duration {
            color: rgb(102, 102, 102);
            font-size: 14px;
            font-style: italic;
            margin-bottom: 35px;
        }

        &__sale {
            display: inline-block;
            color: rgb(255, 102, 102);
            background-color: rgb(255, 239, 239);
            border-radius: 10px;
            padding: 2px 10px;
            font-size: 12px;
            margin-bottom: 10px;
        }

        &__subtext {
            color: grey;
            font-size: 12px;
            position: absolute;
            left: 0px;
            width: 100%;
            bottom: 60px;
        }
    }
}

.section--boxes {
    background: #fff;
    padding: 8vh 0 12vh 0;

    img {
        @extend .img-fluid;
    }

    .boxes-items {
        display: flex;
        justify-content: center;
        padding-top: 30px;
    }

    .box-item {
        @extend .col-md-4;
        display: block;
        margin: 0 10px;
        padding: 28px 26px;
        transition: all .25s ease-in-out;

        &__title {
            color: rgb(51, 51, 51);
            font-size: 20px;
            line-height: 26px;
            margin-bottom: 13px;
            margin-top: 5px;
        }

        &__text {
            font-size: 12px;
            line-height: 16px;
        }

        &__date {
            color: rgb(204, 204, 204);
            font-size: 12px;
        }

        &:hover {
            box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.15);
        }
    }
}

.section--downloads {
    background: #f7f7f7;
    padding: 8vh 0 12vh 0;


    .download-list {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-top: 60px;

        li {
            margin-right: 10%;
            text-align: center;

            &:last-of-type {
                margin-right: 0;
            }

            span {
                color: #666666;
                font-weight: 700;
            }

            .circle {
                background: #fff;
                border-radius: 50%;
                width: 129px;
                height: 129px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 30px;
                transition: box-shadow .25s ease-in-out;
            }

            a:hover .circle {
                box-shadow: 2px 2px 4px -1px rgba(0,0,0,0.2), 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 4px 0 rgba(0,0,0,0.12)
            }
        }
    }
}

.page-content {
    padding-top: 85px;

    &__head {
        text-align: center;

        h1 {
            font-size: 55px;
            color: #000;
        }

        p {
            max-width: 600px;
            margin: 0 auto;
            font-size: 18px;
            line-height: 25px;
        }
    }

    &__inner {
        background: #f7f7f7;
        padding-top: 10vh;
    }

    &--subpage {
        padding-top: 114px;
    }

    &--features {
        padding-top: 0;
    }
}

.subpage-content {
    padding: 120px 0 100px 0;
    min-height: 600px;
}

/*----------------------
 Footer
 ----------------------*/
.page-footer {
    background: #2e3037;
    padding: 118px 0 200px 0;

    a {
        color: #999;
        font-weight: 700;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__col {

        .col-title {
            color: #fff;
            margin-bottom: 20px;
            font-size: 15px;
            text-transform: uppercase;
        }

        .client-platforms {
            display: flex;
            padding-top: 5px;

            li {
                margin-right: 45px;
                text-align: center;

                img {
                    height: 40px;
                }

                a {
                    span {
                        display: block;
                        margin-top: 30px;
                        line-height: 1;
                        font-size: 14px;
                    }
                }
            }
        }

        .footer-menu {
            li {
                margin-bottom: 8px;
                a {
                    font-size: 14px;
                }
            }
        }

        .social-list {
            display: flex;

            li {
                margin-right: 10px;

                a {
                    display: block;
                    background: rgba(0,0,0,0.1);
                    border-radius: 50%;
                    width: 56px;
                    height: 56px;
                    color: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &:hover {
                        color: #36f;
                        background: rgba(0,0,0,0.05);
                    }
                }
            }
        }
    }
}
