// Icons
// -------------------------
.#{$md-css-prefix}-3d-rotation:before {
	content: $md-var-3d-rotation;
}
.#{$md-css-prefix}-airplane-off:before {
	content: $md-var-airplane-off;
}
.#{$md-css-prefix}-airplane:before {
	content: $md-var-airplane;
}
.#{$md-css-prefix}-album:before {
	content: $md-var-album;
}
.#{$md-css-prefix}-archive:before {
	content: $md-var-archive;
}
.#{$md-css-prefix}-assignment-account:before {
	content: $md-var-assignment-account;
}
.#{$md-css-prefix}-assignment-alert:before {
	content: $md-var-assignment-alert;
}
.#{$md-css-prefix}-assignment-check:before {
	content: $md-var-assignment-check;
}
.#{$md-css-prefix}-assignment-o:before {
	content: $md-var-assignment-o;
}
.#{$md-css-prefix}-assignment-return:before {
	content: $md-var-assignment-return;
}
.#{$md-css-prefix}-assignment-returned:before {
	content: $md-var-assignment-returned;
}
.#{$md-css-prefix}-assignment:before {
	content: $md-var-assignment;
}
.#{$md-css-prefix}-attachment-alt:before {
	content: $md-var-attachment-alt;
}
.#{$md-css-prefix}-attachment:before {
	content: $md-var-attachment;
}
.#{$md-css-prefix}-audio:before {
	content: $md-var-audio;
}
.#{$md-css-prefix}-badge-check:before {
	content: $md-var-badge-check;
}
.#{$md-css-prefix}-balance-wallet:before {
	content: $md-var-balance-wallet;
}
.#{$md-css-prefix}-balance:before {
	content: $md-var-balance;
}
.#{$md-css-prefix}-battery-alert:before {
	content: $md-var-battery-alert;
}
.#{$md-css-prefix}-battery-flash:before {
	content: $md-var-battery-flash;
}
.#{$md-css-prefix}-battery-unknown:before {
	content: $md-var-battery-unknown;
}
.#{$md-css-prefix}-battery:before {
	content: $md-var-battery;
}
.#{$md-css-prefix}-bike:before {
	content: $md-var-bike;
}
.#{$md-css-prefix}-block-alt:before {
	content: $md-var-block-alt;
}
.#{$md-css-prefix}-block:before {
	content: $md-var-block;
}
.#{$md-css-prefix}-boat:before {
	content: $md-var-boat;
}
.#{$md-css-prefix}-book-image:before {
	content: $md-var-book-image;
}
.#{$md-css-prefix}-book:before {
	content: $md-var-book;
}
.#{$md-css-prefix}-bookmark-outline:before {
	content: $md-var-bookmark-outline;
}
.#{$md-css-prefix}-bookmark:before {
	content: $md-var-bookmark;
}
.#{$md-css-prefix}-brush:before {
	content: $md-var-brush;
}
.#{$md-css-prefix}-bug:before {
	content: $md-var-bug;
}
.#{$md-css-prefix}-bus:before {
	content: $md-var-bus;
}
.#{$md-css-prefix}-cake:before {
	content: $md-var-cake;
}
.#{$md-css-prefix}-car-taxi:before {
	content: $md-var-car-taxi;
}
.#{$md-css-prefix}-car-wash:before {
	content: $md-var-car-wash;
}
.#{$md-css-prefix}-car:before {
	content: $md-var-car;
}
.#{$md-css-prefix}-card-giftcard:before {
	content: $md-var-card-giftcard;
}
.#{$md-css-prefix}-card-membership:before {
	content: $md-var-card-membership;
}
.#{$md-css-prefix}-card-travel:before {
	content: $md-var-card-travel;
}
.#{$md-css-prefix}-card:before {
	content: $md-var-card;
}
.#{$md-css-prefix}-case-check:before {
	content: $md-var-case-check;
}
.#{$md-css-prefix}-case-download:before {
	content: $md-var-case-download;
}
.#{$md-css-prefix}-case-play:before {
	content: $md-var-case-play;
}
.#{$md-css-prefix}-case:before {
	content: $md-var-case;
}
.#{$md-css-prefix}-cast-connected:before {
	content: $md-var-cast-connected;
}
.#{$md-css-prefix}-cast:before {
	content: $md-var-cast;
}
.#{$md-css-prefix}-chart-donut:before {
	content: $md-var-chart-donut;
}
.#{$md-css-prefix}-chart:before {
	content: $md-var-chart;
}
.#{$md-css-prefix}-city-alt:before {
	content: $md-var-city-alt;
}
.#{$md-css-prefix}-city:before {
	content: $md-var-city;
}
.#{$md-css-prefix}-close-circle-o:before {
	content: $md-var-close-circle-o;
}
.#{$md-css-prefix}-close-circle:before {
	content: $md-var-close-circle;
}
.#{$md-css-prefix}-close:before {
	content: $md-var-close;
}
.#{$md-css-prefix}-cocktail:before {
	content: $md-var-cocktail;
}
.#{$md-css-prefix}-code-setting:before {
	content: $md-var-code-setting;
}
.#{$md-css-prefix}-code-smartphone:before {
	content: $md-var-code-smartphone;
}
.#{$md-css-prefix}-code:before {
	content: $md-var-code;
}
.#{$md-css-prefix}-coffee:before {
	content: $md-var-coffee;
}
.#{$md-css-prefix}-collection-bookmark:before {
	content: $md-var-collection-bookmark;
}
.#{$md-css-prefix}-collection-case-play:before {
	content: $md-var-collection-case-play;
}
.#{$md-css-prefix}-collection-folder-image:before {
	content: $md-var-collection-folder-image;
}
.#{$md-css-prefix}-collection-image-o:before {
	content: $md-var-collection-image-o;
}
.#{$md-css-prefix}-collection-image:before {
	content: $md-var-collection-image;
}
.#{$md-css-prefix}-collection-item-1:before {
	content: $md-var-collection-item-1;
}
.#{$md-css-prefix}-collection-item-2:before {
	content: $md-var-collection-item-2;
}
.#{$md-css-prefix}-collection-item-3:before {
	content: $md-var-collection-item-3;
}
.#{$md-css-prefix}-collection-item-4:before {
	content: $md-var-collection-item-4;
}
.#{$md-css-prefix}-collection-item-5:before {
	content: $md-var-collection-item-5;
}
.#{$md-css-prefix}-collection-item-6:before {
	content: $md-var-collection-item-6;
}
.#{$md-css-prefix}-collection-item-7:before {
	content: $md-var-collection-item-7;
}
.#{$md-css-prefix}-collection-item-8:before {
	content: $md-var-collection-item-8;
}
.#{$md-css-prefix}-collection-item-9-plus:before {
	content: $md-var-collection-item-9-plus;
}
.#{$md-css-prefix}-collection-item-9:before {
	content: $md-var-collection-item-9;
}
.#{$md-css-prefix}-collection-item:before {
	content: $md-var-collection-item;
}
.#{$md-css-prefix}-collection-music:before {
	content: $md-var-collection-music;
}
.#{$md-css-prefix}-collection-pdf:before {
	content: $md-var-collection-pdf;
}
.#{$md-css-prefix}-collection-plus:before {
	content: $md-var-collection-plus;
}
.#{$md-css-prefix}-collection-speaker:before {
	content: $md-var-collection-speaker;
}
.#{$md-css-prefix}-collection-text:before {
	content: $md-var-collection-text;
}
.#{$md-css-prefix}-collection-video:before {
	content: $md-var-collection-video;
}
.#{$md-css-prefix}-compass:before {
	content: $md-var-compass;
}
.#{$md-css-prefix}-cutlery:before {
	content: $md-var-cutlery;
}
.#{$md-css-prefix}-delete:before {
	content: $md-var-delete;
}
.#{$md-css-prefix}-dialpad:before {
	content: $md-var-dialpad;
}
.#{$md-css-prefix}-dns:before {
	content: $md-var-dns;
}
.#{$md-css-prefix}-drink:before {
	content: $md-var-drink;
}
.#{$md-css-prefix}-edit:before {
	content: $md-var-edit;
}
.#{$md-css-prefix}-email-open:before {
	content: $md-var-email-open;
}
.#{$md-css-prefix}-email:before {
	content: $md-var-email;
}
.#{$md-css-prefix}-eye-off:before {
	content: $md-var-eye-off;
}
.#{$md-css-prefix}-eye:before {
	content: $md-var-eye;
}
.#{$md-css-prefix}-eyedropper:before {
	content: $md-var-eyedropper;
}
.#{$md-css-prefix}-favorite-outline:before {
	content: $md-var-favorite-outline;
}
.#{$md-css-prefix}-favorite:before {
	content: $md-var-favorite;
}
.#{$md-css-prefix}-filter-list:before {
	content: $md-var-filter-list;
}
.#{$md-css-prefix}-fire:before {
	content: $md-var-fire;
}
.#{$md-css-prefix}-flag:before {
	content: $md-var-flag;
}
.#{$md-css-prefix}-flare:before {
	content: $md-var-flare;
}
.#{$md-css-prefix}-flash-auto:before {
	content: $md-var-flash-auto;
}
.#{$md-css-prefix}-flash-off:before {
	content: $md-var-flash-off;
}
.#{$md-css-prefix}-flash:before {
	content: $md-var-flash;
}
.#{$md-css-prefix}-flip:before {
	content: $md-var-flip;
}
.#{$md-css-prefix}-flower-alt:before {
	content: $md-var-flower-alt;
}
.#{$md-css-prefix}-flower:before {
	content: $md-var-flower;
}
.#{$md-css-prefix}-font:before {
	content: $md-var-font;
}
.#{$md-css-prefix}-fullscreen-alt:before {
	content: $md-var-fullscreen-alt;
}
.#{$md-css-prefix}-fullscreen-exit:before {
	content: $md-var-fullscreen-exit;
}
.#{$md-css-prefix}-fullscreen:before {
	content: $md-var-fullscreen;
}
.#{$md-css-prefix}-functions:before {
	content: $md-var-functions;
}
.#{$md-css-prefix}-gas-station:before {
	content: $md-var-gas-station;
}
.#{$md-css-prefix}-gesture:before {
	content: $md-var-gesture;
}
.#{$md-css-prefix}-globe-alt:before {
	content: $md-var-globe-alt;
}
.#{$md-css-prefix}-globe-lock:before {
	content: $md-var-globe-lock;
}
.#{$md-css-prefix}-globe:before {
	content: $md-var-globe;
}
.#{$md-css-prefix}-graduation-cap:before {
	content: $md-var-graduation-cap;
}
.#{$md-css-prefix}-group:before {
	content: $md-var-group;
}
.#{$md-css-prefix}-home:before {
	content: $md-var-home;
}
.#{$md-css-prefix}-hospital-alt:before {
	content: $md-var-hospital-alt;
}
.#{$md-css-prefix}-hospital:before {
	content: $md-var-hospital;
}
.#{$md-css-prefix}-hotel:before {
	content: $md-var-hotel;
}
.#{$md-css-prefix}-hourglass-alt:before {
	content: $md-var-hourglass-alt;
}
.#{$md-css-prefix}-hourglass-outline:before {
	content: $md-var-hourglass-outline;
}
.#{$md-css-prefix}-hourglass:before {
	content: $md-var-hourglass;
}
.#{$md-css-prefix}-http:before {
	content: $md-var-http;
}
.#{$md-css-prefix}-image-alt:before {
	content: $md-var-image-alt;
}
.#{$md-css-prefix}-image-o:before {
	content: $md-var-image-o;
}
.#{$md-css-prefix}-image:before {
	content: $md-var-image;
}
.#{$md-css-prefix}-inbox:before {
	content: $md-var-inbox;
}
.#{$md-css-prefix}-invert-colors-off:before {
	content: $md-var-invert-colors-off;
}
.#{$md-css-prefix}-invert-colors:before {
	content: $md-var-invert-colors;
}
.#{$md-css-prefix}-key:before {
	content: $md-var-key;
}
.#{$md-css-prefix}-label-alt-outline:before {
	content: $md-var-label-alt-outline;
}
.#{$md-css-prefix}-label-alt:before {
	content: $md-var-label-alt;
}
.#{$md-css-prefix}-label-heart:before {
	content: $md-var-label-heart;
}
.#{$md-css-prefix}-label:before {
	content: $md-var-label;
}
.#{$md-css-prefix}-labels:before {
	content: $md-var-labels;
}
.#{$md-css-prefix}-lamp:before {
	content: $md-var-lamp;
}
.#{$md-css-prefix}-landscape:before {
	content: $md-var-landscape;
}
.#{$md-css-prefix}-layers-off:before {
	content: $md-var-layers-off;
}
.#{$md-css-prefix}-layers:before {
	content: $md-var-layers;
}
.#{$md-css-prefix}-library:before {
	content: $md-var-library;
}
.#{$md-css-prefix}-link:before {
	content: $md-var-link;
}
.#{$md-css-prefix}-lock-open:before {
	content: $md-var-lock-open;
}
.#{$md-css-prefix}-lock-outline:before {
	content: $md-var-lock-outline;
}
.#{$md-css-prefix}-lock:before {
	content: $md-var-lock;
}
.#{$md-css-prefix}-mail-reply-all:before {
	content: $md-var-mail-reply-all;
}
.#{$md-css-prefix}-mail-reply:before {
	content: $md-var-mail-reply;
}
.#{$md-css-prefix}-mail-send:before {
	content: $md-var-mail-send;
}
.#{$md-css-prefix}-mall:before {
	content: $md-var-mall;
}
.#{$md-css-prefix}-map:before {
	content: $md-var-map;
}
.#{$md-css-prefix}-menu:before {
	content: $md-var-menu;
}
.#{$md-css-prefix}-money-box:before {
	content: $md-var-money-box;
}
.#{$md-css-prefix}-money-off:before {
	content: $md-var-money-off;
}
.#{$md-css-prefix}-money:before {
	content: $md-var-money;
}
.#{$md-css-prefix}-more-vert:before {
	content: $md-var-more-vert;
}
.#{$md-css-prefix}-more:before {
	content: $md-var-more;
}
.#{$md-css-prefix}-movie-alt:before {
	content: $md-var-movie-alt;
}
.#{$md-css-prefix}-movie:before {
	content: $md-var-movie;
}
.#{$md-css-prefix}-nature-people:before {
	content: $md-var-nature-people;
}
.#{$md-css-prefix}-nature:before {
	content: $md-var-nature;
}
.#{$md-css-prefix}-navigation:before {
	content: $md-var-navigation;
}
.#{$md-css-prefix}-open-in-browser:before {
	content: $md-var-open-in-browser;
}
.#{$md-css-prefix}-open-in-new:before {
	content: $md-var-open-in-new;
}
.#{$md-css-prefix}-palette:before {
	content: $md-var-palette;
}
.#{$md-css-prefix}-parking:before {
	content: $md-var-parking;
}
.#{$md-css-prefix}-pin-account:before {
	content: $md-var-pin-account;
}
.#{$md-css-prefix}-pin-assistant:before {
	content: $md-var-pin-assistant;
}
.#{$md-css-prefix}-pin-drop:before {
	content: $md-var-pin-drop;
}
.#{$md-css-prefix}-pin-help:before {
	content: $md-var-pin-help;
}
.#{$md-css-prefix}-pin-off:before {
	content: $md-var-pin-off;
}
.#{$md-css-prefix}-pin:before {
	content: $md-var-pin;
}
.#{$md-css-prefix}-pizza:before {
	content: $md-var-pizza;
}
.#{$md-css-prefix}-plaster:before {
	content: $md-var-plaster;
}
.#{$md-css-prefix}-power-setting:before {
	content: $md-var-power-setting;
}
.#{$md-css-prefix}-power:before {
	content: $md-var-power;
}
.#{$md-css-prefix}-print:before {
	content: $md-var-print;
}
.#{$md-css-prefix}-puzzle-piece:before {
	content: $md-var-puzzle-piece;
}
.#{$md-css-prefix}-quote:before {
	content: $md-var-quote;
}
.#{$md-css-prefix}-railway:before {
	content: $md-var-railway;
}
.#{$md-css-prefix}-receipt:before {
	content: $md-var-receipt;
}
.#{$md-css-prefix}-refresh-alt:before {
	content: $md-var-refresh-alt;
}
.#{$md-css-prefix}-refresh-sync-alert:before {
	content: $md-var-refresh-sync-alert;
}
.#{$md-css-prefix}-refresh-sync-off:before {
	content: $md-var-refresh-sync-off;
}
.#{$md-css-prefix}-refresh-sync:before {
	content: $md-var-refresh-sync;
}
.#{$md-css-prefix}-refresh:before {
	content: $md-var-refresh;
}
.#{$md-css-prefix}-roller:before {
	content: $md-var-roller;
}
.#{$md-css-prefix}-ruler:before {
	content: $md-var-ruler;
}
.#{$md-css-prefix}-scissors:before {
	content: $md-var-scissors;
}
.#{$md-css-prefix}-screen-rotation-lock:before {
	content: $md-var-screen-rotation-lock;
}
.#{$md-css-prefix}-screen-rotation:before {
	content: $md-var-screen-rotation;
}
.#{$md-css-prefix}-search-for:before {
	content: $md-var-search-for;
}
.#{$md-css-prefix}-search-in-file:before {
	content: $md-var-search-in-file;
}
.#{$md-css-prefix}-search-in-page:before {
	content: $md-var-search-in-page;
}
.#{$md-css-prefix}-search-replace:before {
	content: $md-var-search-replace;
}
.#{$md-css-prefix}-search:before {
	content: $md-var-search;
}
.#{$md-css-prefix}-seat:before {
	content: $md-var-seat;
}
.#{$md-css-prefix}-settings-square:before {
	content: $md-var-settings-square;
}
.#{$md-css-prefix}-settings:before {
	content: $md-var-settings;
}
.#{$md-css-prefix}-shape:before {
	content: $md-var-shape;
}
.#{$md-css-prefix}-shield-check:before {
	content: $md-var-shield-check;
}
.#{$md-css-prefix}-shield-security:before {
	content: $md-var-shield-security;
}
.#{$md-css-prefix}-shopping-basket:before {
	content: $md-var-shopping-basket;
}
.#{$md-css-prefix}-shopping-cart-plus:before {
	content: $md-var-shopping-cart-plus;
}
.#{$md-css-prefix}-shopping-cart:before {
	content: $md-var-shopping-cart;
}
.#{$md-css-prefix}-sign-in:before {
	content: $md-var-sign-in;
}
.#{$md-css-prefix}-sort-amount-asc:before {
	content: $md-var-sort-amount-asc;
}
.#{$md-css-prefix}-sort-amount-desc:before {
	content: $md-var-sort-amount-desc;
}
.#{$md-css-prefix}-sort-asc:before {
	content: $md-var-sort-asc;
}
.#{$md-css-prefix}-sort-desc:before {
	content: $md-var-sort-desc;
}
.#{$md-css-prefix}-spellcheck:before {
	content: $md-var-spellcheck;
}
.#{$md-css-prefix}-spinner:before {
	content: $md-var-spinner;
}
.#{$md-css-prefix}-storage:before {
	content: $md-var-storage;
}
.#{$md-css-prefix}-store-24:before {
	content: $md-var-store-24;
}
.#{$md-css-prefix}-store:before {
	content: $md-var-store;
}
.#{$md-css-prefix}-subway:before {
	content: $md-var-subway;
}
.#{$md-css-prefix}-sun:before {
	content: $md-var-sun;
}
.#{$md-css-prefix}-tab-unselected:before {
	content: $md-var-tab-unselected;
}
.#{$md-css-prefix}-tab:before {
	content: $md-var-tab;
}
.#{$md-css-prefix}-tag-close:before {
	content: $md-var-tag-close;
}
.#{$md-css-prefix}-tag-more:before {
	content: $md-var-tag-more;
}
.#{$md-css-prefix}-tag:before {
	content: $md-var-tag;
}
.#{$md-css-prefix}-thumb-down:before {
	content: $md-var-thumb-down;
}
.#{$md-css-prefix}-thumb-up-down:before {
	content: $md-var-thumb-up-down;
}
.#{$md-css-prefix}-thumb-up:before {
	content: $md-var-thumb-up;
}
.#{$md-css-prefix}-ticket-star:before {
	content: $md-var-ticket-star;
}
.#{$md-css-prefix}-toll:before {
	content: $md-var-toll;
}
.#{$md-css-prefix}-toys:before {
	content: $md-var-toys;
}
.#{$md-css-prefix}-traffic:before {
	content: $md-var-traffic;
}
.#{$md-css-prefix}-translate:before {
	content: $md-var-translate;
}
.#{$md-css-prefix}-triangle-down:before {
	content: $md-var-triangle-down;
}
.#{$md-css-prefix}-triangle-up:before {
	content: $md-var-triangle-up;
}
.#{$md-css-prefix}-truck:before {
	content: $md-var-truck;
}
.#{$md-css-prefix}-turning-sign:before {
	content: $md-var-turning-sign;
}
.#{$md-css-prefix}-ungroup:before {
	content: $md-var-ungroup;
}
.#{$md-css-prefix}-wallpaper:before {
	content: $md-var-wallpaper;
}
.#{$md-css-prefix}-washing-machine:before {
	content: $md-var-washing-machine;
}
.#{$md-css-prefix}-window-maximize:before {
	content: $md-var-window-maximize;
}
.#{$md-css-prefix}-window-minimize:before {
	content: $md-var-window-minimize;
}
.#{$md-css-prefix}-window-restore:before {
	content: $md-var-window-restore;
}
.#{$md-css-prefix}-wrench:before {
	content: $md-var-wrench;
}
.#{$md-css-prefix}-zoom-in:before {
	content: $md-var-zoom-in;
}
.#{$md-css-prefix}-zoom-out:before {
	content: $md-var-zoom-out;
}
.#{$md-css-prefix}-alert-circle-o:before {
	content: $md-var-alert-circle-o;
}
.#{$md-css-prefix}-alert-circle:before {
	content: $md-var-alert-circle;
}
.#{$md-css-prefix}-alert-octagon:before {
	content: $md-var-alert-octagon;
}
.#{$md-css-prefix}-alert-polygon:before {
	content: $md-var-alert-polygon;
}
.#{$md-css-prefix}-alert-triangle:before {
	content: $md-var-alert-triangle;
}
.#{$md-css-prefix}-help-outline:before {
	content: $md-var-help-outline;
}
.#{$md-css-prefix}-help:before {
	content: $md-var-help;
}
.#{$md-css-prefix}-info-outline:before {
	content: $md-var-info-outline;
}
.#{$md-css-prefix}-info:before {
	content: $md-var-info;
}
.#{$md-css-prefix}-notifications-active:before {
	content: $md-var-notifications-active;
}
.#{$md-css-prefix}-notifications-add:before {
	content: $md-var-notifications-add;
}
.#{$md-css-prefix}-notifications-none:before {
	content: $md-var-notifications-none;
}
.#{$md-css-prefix}-notifications-off:before {
	content: $md-var-notifications-off;
}
.#{$md-css-prefix}-notifications-paused:before {
	content: $md-var-notifications-paused;
}
.#{$md-css-prefix}-notifications:before {
	content: $md-var-notifications;
}
.#{$md-css-prefix}-account-add:before {
	content: $md-var-account-add;
}
.#{$md-css-prefix}-account-box-mail:before {
	content: $md-var-account-box-mail;
}
.#{$md-css-prefix}-account-box-o:before {
	content: $md-var-account-box-o;
}
.#{$md-css-prefix}-account-box-phone:before {
	content: $md-var-account-box-phone;
}
.#{$md-css-prefix}-account-box:before {
	content: $md-var-account-box;
}
.#{$md-css-prefix}-account-calendar:before {
	content: $md-var-account-calendar;
}
.#{$md-css-prefix}-account-circle:before {
	content: $md-var-account-circle;
}
.#{$md-css-prefix}-account-o:before {
	content: $md-var-account-o;
}
.#{$md-css-prefix}-account:before {
	content: $md-var-account;
}
.#{$md-css-prefix}-accounts-add:before {
	content: $md-var-accounts-add;
}
.#{$md-css-prefix}-accounts-alt:before {
	content: $md-var-accounts-alt;
}
.#{$md-css-prefix}-accounts-list-alt:before {
	content: $md-var-accounts-list-alt;
}
.#{$md-css-prefix}-accounts-list:before {
	content: $md-var-accounts-list;
}
.#{$md-css-prefix}-accounts-outline:before {
	content: $md-var-accounts-outline;
}
.#{$md-css-prefix}-accounts:before {
	content: $md-var-accounts;
}
.#{$md-css-prefix}-face:before {
	content: $md-var-face;
}
.#{$md-css-prefix}-female:before {
	content: $md-var-female;
}
.#{$md-css-prefix}-male-alt:before {
	content: $md-var-male-alt;
}
.#{$md-css-prefix}-male-female:before {
	content: $md-var-male-female;
}
.#{$md-css-prefix}-male:before {
	content: $md-var-male;
}
.#{$md-css-prefix}-mood-bad:before {
	content: $md-var-mood-bad;
}
.#{$md-css-prefix}-mood:before {
	content: $md-var-mood;
}
.#{$md-css-prefix}-run:before {
	content: $md-var-run;
}
.#{$md-css-prefix}-walk:before {
	content: $md-var-walk;
}
.#{$md-css-prefix}-cloud-box:before {
	content: $md-var-cloud-box;
}
.#{$md-css-prefix}-cloud-circle:before {
	content: $md-var-cloud-circle;
}
.#{$md-css-prefix}-cloud-done:before {
	content: $md-var-cloud-done;
}
.#{$md-css-prefix}-cloud-download:before {
	content: $md-var-cloud-download;
}
.#{$md-css-prefix}-cloud-off:before {
	content: $md-var-cloud-off;
}
.#{$md-css-prefix}-cloud-outline-alt:before {
	content: $md-var-cloud-outline-alt;
}
.#{$md-css-prefix}-cloud-outline:before {
	content: $md-var-cloud-outline;
}
.#{$md-css-prefix}-cloud-upload:before {
	content: $md-var-cloud-upload;
}
.#{$md-css-prefix}-cloud:before {
	content: $md-var-cloud;
}
.#{$md-css-prefix}-download:before {
	content: $md-var-download;
}
.#{$md-css-prefix}-file-plus:before {
	content: $md-var-file-plus;
}
.#{$md-css-prefix}-file-text:before {
	content: $md-var-file-text;
}
.#{$md-css-prefix}-file:before {
	content: $md-var-file;
}
.#{$md-css-prefix}-folder-outline:before {
	content: $md-var-folder-outline;
}
.#{$md-css-prefix}-folder-person:before {
	content: $md-var-folder-person;
}
.#{$md-css-prefix}-folder-star-alt:before {
	content: $md-var-folder-star-alt;
}
.#{$md-css-prefix}-folder-star:before {
	content: $md-var-folder-star;
}
.#{$md-css-prefix}-folder:before {
	content: $md-var-folder;
}
.#{$md-css-prefix}-gif:before {
	content: $md-var-gif;
}
.#{$md-css-prefix}-upload:before {
	content: $md-var-upload;
}
.#{$md-css-prefix}-border-all:before {
	content: $md-var-border-all;
}
.#{$md-css-prefix}-border-bottom:before {
	content: $md-var-border-bottom;
}
.#{$md-css-prefix}-border-clear:before {
	content: $md-var-border-clear;
}
.#{$md-css-prefix}-border-color:before {
	content: $md-var-border-color;
}
.#{$md-css-prefix}-border-horizontal:before {
	content: $md-var-border-horizontal;
}
.#{$md-css-prefix}-border-inner:before {
	content: $md-var-border-inner;
}
.#{$md-css-prefix}-border-left:before {
	content: $md-var-border-left;
}
.#{$md-css-prefix}-border-outer:before {
	content: $md-var-border-outer;
}
.#{$md-css-prefix}-border-right:before {
	content: $md-var-border-right;
}
.#{$md-css-prefix}-border-style:before {
	content: $md-var-border-style;
}
.#{$md-css-prefix}-border-top:before {
	content: $md-var-border-top;
}
.#{$md-css-prefix}-border-vertical:before {
	content: $md-var-border-vertical;
}
.#{$md-css-prefix}-copy:before {
	content: $md-var-copy;
}
.#{$md-css-prefix}-crop:before {
	content: $md-var-crop;
}
.#{$md-css-prefix}-format-align-center:before {
	content: $md-var-format-align-center;
}
.#{$md-css-prefix}-format-align-justify:before {
	content: $md-var-format-align-justify;
}
.#{$md-css-prefix}-format-align-left:before {
	content: $md-var-format-align-left;
}
.#{$md-css-prefix}-format-align-right:before {
	content: $md-var-format-align-right;
}
.#{$md-css-prefix}-format-bold:before {
	content: $md-var-format-bold;
}
.#{$md-css-prefix}-format-clear-all:before {
	content: $md-var-format-clear-all;
}
.#{$md-css-prefix}-format-clear:before {
	content: $md-var-format-clear;
}
.#{$md-css-prefix}-format-color-fill:before {
	content: $md-var-format-color-fill;
}
.#{$md-css-prefix}-format-color-reset:before {
	content: $md-var-format-color-reset;
}
.#{$md-css-prefix}-format-color-text:before {
	content: $md-var-format-color-text;
}
.#{$md-css-prefix}-format-indent-decrease:before {
	content: $md-var-format-indent-decrease;
}
.#{$md-css-prefix}-format-indent-increase:before {
	content: $md-var-format-indent-increase;
}
.#{$md-css-prefix}-format-italic:before {
	content: $md-var-format-italic;
}
.#{$md-css-prefix}-format-line-spacing:before {
	content: $md-var-format-line-spacing;
}
.#{$md-css-prefix}-format-list-bulleted:before {
	content: $md-var-format-list-bulleted;
}
.#{$md-css-prefix}-format-list-numbered:before {
	content: $md-var-format-list-numbered;
}
.#{$md-css-prefix}-format-ltr:before {
	content: $md-var-format-ltr;
}
.#{$md-css-prefix}-format-rtl:before {
	content: $md-var-format-rtl;
}
.#{$md-css-prefix}-format-size:before {
	content: $md-var-format-size;
}
.#{$md-css-prefix}-format-strikethrough-s:before {
	content: $md-var-format-strikethrough-s;
}
.#{$md-css-prefix}-format-strikethrough:before {
	content: $md-var-format-strikethrough;
}
.#{$md-css-prefix}-format-subject:before {
	content: $md-var-format-subject;
}
.#{$md-css-prefix}-format-underlined:before {
	content: $md-var-format-underlined;
}
.#{$md-css-prefix}-format-valign-bottom:before {
	content: $md-var-format-valign-bottom;
}
.#{$md-css-prefix}-format-valign-center:before {
	content: $md-var-format-valign-center;
}
.#{$md-css-prefix}-format-valign-top:before {
	content: $md-var-format-valign-top;
}
.#{$md-css-prefix}-redo:before {
	content: $md-var-redo;
}
.#{$md-css-prefix}-select-all:before {
	content: $md-var-select-all;
}
.#{$md-css-prefix}-space-bar:before {
	content: $md-var-space-bar;
}
.#{$md-css-prefix}-text-format:before {
	content: $md-var-text-format;
}
.#{$md-css-prefix}-transform:before {
	content: $md-var-transform;
}
.#{$md-css-prefix}-undo:before {
	content: $md-var-undo;
}
.#{$md-css-prefix}-wrap-text:before {
	content: $md-var-wrap-text;
}
.#{$md-css-prefix}-comment-alert:before {
	content: $md-var-comment-alert;
}
.#{$md-css-prefix}-comment-alt-text:before {
	content: $md-var-comment-alt-text;
}
.#{$md-css-prefix}-comment-alt:before {
	content: $md-var-comment-alt;
}
.#{$md-css-prefix}-comment-edit:before {
	content: $md-var-comment-edit;
}
.#{$md-css-prefix}-comment-image:before {
	content: $md-var-comment-image;
}
.#{$md-css-prefix}-comment-list:before {
	content: $md-var-comment-list;
}
.#{$md-css-prefix}-comment-more:before {
	content: $md-var-comment-more;
}
.#{$md-css-prefix}-comment-outline:before {
	content: $md-var-comment-outline;
}
.#{$md-css-prefix}-comment-text-alt:before {
	content: $md-var-comment-text-alt;
}
.#{$md-css-prefix}-comment-text:before {
	content: $md-var-comment-text;
}
.#{$md-css-prefix}-comment-video:before {
	content: $md-var-comment-video;
}
.#{$md-css-prefix}-comment:before {
	content: $md-var-comment;
}
.#{$md-css-prefix}-comments:before {
	content: $md-var-comments;
}
.#{$md-css-prefix}-check-all:before {
	content: $md-var-check-all;
}
.#{$md-css-prefix}-check-circle-u:before {
	content: $md-var-check-circle-u;
}
.#{$md-css-prefix}-check-circle:before {
	content: $md-var-check-circle;
}
.#{$md-css-prefix}-check-square:before {
	content: $md-var-check-square;
}
.#{$md-css-prefix}-check:before {
	content: $md-var-check;
}
.#{$md-css-prefix}-circle-o:before {
	content: $md-var-circle-o;
}
.#{$md-css-prefix}-circle:before {
	content: $md-var-circle;
}
.#{$md-css-prefix}-dot-circle-alt:before {
	content: $md-var-dot-circle-alt;
}
.#{$md-css-prefix}-dot-circle:before {
	content: $md-var-dot-circle;
}
.#{$md-css-prefix}-minus-circle-outline:before {
	content: $md-var-minus-circle-outline;
}
.#{$md-css-prefix}-minus-circle:before {
	content: $md-var-minus-circle;
}
.#{$md-css-prefix}-minus-square:before {
	content: $md-var-minus-square;
}
.#{$md-css-prefix}-minus:before {
	content: $md-var-minus;
}
.#{$md-css-prefix}-plus-circle-o-duplicate:before {
	content: $md-var-plus-circle-o-duplicate;
}
.#{$md-css-prefix}-plus-circle-o:before {
	content: $md-var-plus-circle-o;
}
.#{$md-css-prefix}-plus-circle:before {
	content: $md-var-plus-circle;
}
.#{$md-css-prefix}-plus-square:before {
	content: $md-var-plus-square;
}
.#{$md-css-prefix}-plus:before {
	content: $md-var-plus;
}
.#{$md-css-prefix}-square-o:before {
	content: $md-var-square-o;
}
.#{$md-css-prefix}-star-circle:before {
	content: $md-var-star-circle;
}
.#{$md-css-prefix}-star-half:before {
	content: $md-var-star-half;
}
.#{$md-css-prefix}-star-outline:before {
	content: $md-var-star-outline;
}
.#{$md-css-prefix}-star:before {
	content: $md-var-star;
}
.#{$md-css-prefix}-bluetooth-connected:before {
	content: $md-var-bluetooth-connected;
}
.#{$md-css-prefix}-bluetooth-off:before {
	content: $md-var-bluetooth-off;
}
.#{$md-css-prefix}-bluetooth-search:before {
	content: $md-var-bluetooth-search;
}
.#{$md-css-prefix}-bluetooth-setting:before {
	content: $md-var-bluetooth-setting;
}
.#{$md-css-prefix}-bluetooth:before {
	content: $md-var-bluetooth;
}
.#{$md-css-prefix}-camera-add:before {
	content: $md-var-camera-add;
}
.#{$md-css-prefix}-camera-alt:before {
	content: $md-var-camera-alt;
}
.#{$md-css-prefix}-camera-bw:before {
	content: $md-var-camera-bw;
}
.#{$md-css-prefix}-camera-front:before {
	content: $md-var-camera-front;
}
.#{$md-css-prefix}-camera-mic:before {
	content: $md-var-camera-mic;
}
.#{$md-css-prefix}-camera-party-mode:before {
	content: $md-var-camera-party-mode;
}
.#{$md-css-prefix}-camera-rear:before {
	content: $md-var-camera-rear;
}
.#{$md-css-prefix}-camera-roll:before {
	content: $md-var-camera-roll;
}
.#{$md-css-prefix}-camera-switch:before {
	content: $md-var-camera-switch;
}
.#{$md-css-prefix}-camera:before {
	content: $md-var-camera;
}
.#{$md-css-prefix}-card-alert:before {
	content: $md-var-card-alert;
}
.#{$md-css-prefix}-card-off:before {
	content: $md-var-card-off;
}
.#{$md-css-prefix}-card-sd:before {
	content: $md-var-card-sd;
}
.#{$md-css-prefix}-card-sim:before {
	content: $md-var-card-sim;
}
.#{$md-css-prefix}-desktop-mac:before {
	content: $md-var-desktop-mac;
}
.#{$md-css-prefix}-desktop-windows:before {
	content: $md-var-desktop-windows;
}
.#{$md-css-prefix}-device-hub:before {
	content: $md-var-device-hub;
}
.#{$md-css-prefix}-devices-off:before {
	content: $md-var-devices-off;
}
.#{$md-css-prefix}-devices:before {
	content: $md-var-devices;
}
.#{$md-css-prefix}-dock:before {
	content: $md-var-dock;
}
.#{$md-css-prefix}-floppy:before {
	content: $md-var-floppy;
}
.#{$md-css-prefix}-gamepad:before {
	content: $md-var-gamepad;
}
.#{$md-css-prefix}-gps-dot:before {
	content: $md-var-gps-dot;
}
.#{$md-css-prefix}-gps-off:before {
	content: $md-var-gps-off;
}
.#{$md-css-prefix}-gps:before {
	content: $md-var-gps;
}
.#{$md-css-prefix}-headset-mic:before {
	content: $md-var-headset-mic;
}
.#{$md-css-prefix}-headset:before {
	content: $md-var-headset;
}
.#{$md-css-prefix}-input-antenna:before {
	content: $md-var-input-antenna;
}
.#{$md-css-prefix}-input-composite:before {
	content: $md-var-input-composite;
}
.#{$md-css-prefix}-input-hdmi:before {
	content: $md-var-input-hdmi;
}
.#{$md-css-prefix}-input-power:before {
	content: $md-var-input-power;
}
.#{$md-css-prefix}-input-svideo:before {
	content: $md-var-input-svideo;
}
.#{$md-css-prefix}-keyboard-hide:before {
	content: $md-var-keyboard-hide;
}
.#{$md-css-prefix}-keyboard:before {
	content: $md-var-keyboard;
}
.#{$md-css-prefix}-laptop-chromebook:before {
	content: $md-var-laptop-chromebook;
}
.#{$md-css-prefix}-laptop-mac:before {
	content: $md-var-laptop-mac;
}
.#{$md-css-prefix}-laptop:before {
	content: $md-var-laptop;
}
.#{$md-css-prefix}-mic-off:before {
	content: $md-var-mic-off;
}
.#{$md-css-prefix}-mic-outline:before {
	content: $md-var-mic-outline;
}
.#{$md-css-prefix}-mic-setting:before {
	content: $md-var-mic-setting;
}
.#{$md-css-prefix}-mic:before {
	content: $md-var-mic;
}
.#{$md-css-prefix}-mouse:before {
	content: $md-var-mouse;
}
.#{$md-css-prefix}-network-alert:before {
	content: $md-var-network-alert;
}
.#{$md-css-prefix}-network-locked:before {
	content: $md-var-network-locked;
}
.#{$md-css-prefix}-network-off:before {
	content: $md-var-network-off;
}
.#{$md-css-prefix}-network-outline:before {
	content: $md-var-network-outline;
}
.#{$md-css-prefix}-network-setting:before {
	content: $md-var-network-setting;
}
.#{$md-css-prefix}-network:before {
	content: $md-var-network;
}
.#{$md-css-prefix}-phone-bluetooth:before {
	content: $md-var-phone-bluetooth;
}
.#{$md-css-prefix}-phone-end:before {
	content: $md-var-phone-end;
}
.#{$md-css-prefix}-phone-forwarded:before {
	content: $md-var-phone-forwarded;
}
.#{$md-css-prefix}-phone-in-talk:before {
	content: $md-var-phone-in-talk;
}
.#{$md-css-prefix}-phone-locked:before {
	content: $md-var-phone-locked;
}
.#{$md-css-prefix}-phone-missed:before {
	content: $md-var-phone-missed;
}
.#{$md-css-prefix}-phone-msg:before {
	content: $md-var-phone-msg;
}
.#{$md-css-prefix}-phone-paused:before {
	content: $md-var-phone-paused;
}
.#{$md-css-prefix}-phone-ring:before {
	content: $md-var-phone-ring;
}
.#{$md-css-prefix}-phone-setting:before {
	content: $md-var-phone-setting;
}
.#{$md-css-prefix}-phone-sip:before {
	content: $md-var-phone-sip;
}
.#{$md-css-prefix}-phone:before {
	content: $md-var-phone;
}
.#{$md-css-prefix}-portable-wifi-changes:before {
	content: $md-var-portable-wifi-changes;
}
.#{$md-css-prefix}-portable-wifi-off:before {
	content: $md-var-portable-wifi-off;
}
.#{$md-css-prefix}-portable-wifi:before {
	content: $md-var-portable-wifi;
}
.#{$md-css-prefix}-radio:before {
	content: $md-var-radio;
}
.#{$md-css-prefix}-reader:before {
	content: $md-var-reader;
}
.#{$md-css-prefix}-remote-control-alt:before {
	content: $md-var-remote-control-alt;
}
.#{$md-css-prefix}-remote-control:before {
	content: $md-var-remote-control;
}
.#{$md-css-prefix}-router:before {
	content: $md-var-router;
}
.#{$md-css-prefix}-scanner:before {
	content: $md-var-scanner;
}
.#{$md-css-prefix}-smartphone-android:before {
	content: $md-var-smartphone-android;
}
.#{$md-css-prefix}-smartphone-download:before {
	content: $md-var-smartphone-download;
}
.#{$md-css-prefix}-smartphone-erase:before {
	content: $md-var-smartphone-erase;
}
.#{$md-css-prefix}-smartphone-info:before {
	content: $md-var-smartphone-info;
}
.#{$md-css-prefix}-smartphone-iphone:before {
	content: $md-var-smartphone-iphone;
}
.#{$md-css-prefix}-smartphone-landscape-lock:before {
	content: $md-var-smartphone-landscape-lock;
}
.#{$md-css-prefix}-smartphone-landscape:before {
	content: $md-var-smartphone-landscape;
}
.#{$md-css-prefix}-smartphone-lock:before {
	content: $md-var-smartphone-lock;
}
.#{$md-css-prefix}-smartphone-portrait-lock:before {
	content: $md-var-smartphone-portrait-lock;
}
.#{$md-css-prefix}-smartphone-ring:before {
	content: $md-var-smartphone-ring;
}
.#{$md-css-prefix}-smartphone-setting:before {
	content: $md-var-smartphone-setting;
}
.#{$md-css-prefix}-smartphone-setup:before {
	content: $md-var-smartphone-setup;
}
.#{$md-css-prefix}-smartphone:before {
	content: $md-var-smartphone;
}
.#{$md-css-prefix}-speaker:before {
	content: $md-var-speaker;
}
.#{$md-css-prefix}-tablet-android:before {
	content: $md-var-tablet-android;
}
.#{$md-css-prefix}-tablet-mac:before {
	content: $md-var-tablet-mac;
}
.#{$md-css-prefix}-tablet:before {
	content: $md-var-tablet;
}
.#{$md-css-prefix}-tv-alt-play:before {
	content: $md-var-tv-alt-play;
}
.#{$md-css-prefix}-tv-list:before {
	content: $md-var-tv-list;
}
.#{$md-css-prefix}-tv-play:before {
	content: $md-var-tv-play;
}
.#{$md-css-prefix}-tv:before {
	content: $md-var-tv;
}
.#{$md-css-prefix}-usb:before {
	content: $md-var-usb;
}
.#{$md-css-prefix}-videocam-off:before {
	content: $md-var-videocam-off;
}
.#{$md-css-prefix}-videocam-switch:before {
	content: $md-var-videocam-switch;
}
.#{$md-css-prefix}-videocam:before {
	content: $md-var-videocam;
}
.#{$md-css-prefix}-watch:before {
	content: $md-var-watch;
}
.#{$md-css-prefix}-wifi-alt-2:before {
	content: $md-var-wifi-alt-2;
}
.#{$md-css-prefix}-wifi-alt:before {
	content: $md-var-wifi-alt;
}
.#{$md-css-prefix}-wifi-info:before {
	content: $md-var-wifi-info;
}
.#{$md-css-prefix}-wifi-lock:before {
	content: $md-var-wifi-lock;
}
.#{$md-css-prefix}-wifi-off:before {
	content: $md-var-wifi-off;
}
.#{$md-css-prefix}-wifi-outline:before {
	content: $md-var-wifi-outline;
}
.#{$md-css-prefix}-wifi:before {
	content: $md-var-wifi;
}
.#{$md-css-prefix}-arrow-left-bottom:before {
	content: $md-var-arrow-left-bottom;
}
.#{$md-css-prefix}-arrow-left:before {
	content: $md-var-arrow-left;
}
.#{$md-css-prefix}-arrow-merge:before {
	content: $md-var-arrow-merge;
}
.#{$md-css-prefix}-arrow-missed:before {
	content: $md-var-arrow-missed;
}
.#{$md-css-prefix}-arrow-right-top:before {
	content: $md-var-arrow-right-top;
}
.#{$md-css-prefix}-arrow-right:before {
	content: $md-var-arrow-right;
}
.#{$md-css-prefix}-arrow-split:before {
	content: $md-var-arrow-split;
}
.#{$md-css-prefix}-arrows:before {
	content: $md-var-arrows;
}
.#{$md-css-prefix}-caret-down-circle:before {
	content: $md-var-caret-down-circle;
}
.#{$md-css-prefix}-caret-down:before {
	content: $md-var-caret-down;
}
.#{$md-css-prefix}-caret-left-circle:before {
	content: $md-var-caret-left-circle;
}
.#{$md-css-prefix}-caret-left:before {
	content: $md-var-caret-left;
}
.#{$md-css-prefix}-caret-right-circle:before {
	content: $md-var-caret-right-circle;
}
.#{$md-css-prefix}-caret-right:before {
	content: $md-var-caret-right;
}
.#{$md-css-prefix}-caret-up-circle:before {
	content: $md-var-caret-up-circle;
}
.#{$md-css-prefix}-caret-up:before {
	content: $md-var-caret-up;
}
.#{$md-css-prefix}-chevron-down:before {
	content: $md-var-chevron-down;
}
.#{$md-css-prefix}-chevron-left:before {
	content: $md-var-chevron-left;
}
.#{$md-css-prefix}-chevron-right:before {
	content: $md-var-chevron-right;
}
.#{$md-css-prefix}-chevron-up:before {
	content: $md-var-chevron-up;
}
.#{$md-css-prefix}-forward:before {
	content: $md-var-forward;
}
.#{$md-css-prefix}-long-arrow-down:before {
	content: $md-var-long-arrow-down;
}
.#{$md-css-prefix}-long-arrow-left:before {
	content: $md-var-long-arrow-left;
}
.#{$md-css-prefix}-long-arrow-return:before {
	content: $md-var-long-arrow-return;
}
.#{$md-css-prefix}-long-arrow-right:before {
	content: $md-var-long-arrow-right;
}
.#{$md-css-prefix}-long-arrow-tab:before {
	content: $md-var-long-arrow-tab;
}
.#{$md-css-prefix}-long-arrow-up:before {
	content: $md-var-long-arrow-up;
}
.#{$md-css-prefix}-rotate-ccw:before {
	content: $md-var-rotate-ccw;
}
.#{$md-css-prefix}-rotate-cw:before {
	content: $md-var-rotate-cw;
}
.#{$md-css-prefix}-rotate-left:before {
	content: $md-var-rotate-left;
}
.#{$md-css-prefix}-rotate-right:before {
	content: $md-var-rotate-right;
}
.#{$md-css-prefix}-square-down:before {
	content: $md-var-square-down;
}
.#{$md-css-prefix}-square-right:before {
	content: $md-var-square-right;
}
.#{$md-css-prefix}-swap-alt:before {
	content: $md-var-swap-alt;
}
.#{$md-css-prefix}-swap-vertical-circle:before {
	content: $md-var-swap-vertical-circle;
}
.#{$md-css-prefix}-swap-vertical:before {
	content: $md-var-swap-vertical;
}
.#{$md-css-prefix}-swap:before {
	content: $md-var-swap;
}
.#{$md-css-prefix}-trending-down:before {
	content: $md-var-trending-down;
}
.#{$md-css-prefix}-trending-flat:before {
	content: $md-var-trending-flat;
}
.#{$md-css-prefix}-trending-up:before {
	content: $md-var-trending-up;
}
.#{$md-css-prefix}-unfold-less:before {
	content: $md-var-unfold-less;
}
.#{$md-css-prefix}-unfold-more:before {
	content: $md-var-unfold-more;
}
.#{$md-css-prefix}-apps:before {
	content: $md-var-apps;
}
.#{$md-css-prefix}-grid-off:before {
	content: $md-var-grid-off;
}
.#{$md-css-prefix}-grid:before {
	content: $md-var-grid;
}
.#{$md-css-prefix}-view-agenda:before {
	content: $md-var-view-agenda;
}
.#{$md-css-prefix}-view-array:before {
	content: $md-var-view-array;
}
.#{$md-css-prefix}-view-carousel:before {
	content: $md-var-view-carousel;
}
.#{$md-css-prefix}-view-column:before {
	content: $md-var-view-column;
}
.#{$md-css-prefix}-view-comfy:before {
	content: $md-var-view-comfy;
}
.#{$md-css-prefix}-view-compact:before {
	content: $md-var-view-compact;
}
.#{$md-css-prefix}-view-dashboard:before {
	content: $md-var-view-dashboard;
}
.#{$md-css-prefix}-view-day:before {
	content: $md-var-view-day;
}
.#{$md-css-prefix}-view-headline:before {
	content: $md-var-view-headline;
}
.#{$md-css-prefix}-view-list-alt:before {
	content: $md-var-view-list-alt;
}
.#{$md-css-prefix}-view-list:before {
	content: $md-var-view-list;
}
.#{$md-css-prefix}-view-module:before {
	content: $md-var-view-module;
}
.#{$md-css-prefix}-view-quilt:before {
	content: $md-var-view-quilt;
}
.#{$md-css-prefix}-view-stream:before {
	content: $md-var-view-stream;
}
.#{$md-css-prefix}-view-subtitles:before {
	content: $md-var-view-subtitles;
}
.#{$md-css-prefix}-view-toc:before {
	content: $md-var-view-toc;
}
.#{$md-css-prefix}-view-web:before {
	content: $md-var-view-web;
}
.#{$md-css-prefix}-view-week:before {
	content: $md-var-view-week;
}
.#{$md-css-prefix}-widgets:before {
	content: $md-var-widgets;
}
.#{$md-css-prefix}-alarm-check:before {
	content: $md-var-alarm-check;
}
.#{$md-css-prefix}-alarm-off:before {
	content: $md-var-alarm-off;
}
.#{$md-css-prefix}-alarm-plus:before {
	content: $md-var-alarm-plus;
}
.#{$md-css-prefix}-alarm-snooze:before {
	content: $md-var-alarm-snooze;
}
.#{$md-css-prefix}-alarm:before {
	content: $md-var-alarm;
}
.#{$md-css-prefix}-calendar-alt:before {
	content: $md-var-calendar-alt;
}
.#{$md-css-prefix}-calendar-check:before {
	content: $md-var-calendar-check;
}
.#{$md-css-prefix}-calendar-close:before {
	content: $md-var-calendar-close;
}
.#{$md-css-prefix}-calendar-note:before {
	content: $md-var-calendar-note;
}
.#{$md-css-prefix}-calendar:before {
	content: $md-var-calendar;
}
.#{$md-css-prefix}-time-countdown:before {
	content: $md-var-time-countdown;
}
.#{$md-css-prefix}-time-interval:before {
	content: $md-var-time-interval;
}
.#{$md-css-prefix}-time-restore-setting:before {
	content: $md-var-time-restore-setting;
}
.#{$md-css-prefix}-time-restore:before {
	content: $md-var-time-restore;
}
.#{$md-css-prefix}-time:before {
	content: $md-var-time;
}
.#{$md-css-prefix}-timer-off:before {
	content: $md-var-timer-off;
}
.#{$md-css-prefix}-timer:before {
	content: $md-var-timer;
}
.#{$md-css-prefix}-android-alt:before {
	content: $md-var-android-alt;
}
.#{$md-css-prefix}-android:before {
	content: $md-var-android;
}
.#{$md-css-prefix}-apple:before {
	content: $md-var-apple;
}
.#{$md-css-prefix}-behance:before {
	content: $md-var-behance;
}
.#{$md-css-prefix}-codepen:before {
	content: $md-var-codepen;
}
.#{$md-css-prefix}-dribbble:before {
	content: $md-var-dribbble;
}
.#{$md-css-prefix}-dropbox:before {
	content: $md-var-dropbox;
}
.#{$md-css-prefix}-evernote:before {
	content: $md-var-evernote;
}
.#{$md-css-prefix}-facebook-box:before {
	content: $md-var-facebook-box;
}
.#{$md-css-prefix}-facebook:before {
	content: $md-var-facebook;
}
.#{$md-css-prefix}-github-box:before {
	content: $md-var-github-box;
}
.#{$md-css-prefix}-github:before {
	content: $md-var-github;
}
.#{$md-css-prefix}-google-drive:before {
	content: $md-var-google-drive;
}
.#{$md-css-prefix}-google-earth:before {
	content: $md-var-google-earth;
}
.#{$md-css-prefix}-google-glass:before {
	content: $md-var-google-glass;
}
.#{$md-css-prefix}-google-maps:before {
	content: $md-var-google-maps;
}
.#{$md-css-prefix}-google-pages:before {
	content: $md-var-google-pages;
}
.#{$md-css-prefix}-google-play:before {
	content: $md-var-google-play;
}
.#{$md-css-prefix}-google-plus-box:before {
	content: $md-var-google-plus-box;
}
.#{$md-css-prefix}-google-plus:before {
	content: $md-var-google-plus;
}
.#{$md-css-prefix}-google:before {
	content: $md-var-google;
}
.#{$md-css-prefix}-instagram:before {
	content: $md-var-instagram;
}
.#{$md-css-prefix}-language-css3:before {
	content: $md-var-language-css3;
}
.#{$md-css-prefix}-language-html5:before {
	content: $md-var-language-html5;
}
.#{$md-css-prefix}-language-javascript:before {
	content: $md-var-language-javascript;
}
.#{$md-css-prefix}-language-python-alt:before {
	content: $md-var-language-python-alt;
}
.#{$md-css-prefix}-language-python:before {
	content: $md-var-language-python;
}
.#{$md-css-prefix}-lastfm:before {
	content: $md-var-lastfm;
}
.#{$md-css-prefix}-linkedin-box:before {
	content: $md-var-linkedin-box;
}
.#{$md-css-prefix}-paypal:before {
	content: $md-var-paypal;
}
.#{$md-css-prefix}-pinterest-box:before {
	content: $md-var-pinterest-box;
}
.#{$md-css-prefix}-pocket:before {
	content: $md-var-pocket;
}
.#{$md-css-prefix}-polymer:before {
	content: $md-var-polymer;
}
.#{$md-css-prefix}-rss:before {
	content: $md-var-rss;
}
.#{$md-css-prefix}-share:before {
	content: $md-var-share;
}
.#{$md-css-prefix}-stackoverflow:before {
	content: $md-var-stackoverflow;
}
.#{$md-css-prefix}-steam-square:before {
	content: $md-var-steam-square;
}
.#{$md-css-prefix}-steam:before {
	content: $md-var-steam;
}
.#{$md-css-prefix}-twitter-box:before {
	content: $md-var-twitter-box;
}
.#{$md-css-prefix}-twitter:before {
	content: $md-var-twitter;
}
.#{$md-css-prefix}-vk:before {
	content: $md-var-vk;
}
.#{$md-css-prefix}-wikipedia:before {
	content: $md-var-wikipedia;
}
.#{$md-css-prefix}-windows:before {
	content: $md-var-windows;
}
.#{$md-css-prefix}-500px:before {
	content: $md-var-500px;
}
.#{$md-css-prefix}-8tracks:before {
	content: $md-var-8tracks;
}
.#{$md-css-prefix}-amazon:before {
	content: $md-var-amazon;
}
.#{$md-css-prefix}-blogger:before {
	content: $md-var-blogger;
}
.#{$md-css-prefix}-delicious:before {
	content: $md-var-delicious;
}
.#{$md-css-prefix}-disqus:before {
	content: $md-var-disqus;
}
.#{$md-css-prefix}-flattr:before {
	content: $md-var-flattr;
}
.#{$md-css-prefix}-flickr:before {
	content: $md-var-flickr;
}
.#{$md-css-prefix}-github-alt:before {
	content: $md-var-github-alt;
}
.#{$md-css-prefix}-google-old:before {
	content: $md-var-google-old;
}
.#{$md-css-prefix}-linkedin:before {
	content: $md-var-linkedin;
}
.#{$md-css-prefix}-odnoklassniki:before {
	content: $md-var-odnoklassniki;
}
.#{$md-css-prefix}-outlook:before {
	content: $md-var-outlook;
}
.#{$md-css-prefix}-paypal-alt:before {
	content: $md-var-paypal-alt;
}
.#{$md-css-prefix}-pinterest:before {
	content: $md-var-pinterest;
}
.#{$md-css-prefix}-playstation:before {
	content: $md-var-playstation;
}
.#{$md-css-prefix}-reddit:before {
	content: $md-var-reddit;
}
.#{$md-css-prefix}-skype:before {
	content: $md-var-skype;
}
.#{$md-css-prefix}-slideshare:before {
	content: $md-var-slideshare;
}
.#{$md-css-prefix}-soundcloud:before {
	content: $md-var-soundcloud;
}
.#{$md-css-prefix}-tumblr:before {
	content: $md-var-tumblr;
}
.#{$md-css-prefix}-twitch:before {
	content: $md-var-twitch;
}
.#{$md-css-prefix}-vimeo:before {
	content: $md-var-vimeo;
}
.#{$md-css-prefix}-whatsapp:before {
	content: $md-var-whatsapp;
}
.#{$md-css-prefix}-xbox:before {
	content: $md-var-xbox;
}
.#{$md-css-prefix}-yahoo:before {
	content: $md-var-yahoo;
}
.#{$md-css-prefix}-youtube-play:before {
	content: $md-var-youtube-play;
}
.#{$md-css-prefix}-youtube:before {
	content: $md-var-youtube;
}
.#{$md-css-prefix}-aspect-ratio-alt:before {
	content: $md-var-aspect-ratio-alt;
}
.#{$md-css-prefix}-aspect-ratio:before {
	content: $md-var-aspect-ratio;
}
.#{$md-css-prefix}-blur-circular:before {
	content: $md-var-blur-circular;
}
.#{$md-css-prefix}-blur-linear:before {
	content: $md-var-blur-linear;
}
.#{$md-css-prefix}-blur-off:before {
	content: $md-var-blur-off;
}
.#{$md-css-prefix}-blur:before {
	content: $md-var-blur;
}
.#{$md-css-prefix}-brightness-2:before {
	content: $md-var-brightness-2;
}
.#{$md-css-prefix}-brightness-3:before {
	content: $md-var-brightness-3;
}
.#{$md-css-prefix}-brightness-4:before {
	content: $md-var-brightness-4;
}
.#{$md-css-prefix}-brightness-5:before {
	content: $md-var-brightness-5;
}
.#{$md-css-prefix}-brightness-6:before {
	content: $md-var-brightness-6;
}
.#{$md-css-prefix}-brightness-7:before {
	content: $md-var-brightness-7;
}
.#{$md-css-prefix}-brightness-auto:before {
	content: $md-var-brightness-auto;
}
.#{$md-css-prefix}-brightness-setting:before {
	content: $md-var-brightness-setting;
}
.#{$md-css-prefix}-broken-image:before {
	content: $md-var-broken-image;
}
.#{$md-css-prefix}-center-focus-strong:before {
	content: $md-var-center-focus-strong;
}
.#{$md-css-prefix}-center-focus-weak:before {
	content: $md-var-center-focus-weak;
}
.#{$md-css-prefix}-compare:before {
	content: $md-var-compare;
}
.#{$md-css-prefix}-crop-16-9:before {
	content: $md-var-crop-16-9;
}
.#{$md-css-prefix}-crop-3-2:before {
	content: $md-var-crop-3-2;
}
.#{$md-css-prefix}-crop-5-4:before {
	content: $md-var-crop-5-4;
}
.#{$md-css-prefix}-crop-7-5:before {
	content: $md-var-crop-7-5;
}
.#{$md-css-prefix}-crop-din:before {
	content: $md-var-crop-din;
}
.#{$md-css-prefix}-crop-free:before {
	content: $md-var-crop-free;
}
.#{$md-css-prefix}-crop-landscape:before {
	content: $md-var-crop-landscape;
}
.#{$md-css-prefix}-crop-portrait:before {
	content: $md-var-crop-portrait;
}
.#{$md-css-prefix}-crop-square:before {
	content: $md-var-crop-square;
}
.#{$md-css-prefix}-exposure-alt:before {
	content: $md-var-exposure-alt;
}
.#{$md-css-prefix}-exposure:before {
	content: $md-var-exposure;
}
.#{$md-css-prefix}-filter-b-and-w:before {
	content: $md-var-filter-b-and-w;
}
.#{$md-css-prefix}-filter-center-focus:before {
	content: $md-var-filter-center-focus;
}
.#{$md-css-prefix}-filter-frames:before {
	content: $md-var-filter-frames;
}
.#{$md-css-prefix}-filter-tilt-shift:before {
	content: $md-var-filter-tilt-shift;
}
.#{$md-css-prefix}-gradient:before {
	content: $md-var-gradient;
}
.#{$md-css-prefix}-grain:before {
	content: $md-var-grain;
}
.#{$md-css-prefix}-graphic-eq:before {
	content: $md-var-graphic-eq;
}
.#{$md-css-prefix}-hdr-off:before {
	content: $md-var-hdr-off;
}
.#{$md-css-prefix}-hdr-strong:before {
	content: $md-var-hdr-strong;
}
.#{$md-css-prefix}-hdr-weak:before {
	content: $md-var-hdr-weak;
}
.#{$md-css-prefix}-hdr:before {
	content: $md-var-hdr;
}
.#{$md-css-prefix}-iridescent:before {
	content: $md-var-iridescent;
}
.#{$md-css-prefix}-leak-off:before {
	content: $md-var-leak-off;
}
.#{$md-css-prefix}-leak:before {
	content: $md-var-leak;
}
.#{$md-css-prefix}-looks:before {
	content: $md-var-looks;
}
.#{$md-css-prefix}-loupe:before {
	content: $md-var-loupe;
}
.#{$md-css-prefix}-panorama-horizontal:before {
	content: $md-var-panorama-horizontal;
}
.#{$md-css-prefix}-panorama-vertical:before {
	content: $md-var-panorama-vertical;
}
.#{$md-css-prefix}-panorama-wide-angle:before {
	content: $md-var-panorama-wide-angle;
}
.#{$md-css-prefix}-photo-size-select-large:before {
	content: $md-var-photo-size-select-large;
}
.#{$md-css-prefix}-photo-size-select-small:before {
	content: $md-var-photo-size-select-small;
}
.#{$md-css-prefix}-picture-in-picture:before {
	content: $md-var-picture-in-picture;
}
.#{$md-css-prefix}-slideshow:before {
	content: $md-var-slideshow;
}
.#{$md-css-prefix}-texture:before {
	content: $md-var-texture;
}
.#{$md-css-prefix}-tonality:before {
	content: $md-var-tonality;
}
.#{$md-css-prefix}-vignette:before {
	content: $md-var-vignette;
}
.#{$md-css-prefix}-wb-auto:before {
	content: $md-var-wb-auto;
}
.#{$md-css-prefix}-eject-alt:before {
	content: $md-var-eject-alt;
}
.#{$md-css-prefix}-eject:before {
	content: $md-var-eject;
}
.#{$md-css-prefix}-equalizer:before {
	content: $md-var-equalizer;
}
.#{$md-css-prefix}-fast-forward:before {
	content: $md-var-fast-forward;
}
.#{$md-css-prefix}-fast-rewind:before {
	content: $md-var-fast-rewind;
}
.#{$md-css-prefix}-forward-10:before {
	content: $md-var-forward-10;
}
.#{$md-css-prefix}-forward-30:before {
	content: $md-var-forward-30;
}
.#{$md-css-prefix}-forward-5:before {
	content: $md-var-forward-5;
}
.#{$md-css-prefix}-hearing:before {
	content: $md-var-hearing;
}
.#{$md-css-prefix}-pause-circle-outline:before {
	content: $md-var-pause-circle-outline;
}
.#{$md-css-prefix}-pause-circle:before {
	content: $md-var-pause-circle;
}
.#{$md-css-prefix}-pause:before {
	content: $md-var-pause;
}
.#{$md-css-prefix}-play-circle-outline:before {
	content: $md-var-play-circle-outline;
}
.#{$md-css-prefix}-play-circle:before {
	content: $md-var-play-circle;
}
.#{$md-css-prefix}-play:before {
	content: $md-var-play;
}
.#{$md-css-prefix}-playlist-audio:before {
	content: $md-var-playlist-audio;
}
.#{$md-css-prefix}-playlist-plus:before {
	content: $md-var-playlist-plus;
}
.#{$md-css-prefix}-repeat-one:before {
	content: $md-var-repeat-one;
}
.#{$md-css-prefix}-repeat:before {
	content: $md-var-repeat;
}
.#{$md-css-prefix}-replay-10:before {
	content: $md-var-replay-10;
}
.#{$md-css-prefix}-replay-30:before {
	content: $md-var-replay-30;
}
.#{$md-css-prefix}-replay-5:before {
	content: $md-var-replay-5;
}
.#{$md-css-prefix}-replay:before {
	content: $md-var-replay;
}
.#{$md-css-prefix}-shuffle:before {
	content: $md-var-shuffle;
}
.#{$md-css-prefix}-skip-next:before {
	content: $md-var-skip-next;
}
.#{$md-css-prefix}-skip-previous:before {
	content: $md-var-skip-previous;
}
.#{$md-css-prefix}-stop:before {
	content: $md-var-stop;
}
.#{$md-css-prefix}-surround-sound:before {
	content: $md-var-surround-sound;
}
.#{$md-css-prefix}-tune:before {
	content: $md-var-tune;
}
.#{$md-css-prefix}-volume-down:before {
	content: $md-var-volume-down;
}
.#{$md-css-prefix}-volume-mute:before {
	content: $md-var-volume-mute;
}
.#{$md-css-prefix}-volume-off:before {
	content: $md-var-volume-off;
}
.#{$md-css-prefix}-volume-up:before {
	content: $md-var-volume-up;
}
.#{$md-css-prefix}-n-1-square:before {
	content: $md-var-n-1-square;
}
.#{$md-css-prefix}-n-2-square:before {
	content: $md-var-n-2-square;
}
.#{$md-css-prefix}-n-3-square:before {
	content: $md-var-n-3-square;
}
.#{$md-css-prefix}-n-4-square:before {
	content: $md-var-n-4-square;
}
.#{$md-css-prefix}-n-5-square:before {
	content: $md-var-n-5-square;
}
.#{$md-css-prefix}-n-6-square:before {
	content: $md-var-n-6-square;
}
.#{$md-css-prefix}-neg-1:before {
	content: $md-var-neg-1;
}
.#{$md-css-prefix}-neg-2:before {
	content: $md-var-neg-2;
}
.#{$md-css-prefix}-plus-1:before {
	content: $md-var-plus-1;
}
.#{$md-css-prefix}-plus-2:before {
	content: $md-var-plus-2;
}
.#{$md-css-prefix}-sec-10:before {
	content: $md-var-sec-10;
}
.#{$md-css-prefix}-sec-3:before {
	content: $md-var-sec-3;
}
.#{$md-css-prefix}-zero:before {
	content: $md-var-zero;
}
.#{$md-css-prefix}-airline-seat-flat-angled:before {
	content: $md-var-airline-seat-flat-angled;
}
.#{$md-css-prefix}-airline-seat-flat:before {
	content: $md-var-airline-seat-flat;
}
.#{$md-css-prefix}-airline-seat-individual-suite:before {
	content: $md-var-airline-seat-individual-suite;
}
.#{$md-css-prefix}-airline-seat-legroom-extra:before {
	content: $md-var-airline-seat-legroom-extra;
}
.#{$md-css-prefix}-airline-seat-legroom-normal:before {
	content: $md-var-airline-seat-legroom-normal;
}
.#{$md-css-prefix}-airline-seat-legroom-reduced:before {
	content: $md-var-airline-seat-legroom-reduced;
}
.#{$md-css-prefix}-airline-seat-recline-extra:before {
	content: $md-var-airline-seat-recline-extra;
}
.#{$md-css-prefix}-airline-seat-recline-normal:before {
	content: $md-var-airline-seat-recline-normal;
}
.#{$md-css-prefix}-airplay:before {
	content: $md-var-airplay;
}
.#{$md-css-prefix}-closed-caption:before {
	content: $md-var-closed-caption;
}
.#{$md-css-prefix}-confirmation-number:before {
	content: $md-var-confirmation-number;
}
.#{$md-css-prefix}-developer-board:before {
	content: $md-var-developer-board;
}
.#{$md-css-prefix}-disc-full:before {
	content: $md-var-disc-full;
}
.#{$md-css-prefix}-explicit:before {
	content: $md-var-explicit;
}
.#{$md-css-prefix}-flight-land:before {
	content: $md-var-flight-land;
}
.#{$md-css-prefix}-flight-takeoff:before {
	content: $md-var-flight-takeoff;
}
.#{$md-css-prefix}-flip-to-back:before {
	content: $md-var-flip-to-back;
}
.#{$md-css-prefix}-flip-to-front:before {
	content: $md-var-flip-to-front;
}
.#{$md-css-prefix}-group-work:before {
	content: $md-var-group-work;
}
.#{$md-css-prefix}-hd:before {
	content: $md-var-hd;
}
.#{$md-css-prefix}-hq:before {
	content: $md-var-hq;
}
.#{$md-css-prefix}-markunread-mailbox:before {
	content: $md-var-markunread-mailbox;
}
.#{$md-css-prefix}-memory:before {
	content: $md-var-memory;
}
.#{$md-css-prefix}-nfc:before {
	content: $md-var-nfc;
}
.#{$md-css-prefix}-play-for-work:before {
	content: $md-var-play-for-work;
}
.#{$md-css-prefix}-power-input:before {
	content: $md-var-power-input;
}
.#{$md-css-prefix}-present-to-all:before {
	content: $md-var-present-to-all;
}
.#{$md-css-prefix}-satellite:before {
	content: $md-var-satellite;
}
.#{$md-css-prefix}-tap-and-play:before {
	content: $md-var-tap-and-play;
}
.#{$md-css-prefix}-vibration:before {
	content: $md-var-vibration;
}
.#{$md-css-prefix}-voicemail:before {
	content: $md-var-voicemail;
}
